Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Add dump to pickle_module
  src/garage/experiment/snapshotter.py
Due: check-pylint-normal

Test adding global device in test_snapshotter
  tests/garage/experiment/test_snapshotter.py
Due: check-pylint-unit-tests

Change type of reward in EnvStep
  src/garage/_environment.py
Due: check-pylint-normal

Add build hook for garage-base docker image
  docker/hooks/build
Due: none

Fix dimensionality of log_std in GaussianMLPModule
  src/garage/torch/modules/gaussian_mlp_module.py
  tests/garage/torch/modules/test_gaussian_mlp_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix dimensionality of log_std in GaussianMLPModule (#2266)
  src/garage/torch/modules/gaussian_mlp_module.py
  tests/garage/torch/modules/test_gaussian_mlp_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix double action sampling in PEARLWorker
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Change type of reward in EnvStep (#2274)
  src/garage/_environment.py
Due: check-pylint-normal

disable archive launch repo default
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Don't use TF 2.5.0
  setup.py
Due: check-pylint-normal

Don't use TF 2.5.0 (#2278)
  setup.py
Due: check-pylint-normal

Pin atari-py to last release with packaged ROMs
  setup.py
Due: check-pylint-normal

Pin atari-py to last release with packaged ROMs (#2281)
  setup.py
Due: check-pylint-normal

Add mergify config for release 2021.03
  .mergify.yml
Due: none

Unpin torch and torchvision (ref #2248)
  setup.py
Due: check-pylint-normal

Update to sample new tasks after a certain number of epochs
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
  metaworld_launchers/launchers-mt50/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt50/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt50/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt50/launch-instances-te.py
  metaworld_launchers/mt10/mtppo_metaworld_mt10.py
  metaworld_launchers/mt10/mtsac_metaworld_mt10.py
  metaworld_launchers/mt10/mttrpo_metaworld_mt10.py
  metaworld_launchers/mt10/te_ppo_metaworld_mt10.py
  metaworld_launchers/mt50/mtppo_metaworld_mt50.py
  metaworld_launchers/mt50/mtsac_metaworld_mt50.py
  metaworld_launchers/mt50/mttrpo_metaworld_mt50.py
  metaworld_launchers/mt50/te_ppo_metaworld_mt50.py
  src/garage/sampler/__init__.py
  src/garage/sampler/evaluation_worker.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/te_ppo.py
  src/garage/tf/algos/trpo.py
  src/garage/torch/algos/mtsac.py
Due: check-pylint-normal

Update PEARL sampling params
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  metaworld_launchers/ml10/pearl_metaworld_ml10.py
  metaworld_launchers/ml45/pearl_metaworld_ml45.py
Due: check-pylint-normal

Fixed MAML ML45
  metaworld_launchers/ml45/maml_trpo_metaworld_ml45.py
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

PEARL ML1 with kate's recommendations
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Prevent broken tf-prob installs
  setup.py
Due: check-pylint-normal

Prevent broken tf-prob installs (#2289)
  setup.py
Due: check-pylint-normal

Make NABC work
  src/garage/_dtypes.py
  src/garage/envs/gym_env.py
  src/garage/sampler/replay_buffer_sampler.py
  src/garage/torch/algos/bc2.py
Due: check-pylint-normal

Move gym dependency to extras
  setup.py
Due: check-pylint-normal

Move tensorflow to extras
  setup.py
Due: check-pylint-normal

Added CAPS regularization to torch/sac
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Added CAPS regularization to torch/sac (#2305)
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Make TF Optional
  .github/workflows/ci.yml
  setup.py
  src/garage/sampler/worker_factory.py
  src/garage/torch/algos/sac.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Make TF Optional (#2304)
  .github/workflows/ci.yml
  setup.py
  src/garage/sampler/worker_factory.py
  src/garage/torch/algos/sac.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Attempt to fix CI
  .github/workflows/ci.yml
Due: none

Fix CI by disabling delete-package-version (#2306)
  .github/workflows/ci.yml
Due: none

Disable pipenv verification in CI
  .github/workflows/ci.yml
Due: none

Disable pipenv verification in CI (#2308)
  .github/workflows/ci.yml
Due: none

Allow mujoco-py 2.1
  setup.py
Due: check-pylint-normal
