Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Add PPO, TRPO Meta-World example
  examples/torch/maml_trpo_metaworld_ml1_push.py
  examples/torch/mtppo_metaworld_ml1_push.py
  examples/torch/mtppo_metaworld_mt10.py
  examples/torch/mtppo_metaworld_mt50.py
  examples/torch/mttrpo_metaworld_ml1_push.py
  examples/torch/mttrpo_metaworld_mt10.py
  examples/torch/mttrpo_metaworld_mt50.py
  src/garage/torch/algos/maml.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add PPO, TRPO Meta-World example (#1327)
  examples/torch/maml_trpo_metaworld_ml1_push.py
  examples/torch/mtppo_metaworld_ml1_push.py
  examples/torch/mtppo_metaworld_mt10.py
  examples/torch/mtppo_metaworld_mt50.py
  examples/torch/mttrpo_metaworld_ml1_push.py
  examples/torch/mttrpo_metaworld_mt10.py
  examples/torch/mttrpo_metaworld_mt50.py
  src/garage/torch/algos/maml.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Use cloudpickle in old-style samplers
  src/garage/experiment/experiment_wrapper.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/parallel_sampler.py
  src/garage/sampler/parallel_vec_env_executor.py
Due: check-pylint-normal

Use cloudpickle in old-style samplers (#1371)
  src/garage/experiment/experiment_wrapper.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/parallel_sampler.py
  src/garage/sampler/parallel_vec_env_executor.py
Due: check-pylint-normal

Relax timeout limit on MAML ML10
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Relax timeout limit on MAML ML10 (#1389)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Make runner._sampler optional
  src/garage/experiment/local_runner.py
  src/garage/tf/experiment/local_tf_runner.py
  tests/garage/experiment/test_local_runner.py
  tests/garage/experiment/test_resume.py
Due: check-pylint-normal, check-pylint-unit-tests

Make runner._sampler optional (#1394)
  src/garage/experiment/local_runner.py
  src/garage/tf/experiment/local_tf_runner.py
  tests/garage/experiment/test_local_runner.py
  tests/garage/experiment/test_resume.py
Due: check-pylint-normal, check-pylint-unit-tests

Make Metaworld-based example naming consistent
  examples/tf/ddpg_pendulum.py
  examples/tf/ppo_pendulum.py
  examples/tf/rl2_ppo_metaworld_ml10.py
  examples/tf/rl2_ppo_metaworld_ml10_meta_test.py
  examples/tf/rl2_ppo_metaworld_ml1_push.py
  examples/tf/rl2_ppo_metaworld_ml45.py
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_metaworld_ml10.py
  examples/torch/maml_trpo_metaworld_ml1_push.py
  examples/torch/maml_trpo_metaworld_ml45.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  examples/torch/mtppo_metaworld_ml1_push.py
  examples/torch/mtppo_metaworld_mt10.py
  examples/torch/mtppo_metaworld_mt50.py
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/mttrpo_metaworld_ml1_push.py
  examples/torch/mttrpo_metaworld_mt10.py
  examples/torch/mttrpo_metaworld_mt50.py
  examples/torch/pearl_half_cheetah_vel.py
  examples/torch/pearl_metaworld_ml10.py
  examples/torch/pearl_metaworld_ml1_push.py
  examples/torch/pearl_metaworld_ml45.py
  examples/torch/ppo_pendulum.py
  examples/torch/sac_half_cheetah_batch.py
  examples/torch/trpo_pendulum_ray_sampler.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Make Metaworld-based example naming consistent (#1393)
  examples/tf/ddpg_pendulum.py
  examples/tf/ppo_pendulum.py
  examples/tf/rl2_ppo_metaworld_ml10.py
  examples/tf/rl2_ppo_metaworld_ml10_meta_test.py
  examples/tf/rl2_ppo_metaworld_ml1_push.py
  examples/tf/rl2_ppo_metaworld_ml45.py
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_metaworld_ml10.py
  examples/torch/maml_trpo_metaworld_ml1_push.py
  examples/torch/maml_trpo_metaworld_ml45.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  examples/torch/mtppo_metaworld_ml1_push.py
  examples/torch/mtppo_metaworld_mt10.py
  examples/torch/mtppo_metaworld_mt50.py
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/mttrpo_metaworld_ml1_push.py
  examples/torch/mttrpo_metaworld_mt10.py
  examples/torch/mttrpo_metaworld_mt50.py
  examples/torch/pearl_half_cheetah_vel.py
  examples/torch/pearl_metaworld_ml10.py
  examples/torch/pearl_metaworld_ml1_push.py
  examples/torch/pearl_metaworld_ml45.py
  examples/torch/ppo_pendulum.py
  examples/torch/sac_half_cheetah_batch.py
  examples/torch/trpo_pendulum_ray_sampler.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Separate algorithm benchmarks from tests
  benchmarks/__init__.py
  benchmarks/benchmark_algos.py
  benchmarks/experiments/__init__.py
  benchmarks/experiments/algos/__init__.py
  benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/experiments/algos/ppo_garage_pytorch.py
  benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/experiments/algos/trpo_garage_pytorch.py
  benchmarks/experiments/algos/trpo_garage_tf.py
  benchmarks/experiments/algos/vpg_garage_pytorch.py
  benchmarks/experiments/algos/vpg_garage_tf.py
  benchmarks/helper.py
  tests/benchmarks/auto/__init__.py
  tests/benchmarks/auto/benchmarks.py
  tests/benchmarks/auto/experiments/__init__.py
  tests/benchmarks/garage/tf/algos/__init__.py
  tests/benchmarks/garage/tf/algos/benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/benchmark_her.py
  tests/benchmarks/garage/tf/algos/benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/benchmark_td3.py
  tests/benchmarks/garage/tf/algos/benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_vpg.py
Due: check-pylint-normal

Separate algorithm benchmarks from tests (#1395)
  benchmarks/__init__.py
  benchmarks/benchmark_algos.py
  benchmarks/experiments/__init__.py
  benchmarks/experiments/algos/__init__.py
  benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/experiments/algos/ppo_garage_pytorch.py
  benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/experiments/algos/trpo_garage_pytorch.py
  benchmarks/experiments/algos/trpo_garage_tf.py
  benchmarks/experiments/algos/vpg_garage_pytorch.py
  benchmarks/experiments/algos/vpg_garage_tf.py
  benchmarks/helper.py
  tests/benchmarks/auto/__init__.py
  tests/benchmarks/auto/benchmarks.py
  tests/benchmarks/auto/experiments/__init__.py
  tests/benchmarks/garage/tf/algos/__init__.py
  tests/benchmarks/garage/tf/algos/benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/benchmark_her.py
  tests/benchmarks/garage/tf/algos/benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/benchmark_td3.py
  tests/benchmarks/garage/tf/algos/benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_vpg.py
Due: check-pylint-normal

Fix LocalRunner test failure
  tests/garage/experiment/test_local_runner.py
Due: check-pylint-unit-tests

Make test_trpo_cnn_cubecrash less flaky
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Deflake trpo cnn cubecrash (#1401)
  tests/garage/experiment/test_local_runner.py
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Disable pytest-xdist in the CI
  setup.cfg
Due: none

Disable pytest-xdist in the CI (#1405)
  setup.cfg
Due: none

Remove pytest benchmark mark
  Makefile
  setup.cfg
Due: none

Install dm_control from PyPI (#1247)
  setup.py
  src/garage/envs/dm_control/dm_control_env.py
Due: check-pylint-normal

Remove pytest benchmark mark (#1402)
  Makefile
  setup.cfg
Due: none

Refactor baseline benchmarks
  benchmarks/benchmark_baselines.py
  benchmarks/experiments/baselines/__init__.py
  benchmarks/experiments/baselines/continuous_mlp_baseline_tf.py
  benchmarks/experiments/baselines/gaussian_cnn_baseline_tf.py
  benchmarks/experiments/baselines/gaussian_mlp_baseline_tf.py
Due: check-pylint-normal

Refactor baseline benchmarks
  benchmarks/benchmark_algos.py
  benchmarks/benchmark_baselines.py
  benchmarks/helper.py
  benchmarks/parameters.py
  tests/benchmarks/garage/tf/baselines/__init__.py
  tests/benchmarks/garage/tf/baselines/benchmark_continuous_mlp_baseline.py
  tests/benchmarks/garage/tf/baselines/benchmark_gaussian_cnn_baseline.py
  tests/benchmarks/garage/tf/baselines/benchmark_gaussian_mlp_baseline.py
Due: check-pylint-normal

Refactor baseline benchmarks (#1400)
  benchmarks/benchmark_algos.py
  benchmarks/benchmark_baselines.py
  benchmarks/experiments/baselines/__init__.py
  benchmarks/experiments/baselines/continuous_mlp_baseline_tf.py
  benchmarks/experiments/baselines/gaussian_cnn_baseline_tf.py
  benchmarks/experiments/baselines/gaussian_mlp_baseline_tf.py
  benchmarks/helper.py
  benchmarks/parameters.py
  tests/benchmarks/garage/tf/baselines/__init__.py
  tests/benchmarks/garage/tf/baselines/benchmark_continuous_mlp_baseline.py
  tests/benchmarks/garage/tf/baselines/benchmark_gaussian_cnn_baseline.py
  tests/benchmarks/garage/tf/baselines/benchmark_gaussian_mlp_baseline.py
Due: check-pylint-normal

Create garage_benchmarks package
  benchmarks/experiments/algos/__init__.py
  benchmarks/experiments/baselines/__init__.py
  benchmarks/garage_benchmarks/__init__.py
  benchmarks/garage_benchmarks/benchmark_algos.py
  benchmarks/garage_benchmarks/benchmark_baselines.py
  benchmarks/garage_benchmarks/experiments/__init__.py
  benchmarks/garage_benchmarks/experiments/algos/__init__.py
  benchmarks/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/ppo_garage_pytorch.py
  benchmarks/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/trpo_garage_pytorch.py
  benchmarks/garage_benchmarks/experiments/algos/trpo_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/vpg_garage_pytorch.py
  benchmarks/garage_benchmarks/experiments/algos/vpg_garage_tf.py
  benchmarks/garage_benchmarks/experiments/baselines/__init__.py
  benchmarks/garage_benchmarks/experiments/baselines/continuous_mlp_baseline_tf.py
  benchmarks/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline_tf.py
  benchmarks/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline_tf.py
  benchmarks/garage_benchmarks/helper.py
  benchmarks/garage_benchmarks/parameters.py
  benchmarks/garage_benchmarks/setup.py
Due: check-pylint-normal

Create garage_benchmarks package (#1411)
  benchmarks/experiments/algos/__init__.py
  benchmarks/experiments/baselines/__init__.py
  benchmarks/garage_benchmarks/__init__.py
  benchmarks/garage_benchmarks/benchmark_algos.py
  benchmarks/garage_benchmarks/benchmark_baselines.py
  benchmarks/garage_benchmarks/experiments/__init__.py
  benchmarks/garage_benchmarks/experiments/algos/__init__.py
  benchmarks/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/ppo_garage_pytorch.py
  benchmarks/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/trpo_garage_pytorch.py
  benchmarks/garage_benchmarks/experiments/algos/trpo_garage_tf.py
  benchmarks/garage_benchmarks/experiments/algos/vpg_garage_pytorch.py
  benchmarks/garage_benchmarks/experiments/algos/vpg_garage_tf.py
  benchmarks/garage_benchmarks/experiments/baselines/__init__.py
  benchmarks/garage_benchmarks/experiments/baselines/continuous_mlp_baseline_tf.py
  benchmarks/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline_tf.py
  benchmarks/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline_tf.py
  benchmarks/garage_benchmarks/helper.py
  benchmarks/garage_benchmarks/parameters.py
  benchmarks/garage_benchmarks/setup.py
Due: check-pylint-normal

Update all examples to not use run_experiment
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
  examples/np/cma_es_cartpole.py
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  examples/tf/her_ddpg_fetchreach.py
  examples/tf/multi_env_ppo.py
  examples/tf/multi_env_trpo.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/reps_gym_cartpole.py
  examples/tf/td3_pendulum.py
  examples/tf/trpo_cartpole.py
  examples/tf/trpo_cartpole_batch_sampler.py
  examples/tf/trpo_cubecrash.py
  examples/tf/trpo_gym_tf_cartpole.py
  examples/tf/trpo_swimmer.py
  examples/tf/trpois_inverted_pendulum.py
  examples/tf/vpg_cartpole.py
  examples/tf/vpgis_inverted_pendulum.py
  examples/torch/ddpg_pendulum.py
  examples/torch/trpo_pendulum.py
  examples/torch/vpg_pendulum.py
Due: check-pylint-normal

Update all examples to not use run_experiment (#1412)
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
  examples/np/cma_es_cartpole.py
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  examples/tf/her_ddpg_fetchreach.py
  examples/tf/multi_env_ppo.py
  examples/tf/multi_env_trpo.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/reps_gym_cartpole.py
  examples/tf/td3_pendulum.py
  examples/tf/trpo_cartpole.py
  examples/tf/trpo_cartpole_batch_sampler.py
  examples/tf/trpo_cubecrash.py
  examples/tf/trpo_gym_tf_cartpole.py
  examples/tf/trpo_swimmer.py
  examples/tf/trpois_inverted_pendulum.py
  examples/tf/vpg_cartpole.py
  examples/tf/vpgis_inverted_pendulum.py
  examples/torch/ddpg_pendulum.py
  examples/torch/trpo_pendulum.py
  examples/torch/vpg_pendulum.py
Due: check-pylint-normal

Make wrap_exp's archiving handle deleted files
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Make wrap_exp's archiving handle deleted files (#1396)
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Separate benchmark dependencies from dev
  benchmarks/setup.py
  setup.py
  src/garage/replay_buffer/replay_buffer.py
  src/garage/torch/optimizers/optimizer_wrapper.py
  tests/benchmark_helper.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/helpers.py
Due: check-pylint-normal

Create a 'benchmarks' extra, separate from 'dev'
  setup.py
Due: check-pylint-normal

Create a 'benchmarks' extra, separate from 'dev' (#1325)
  benchmarks/setup.py
  setup.py
  src/garage/replay_buffer/replay_buffer.py
  src/garage/torch/optimizers/optimizer_wrapper.py
  tests/benchmark_helper.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/helpers.py
Due: check-pylint-normal

Create .dockerignore
  .dockerignore
Due: none

Create .dockerignore (#1415)
  .dockerignore
Due: none

Add run script for benchmarking
  benchmarks/setup.py
  benchmarks/src/garage_benchmarks/benchmark_auto.py
  benchmarks/src/garage_benchmarks/run_benchmarks.py
Due: check-pylint-normal

Add run script for benchmarking (#1408)
  benchmarks/setup.py
  benchmarks/src/garage_benchmarks/benchmark_auto.py
  benchmarks/src/garage_benchmarks/run_benchmarks.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
