Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

First draft on pre-training doc
  docs/user/pretrained_network_experiment.md
Due: none

Add pretrain example
  docs/user/pretrained_network_experiment.md
  examples/jupyter/pretrained_trpo_gym_tf_cartpole.ipynb
Due: none

Second draft
  .gitignore
  docs/user/pretrained_network_experiment.md
Due: none

Documentation on save, load, and resume experiments (#1615)
  .gitignore
  docs/index.md
  docs/user/save_load_resume_exp.md
  examples/tf/trpo_gym_tf_cartpole_pretrained.py
Due: check-pylint-normal

Add behavioral cloning to README.md (#1691)
  README.md
Due: none

Remove docs build from pre-commit job
  Makefile
Due: none

Remove docs build from pre-commit job (#1680)
  Makefile
Due: none

Create DATA_PATH dir for docker if not exists
  Makefile
Due: none

Create DATA_PATH dir for docker if not exists (#1689)
  Makefile
Due: none

Refactor ContinuousMLPBaseline
  benchmarks/src/garage_benchmarks/experiments/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/regressors/__init__.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/baselines/test_continuous_mlp_baseline.py
  tests/garage/tf/regressors/test_continuous_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Skip commit message checks for automated backports
  scripts/check_commit_message
Due: none

Specify cloudpickle version for compatibility (#1688)
  setup.py
Due: check-pylint-normal

Refactor ContinuousMLPBaseline (#1686)
  benchmarks/src/garage_benchmarks/experiments/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/regressors/__init__.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/baselines/test_continuous_mlp_baseline.py
  tests/garage/tf/regressors/test_continuous_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Add garage.sampler to API Reference
  docs/index.md
Due: none

Allow setting x-axis in wrap_experiment
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Make plotting work with BC
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Hack to fix unpickling old snapshots
  src/garage/sampler/off_policy_vectorized_sampler.py
Due: check-pylint-normal

Add garage.sampler to API Reference (#1693)
  docs/index.md
Due: none

Retry during coverage upload
  Makefile
Due: none

Retry during coverage upload (#1683)
  Makefile
Due: none

Open browser when docs are done building
  Makefile
  docs/Makefile
Due: none

Open browser when docs are done building (#1696)
  Makefile
  docs/Makefile
Due: none

Update docker documentation
  docs/index.md
  docs/user/docker.md
Due: none

Update docker documentation (#1690)
  docs/index.md
  docs/user/docker.md
Due: none

Make docs headings more consistent
  docs/user/experiments.rst
  docs/user/implement_algo.rst
  docs/user/implement_env.rst
  docs/user/monitor_experiments_with_tensorboard.md
  docs/user/pixel_observations.md
  docs/user/save_load_resume_exp.md
  docs/user/training_a_policy.md
  docs/user/writing_documentation.md
Due: none

Make docs headings more consistent (#1695)
  docs/user/experiments.rst
  docs/user/implement_algo.rst
  docs/user/implement_env.rst
  docs/user/monitor_experiments_with_tensorboard.md
  docs/user/pixel_observations.md
  docs/user/save_load_resume_exp.md
  docs/user/training_a_policy.md
  docs/user/writing_documentation.md
Due: none

Skip commit message check for backports
  scripts/check_commit_message
Due: none

Skip commit message check for backports (#1697)
  scripts/check_commit_message
Due: none

Update pre-commit hook revisions
  .pre-commit-config.yaml
Due: none

Update pre-commit hook revisions (#1703)
  .pre-commit-config.yaml
Due: none

GarageEnv wraps BulletEnv
  src/garage/envs/bullet/__init__.py
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/garage_env.py
  tests/garage/envs/bullet/test_bullet_env.py
  tests/garage/tf/envs/test_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Add tests
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/garage_env.py
  tests/garage/envs/bullet/test_bullet_env.py
  tests/garage/envs/test_garage_env.py
Due: check-pylint-normal, check-pylint-unit-tests

GarageEnv wraps BulletEnv (#1684)
  src/garage/envs/bullet/__init__.py
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/garage_env.py
  tests/garage/envs/bullet/test_bullet_env.py
  tests/garage/envs/test_garage_env.py
  tests/garage/tf/envs/test_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Update version for v2020.09.0rc2
  VERSION
Due: none

Update version for v2020.09.0rc2 (#1708)
  VERSION
Due: none

Set low max episode step in test
  tests/garage/envs/bullet/test_bullet_env.py
Due: check-pylint-unit-tests

Set low max episode step in test (#1710)
  tests/garage/envs/bullet/test_bullet_env.py
Due: check-pylint-unit-tests

Fix formatting in dummy policy init
  tests/fixtures/policies/dummy_policy.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
