Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Automatic script TRPO
  tests/benchmarks/auto/test_auto_benchmark_ppo.py
  tests/benchmarks/auto/test_auto_benchmark_trpo.py
Due: check-pylint-normal

Automatic script TRPO (#1310)
  tests/benchmarks/auto/test_auto_benchmark_ppo.py
  tests/benchmarks/auto/test_auto_benchmark_trpo.py
Due: check-pylint-normal

Re-enable after_n_builds in codecov
  .codecov.yml
Due: none

Re-enable after_n_builds in codecov (#1315)
  .codecov.yml
Due: none

Add the "MultiprocessingSampler"
  setup.py
  src/garage/sampler/__init__.py
  src/garage/sampler/multiprocessing_sampler.py
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Add the "MultiprocessingSampler" (#1298)
  setup.py
  src/garage/sampler/__init__.py
  src/garage/sampler/multiprocessing_sampler.py
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Check if mujoco key exists before removing
  Makefile
Due: none

Check if mujoco key exists before removing (#1313)
  Makefile
Due: none

Update tf functions
  setup.py
  src/garage/tf/models/mlp.py
  src/garage/tf/models/mlp_dueling_model.py
  tests/garage/tf/models/test_mlp.py
  tests/garage/tf/models/test_mlp_concat.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix TD3 name
  src/garage/tf/algos/td3.py
Due: check-pylint-normal

rename benchmark scripts
  tests/benchmarks/auto/auto_benchmark_ppo.py
  tests/benchmarks/auto/auto_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/benchmark_her.py
  tests/benchmarks/garage/tf/algos/benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/benchmark_td3.py
  tests/benchmarks/garage/tf/algos/benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_vpg.py
  tests/benchmarks/garage/tf/baselines/benchmark_continuous_mlp_baseline.py
  tests/benchmarks/garage/tf/baselines/benchmark_gaussian_cnn_baseline.py
  tests/benchmarks/garage/tf/baselines/benchmark_gaussian_mlp_baseline.py
  tests/benchmarks/garage/tf/policies/benchmark_categorical_cnn_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_categorical_gru_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_categorical_lstm_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_categorical_mlp_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_continuous_mlp_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_gaussian_gru_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_gaussian_lstm_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_gaussian_mlp_policy.py
  tests/benchmarks/garage/tf/q_functions/benchmark_continuous_mlp_q_function.py
Due: check-pylint-normal

Fix function names
  examples/tf/ddpg_pendulum.py
  examples/tf/her_ddpg_fetchreach.py
  examples/tf/td3_pendulum.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_td3.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
  tests/benchmarks/garage/tf/baselines/test_benchmark_continuous_mlp_baseline.py
  tests/benchmarks/garage/tf/baselines/test_benchmark_gaussian_cnn_baseline.py
  tests/benchmarks/garage/tf/baselines/test_benchmark_gaussian_mlp_baseline.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_cnn_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_lstm_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_mlp_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_continuous_mlp_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_gaussian_gru_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_gaussian_lstm_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_gaussian_mlp_policy.py
  tests/benchmarks/garage/tf/q_functions/test_benchmark_continuous_mlp_q_function.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix dependency
  setup.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/tf/distributions/bernoulli.py
  src/garage/tf/distributions/categorical.py
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/distributions/recurrent_categorical.py
  src/garage/tf/misc/tensor_utils.py
  src/garage/tf/models/cnn.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  src/garage/tf/samplers/worker.py
  tests/garage/experiment/test_deterministic.py
  tests/garage/tf/models/test_parameter.py
  tests/garage/tf/optimizers/test_conjugate_gradient_optimizer.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Address comment
  src/garage/tf/distributions/bernoulli.py
  src/garage/tf/distributions/categorical.py
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/distributions/recurrent_categorical.py
  src/garage/tf/misc/tensor_utils.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  tests/benchmarks/garage/tf/algos/benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/benchmark_her.py
  tests/benchmarks/garage/tf/algos/benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/benchmark_td3.py
  tests/benchmarks/garage/tf/algos/benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_vpg.py
  tests/benchmarks/garage/tf/baselines/benchmark_continuous_mlp_baseline.py
  tests/benchmarks/garage/tf/baselines/benchmark_gaussian_cnn_baseline.py
  tests/benchmarks/garage/tf/baselines/benchmark_gaussian_mlp_baseline.py
  tests/benchmarks/garage/tf/policies/benchmark_categorical_cnn_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_categorical_gru_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_categorical_lstm_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_categorical_mlp_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_continuous_mlp_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_gaussian_gru_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_gaussian_lstm_policy.py
  tests/benchmarks/garage/tf/policies/benchmark_gaussian_mlp_policy.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix param
  src/garage/tf/q_functions/discrete_cnn_q_function.py
Due: check-pylint-normal

Fix regularization
  src/garage/tf/algos/ddpg.py
  tests/garage/tf/models/test_gru.py
  tests/garage/tf/models/test_lstm.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Unpin TF
  setup.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/models/gaussian_gru_model.py
  src/garage/tf/models/gaussian_lstm_model.py
  src/garage/tf/models/gaussian_mlp_model.py
  src/garage/tf/models/gru_model.py
  src/garage/tf/models/lstm_model.py
  src/garage/tf/models/mlp.py
  src/garage/tf/models/mlp_merge_model.py
  src/garage/tf/models/mlp_model.py
  src/garage/tf/models/normalized_input_mlp_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
Due: check-pylint-normal

Deflake test_local_sampler
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-unit-tests

Refactor tf modules
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/envs/env_spec.py
  src/garage/np/embeddings/__init__.py
  src/garage/np/embeddings/encoder.py
  src/garage/tf/embeddings/__init__.py
  src/garage/tf/embeddings/base.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/embeddings/utils.py
  src/garage/tf/models/__init__.py
  src/garage/tf/models/base.py
  src/garage/tf/policies/base.py
  src/garage/tf/regressors/base.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/embeddings/__init__.py
  src/garage/torch/embeddings/context_encoder.py
  src/garage/torch/embeddings/mlp_encoder.py
  src/garage/torch/policies/context_conditioned_policy.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Add TensorFlow embedding models
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/embeddings/__init__.py
  src/garage/tf/embeddings/base.py
  src/garage/tf/embeddings/embedding_spec.py
  src/garage/tf/embeddings/gaussian_mlp_embedding.py
  src/garage/tf/embeddings/utils.py
Due: check-pylint-normal

Add tests
  src/garage/tf/embeddings/__init__.py
  src/garage/tf/embeddings/base.py
  src/garage/tf/embeddings/embedding_spec.py
  src/garage/tf/embeddings/gaussian_mlp_embedding.py
  src/garage/tf/embeddings/utils.py
  tests/garage/tf/embeddings/test_gaussian_mlp_embedding.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix baseline tests
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
Due: check-pylint-normal

Add docstring
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/envs/env_spec.py
  src/garage/tf/distributions/base.py
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/torch/algos/pearl.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Add more tests
  tests/garage/tf/regressors/test_gaussian_mlp_regressor.py
Due: check-pylint-unit-tests

Update to tf 2.0
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
Due: check-pylint-normal

Improve coverage
  src/garage/tf/distributions/diagonal_gaussian.py
  tests/garage/tf/distributions/test_diagonal_gaussian.py
Due: check-pylint-normal, check-pylint-unit-tests

Improve coverage
  tests/garage/tf/distributions/test_diagonal_gaussian.py
Due: check-pylint-unit-tests

Add TensorFlow embedding models (#1168)
  src/garage/np/embeddings/__init__.py
  src/garage/np/embeddings/encoder.py
  src/garage/tf/distributions/base.py
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/embeddings/__init__.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/models/__init__.py
  src/garage/tf/models/base.py
  src/garage/tf/policies/base.py
  src/garage/tf/regressors/base.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/embeddings/__init__.py
  src/garage/torch/embeddings/context_encoder.py
  src/garage/torch/embeddings/mlp_encoder.py
  src/garage/torch/policies/context_conditioned_policy.py
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
  tests/garage/tf/distributions/test_diagonal_gaussian.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/regressors/test_gaussian_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Test resumed pearl properties
  tests/garage/torch/algos/test_pearl.py
Due: check-pylint-unit-tests

Improve coverage
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Fix CI
  src/garage/torch/algos/pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix Pearl resume
  examples/resume_training.py
  examples/tf/resume_training.py
  examples/torch/resume_training.py
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Add resume test
  tests/garage/torch/algos/test_pearl.py
Due: check-pylint-unit-tests

Improve coverage
  tests/garage/torch/algos/test_pearl.py
Due: check-pylint-unit-tests

Fix PEARL resume (#1316)
  examples/resume_training.py
  examples/tf/resume_training.py
  examples/torch/resume_training.py
  src/garage/torch/algos/pearl.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Multitask metaworld benchmark support
  setup.py
  src/garage/envs/__init__.py
  src/garage/envs/multi_env_wrapper.py
  tests/garage/envs/test_multi_env_wrapper.py
  tests/garage/experiment/test_task_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Addition of active task name to MultiEnvWrapper
  src/garage/envs/multi_env_wrapper.py
  tests/garage/envs/test_multi_env_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Multitask metaworld benchmark support (#1306)
  setup.py
  src/garage/envs/__init__.py
  src/garage/envs/multi_env_wrapper.py
  tests/garage/envs/test_multi_env_wrapper.py
  tests/garage/experiment/test_task_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Use akro v0.0.7 to normalize pixel obses
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  src/garage/envs/base.py
  src/garage/misc/tensor_utils.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/envs/base.py
  src/garage/tf/misc/tensor_utils.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  tests/garage/misc/test_tensor_utils.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/misc/test_tensor_utils.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
