Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Use boolean
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/garage_env.py
  src/garage/sampler/vec_worker.py
Due: check-pylint-normal

First draft on MT RL
  docs/index.md
  docs/user/meta_multi_task_rl_exp.md
Due: none

Use cudnn7-runtime for run-nvidia (#1807) (#1840)
  Makefile
  docker/hooks/build
Due: none

First draft on MT RL (#1802)
  docs/index.md
  docs/user/meta_multi_task_rl_exp.md
Due: none

Copy parameters when cloning
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_dueling_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/baselines/test_gaussian_mlp_baseline.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Pass default session to local_tf_runner
  src/garage/experiment/local_tf_runner.py
Due: check-pylint-normal

Backport 1791
  src/garage/tf/policies/discrete_qf_derived_policy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport #1791
  src/garage/tf/policies/discrete_qf_derived_policy.py
Due: check-pylint-normal

Backport 1791 (#1847)
  src/garage/tf/policies/discrete_qf_derived_policy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Copy parameters when cloning (#1822)
  src/garage/experiment/local_tf_runner.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_dueling_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/baselines/test_gaussian_mlp_baseline.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix TimeLimit inconsistency (#1815)
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/garage_env.py
  src/garage/sampler/vec_worker.py
  tests/garage/sampler/test_fragment_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Create minimal GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

Backport #1791 (#1846)
  src/garage/tf/policies/discrete_qf_derived_policy.py
Due: check-pylint-normal

Create minimal GitHub Actions workflow (#1836)
  .github/workflows/ci.yml
Due: none

Use eval_max_episode lengths in evalutation
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Backport #1815
  src/garage/envs/garage_env.py
  src/garage/sampler/vec_worker.py
Due: check-pylint-normal

Include bib file in docs rule
  .mergify.yml
Due: none

Allow plotting to work again
  src/garage/sampler/utils.py
Due: check-pylint-normal

Include bib file in docs rule (#1854)
  .mergify.yml
Due: none

Backport #1815 (#1852)
  src/garage/envs/garage_env.py
  src/garage/sampler/vec_worker.py
Due: check-pylint-normal

Backport #1617
  src/garage/sampler/utils.py
  tests/fixtures/policies/dummy_policy.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix docstring
  examples/tf/her_ddpg_fetchreach.py
Due: check-pylint-normal

Update doc
  docs/user/implement_algo.md
Due: none

Decrease epoch number
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
Due: check-pylint-normal

Turn off plot
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
Due: check-pylint-normal

Add tutorial for new algo with tf and np
  docs/user/implement_algo.md
  docs/user/implement_algo.rst
  docs/user/references.bib
Due: none

Use LocalSampler
  docs/user/implement_algo.md
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
Due: check-pylint-normal

Add doc for inplementing algos with tf
  docs/user/implement_algo.rst
Due: none

Add examples for tutorial
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
Due: check-pylint-normal

Literal include code
  docs/user/implement_algo.md
  docs/user/references.bib
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
Due: check-pylint-normal

Add docstring
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
Due: check-pylint-normal

Replace max_path_length with max_episode_length
  docs/user/implement_algo.md
  docs/user/implement_env.rst
  docs/user/testing.md
  docs/user/training_a_policy.md
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
  src/garage/_dtypes.py
Due: check-pylint-normal

Update doc
  docs/user/implement_algo.md
  docs/user/implement_worker.md
Due: none

Update doc
  docs/user/implement_algo.rst
Due: none

Change mode
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
Due: check-pylint-normal

Decrease batch size
  docs/user/implement_algo.md
  examples/np/tutorial_cem.py
Due: check-pylint-normal

Doc for implementing an algorithm using tf and np. (#1788)
  docs/user/implement_algo.md
  docs/user/implement_algo.rst
  docs/user/implement_env.rst
  docs/user/implement_worker.md
  docs/user/references.bib
  docs/user/testing.md
  docs/user/training_a_policy.md
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
  src/garage/_dtypes.py
Due: check-pylint-normal

Fix test_off_policy_vec_sampler_integration
  tests/fixtures/policies/dummy_policy.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
