Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Update step type timeout logic
  src/garage/_dtypes.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/utils.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Add missing backslash (#1914)
  Makefile
Due: none

fix rollout episode termination logic (#1907)
  src/garage/_dtypes.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/utils.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Update CHANGELOG for v2019.10.3
  CHANGELOG.md
Due: none

Update CHANGELOG for v2020.06.2
  CHANGELOG.md
Due: none

Add PCGrad optimizer and example with PPO
  examples/tf/pcgrad_ppo_metaworld_mt10.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/pcgrad.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/optimizers/__init__.py
  src/garage/tf/optimizers/pcgrad_opimizer.py
Due: check-pylint-normal

Fix merge
  src/garage/tf/algos/pcgrad.py
Due: check-pylint-normal

Update CHANGELOG for v2019.10.3 (#1918)
  CHANGELOG.md
Due: none

Update CHANGELOG for v2020.06.2 (#1919)
  CHANGELOG.md
Due: none

Fix max_episode_length missing in DDPG init
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
Due: check-pylint-unit-tests

Fix max_episode_length missing in DDPG init (#1902)
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
Due: check-pylint-unit-tests

Pin gym version in benchmarks package
  benchmarks/setup.py
Due: check-pylint-unit-tests

Pin gym version in benchmarks package (#1915)
  benchmarks/setup.py
Due: check-pylint-unit-tests

Deflake test_trpo_lstm_cartpole
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Deflake test_trpo_lstm_cartpole (#1928)
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Fix argument name in tests
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Modify VERSION and README for 2020.06
  VERSION
Due: none

Don't push to latest tag on DockerHub (#1635)
  .travis.yml
  Makefile
Due: none

Skip commit message checks for automated backports
  scripts/check_commit_message
Due: none

Fix a typo to allow evaluating algos deterministically (#1617) (#1714)
  src/garage/sampler/utils.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix pipenv dependency resolution (#1721)
  setup.py
Due: check-pylint-normal

Relax DQN test last_avg_reg (#1744)
  tests/garage/tf/algos/test_dqn.py
Due: check-pylint-unit-tests

Add tfp SeedStream (#1821)
  src/garage/tf/algos/te_npo.py
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor_model.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Use cudnn7-runtime for run-nvidia (#1807) (#1840)
  Makefile
Due: none

Backport #1791 (#1846)
  src/garage/tf/policies/discrete_qf_derived_policy.py
Due: check-pylint-normal

Backport #1815 (#1852)
  src/garage/envs/garage_env.py
  src/garage/sampler/vec_worker.py
Due: check-pylint-normal

Backport #1822 (#1855)
  src/garage/tf/baselines/gaussian_mlp_baseline_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport #1879 (#1889)
  docs/requirements.txt
Due: none

Backport 2020.06
  src/garage/torch/_functions.py
Due: check-pylint-normal

Add Tf and torch A2C
  examples/tf/a2c_pendulum.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/a2c.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/a2c.py
  tests/garage/tf/algos/test_a2c.py
  tests/garage/torch/algos/test_a2c.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix argument name in tests (#1920)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add A2C benchmarking scripts
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/__init__.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_tf.py
  examples/tf/a2c_pendulum.py
  src/garage/tf/algos/a2c.py
  src/garage/torch/algos/a2c.py
Due: check-pylint-normal, check-pylint-unit-tests

REMOVE THIS: fix normalize
  src/garage/envs/normalized_env.py
Due: check-pylint-normal

Remove merge statements in docs and examples
  docs/user/implement_algo.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/jupyter/custom_env.ipynb
Due: none
