Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Fix CI
  src/garage/tf/algos/reps.py
Due: check-pylint-normal

Remove get_itr_snapshot() (#1054)
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/nop.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_vpg.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/algos/instrumented_nop.py
Due: check-pylint-normal

Make PyTorch experiments deterministic
  src/garage/experiment/deterministic.py
  tests/garage/experiment/test_deterministic.py
  tests/garage/torch/algos/test_ppo.py
Due: check-pylint-normal, check-pylint-unit-tests

Rename xrange to range in docs (#1055)
  docs/user/implement_algo_advanced.rst
  docs/user/implement_algo_basic.rst
Due: none

Make PyTorch experiments deterministic (#1063)
  src/garage/experiment/deterministic.py
  tests/garage/experiment/test_deterministic.py
  tests/garage/torch/algos/test_ppo.py
Due: check-pylint-normal, check-pylint-unit-tests

Add instructions for documenting tensor shapes
  CONTRIBUTING.md
Due: none

Add instructions for documenting tensor shapes (#1065)
  CONTRIBUTING.md
Due: none

Stashing changes, working sac unstable policy
  examples/torch/sac_half_cheetah.py
  examples/torch/sac_point_mass.py
  src/garage/torch/algos/sac.py
  src/garage/torch/distributions/tanh_normal_distribution.py
  src/garage/torch/modules/tanh_gaussian_mlp_module.py
Due: check-pylint-normal

Make PyTorch experiments deterministic (#1063)
  src/garage/experiment/deterministic.py
  tests/garage/experiment/test_deterministic.py
Due: check-pylint-normal, check-pylint-unit-tests

Address comment
  src/garage/replay_buffer/her_replay_buffer.py
  tests/fixtures/envs/dummy/dummy_dict_env.py
  tests/garage/replay_buffer/__init__.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/replay_buffer/test_replay_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Make HerReplayBuffer pickleable
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/tf/policies/continuous_mlp_policy.py
Due: check-pylint-normal

Fix test
  tests/garage/tf/policies/test_continuous_mlp_policy.py
Due: check-pylint-unit-tests

Add corrected torch distributions.
  src/garage/torch/distributions/tanh_normal_2.py
  src/garage/torch/modules/tanh_gaussian_mlp_module_2.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy_2.py
Due: check-pylint-normal

Additional changes to make new tanh_distribution work
  examples/torch/sac_half_cheetah.py
  examples/torch/sim_policy.py
  src/garage/experiment/deterministic.py
  src/garage/torch/algos/sac.py
  src/garage/torch/distributions/__init__.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/multi_headed_mlp_module.py
  src/garage/torch/policies/__init__.py
Due: check-pylint-normal

Fix minor stuff
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/tf/policies/continuous_mlp_policy.py
Due: check-pylint-normal

Fix her_ddpg_fetchreach (#1060)
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/tf/policies/continuous_mlp_policy.py
  tests/fixtures/envs/dummy/dummy_dict_env.py
  tests/garage/replay_buffer/__init__.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/replay_buffer/test_replay_buffer.py
  tests/garage/tf/policies/test_continuous_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Rename xrange to range in docs (#1055) (#1072)
  docs/user/implement_algo_advanced.rst
  docs/user/implement_algo_basic.rst
Due: none

Add TrajectoryBatch data type
  docs/_static/theme_overrides.css
  docs/conf.py
  setup.cfg
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/.pylintrc
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Update gym to 0.15.4
  setup.py
Due: check-pylint-normal

Add TrajectoryBatch data type (#1058)
  docs/_static/theme_overrides.css
  docs/conf.py
  setup.cfg
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/.pylintrc
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Add pytest-timeout to fail tests if they hang
  Makefile
  examples/step_dm_control_env.py
  examples/tf/multi_env_trpo.py
  examples/torch/trpo_pendulum.py
  setup.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Limit test-time n_epochs for examples using env
  src/garage/experiment/local_runner.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Wrap examples in test to run on CI
  examples/step_dm_control_env.py
  examples/step_env.py
  examples/tf/multi_env_ppo.py
  examples/tf/td3_pendulum.py
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/tf/trpois_inverted_pendulum.py
  examples/tf/vpgis_inverted_pendulum.py
  examples/torch/ddpg_pendulum.py
  examples/torch/ppo_pendulum.py
  examples/torch/vpg_pendulum.py
  src/garage/experiment/experiment.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Wrap examples in tests to run on CI (#987)
  Makefile
  examples/step_dm_control_env.py
  examples/step_env.py
  examples/tf/multi_env_ppo.py
  examples/tf/multi_env_trpo.py
  examples/tf/td3_pendulum.py
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/tf/trpois_inverted_pendulum.py
  examples/tf/vpgis_inverted_pendulum.py
  examples/torch/ddpg_pendulum.py
  examples/torch/ppo_pendulum.py
  examples/torch/trpo_pendulum.py
  examples/torch/vpg_pendulum.py
  setup.py
  src/garage/experiment/experiment.py
  src/garage/experiment/local_runner.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Wrap examples in tests to run on CI (#987)
  Makefile
  examples/step_dm_control_env.py
  examples/step_env.py
  examples/tf/multi_env_ppo.py
  examples/tf/td3_pendulum.py
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/tf/trpois_inverted_pendulum.py
  examples/tf/vpgis_inverted_pendulum.py
  examples/torch/ddpg_pendulum.py
  examples/torch/vpg_pendulum.py
  setup.py
  src/garage/experiment/experiment.py
  src/garage/experiment/local_runner.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

trying with single step sampling
  examples/torch/sac_half_cheetah_single_step.py
Due: check-pylint-normal

Stashing changes
  examples/torch/sac_half_cheetah.py
  examples/torch/sac_half_cheetah_single_step.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Stashing changes will squash these commits
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Adjust pytest options
  Makefile
  setup.cfg
Due: none

Adjust pytest options (#1085)
  Makefile
  setup.cfg
Due: none

Make matplotlib a dev dependency
  docs/requirements.txt
  setup.py
  src/garage/np/exploration_strategies/ou_strategy.py
Due: check-pylint-normal

Make matplotlib a dev dependency (#1083)
  docs/requirements.txt
  setup.py
  src/garage/np/exploration_strategies/ou_strategy.py
Due: check-pylint-normal

Set TotalEnvSteps as default Tensorboard output
  src/garage/experiment/experiment_wrapper.py
Due: check-pylint-normal

Fix pylint
  src/garage/experiment/experiment_wrapper.py
Due: check-pylint-normal

Bump dowel version to 0.0.3
  setup.py
Due: check-pylint-normal

Update TensorBoardOutput
  src/garage/experiment/experiment_wrapper.py
Due: check-pylint-normal

Set TotalEnvSteps as the default Tensorboard x-axis (#1069)
  setup.py
  src/garage/experiment/experiment_wrapper.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
