Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Allow precisely sampling from sampler workers
  src/garage/sampler/local_sampler.py
  src/garage/sampler/ray_sampler.py
  tests/garage/sampler/test_local_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Meta RL sampler improvements (#1153)
  src/garage/sampler/local_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/worker.py
  tests/garage/sampler/test_local_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix deadlock on process end
  src/garage/experiment/experiment.py
  src/garage/experiment/experiment_wrapper.py
Due: check-pylint-normal

Update some examples to use wrap_experiment
  examples/np/cem_cartpole.py
  examples/tf/ddpg_pendulum.py
  examples/tf/erwr_cartpole.py
  examples/tf/ppo_pendulum.py
  examples/torch/ppo_pendulum.py
Due: check-pylint-normal

Wrap experiment examples (#1155)
  examples/np/cem_cartpole.py
  examples/tf/ddpg_pendulum.py
  examples/tf/erwr_cartpole.py
  examples/tf/ppo_pendulum.py
  examples/torch/ppo_pendulum.py
  src/garage/experiment/experiment.py
  src/garage/experiment/experiment_wrapper.py
Due: check-pylint-normal

Fix an off-by-one error in LocalSampler
  src/garage/sampler/local_sampler.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix an off-by-one error in LocalSampler (#1156)
  src/garage/sampler/local_sampler.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Downgrade and pin atari-py dep to < 0.2.0
  setup.py
Due: check-pylint-normal

Fix gym viewer windows not closing
  src/garage/envs/base.py
Due: check-pylint-normal

Re-enable nightly tests
  .travis.yml
Due: none

Fix nightly tests (#1158)
  .travis.yml
  setup.py
  src/garage/envs/base.py
Due: check-pylint-normal

Add TaskOnehotWrapper
  src/garage/envs/__init__.py
  src/garage/envs/task_onehot_wrapper.py
  tests/garage/envs/test_task_onehot_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Add TaskOnehotWrapper (#1157)
  src/garage/envs/__init__.py
  src/garage/envs/task_onehot_wrapper.py
  tests/garage/envs/test_task_onehot_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix computation of SuccessRate in log_performance
  src/garage/_functions.py
  tests/garage/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix computation of SuccessRate in log_performance (#1159)
  src/garage/_functions.py
  tests/garage/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

adding a categorical policy + discrete support for baselines
  src/garage/np/baselines/linear_feature_baseline.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_mlp_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/categorical_mlp_policy.py
Due: check-pylint-normal

Add MultitaskLinearFeatureBaseline
  src/garage/np/baselines/__init__.py
  src/garage/np/baselines/multi_task_linear_feature_baseline.py
Due: check-pylint-normal

Fix observation_space error in MultiEnvWrapper
  src/garage/envs/multi_env_wrapper.py
Due: check-pylint-normal

Add option for NPO to fit baseline first
  examples/tf/ppo_pendulum.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/ppo.py
Due: check-pylint-normal

Add clear method to PathBuffer
  src/garage/replay_buffer/path_buffer.py
  tests/garage/replay_buffer/test_path_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Address comments
  examples/tf/ppo_pendulum.py
  src/garage/misc/tensor_utils.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/tnpg.py
  src/garage/tf/algos/trpo.py
  src/garage/tf/algos/vpg.py
  tests/garage/tf/algos/test_ppo.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix typo and pylint errors
  src/garage/replay_buffer/path_buffer.py
Due: check-pylint-normal

Add tests
  tests/garage/replay_buffer/test_path_buffer.py
Due: check-pylint-unit-tests

Fix typo and add tests
  src/garage/replay_buffer/path_buffer.py
  tests/garage/replay_buffer/test_path_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix argument type
  src/garage/replay_buffer/path_buffer.py
Due: check-pylint-normal

Add clear method to PathBuffer (#1173)
  src/garage/replay_buffer/path_buffer.py
  tests/garage/replay_buffer/test_path_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix torch.TRPO unpickling
  src/garage/torch/optimizers/conjugate_gradient_optimizer.py
  tests/garage/torch/optimizers/test_torch_conjugate_gradient_optimizer.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix torch.TRPO unpickling (#1186)
  src/garage/torch/optimizers/conjugate_gradient_optimizer.py
  tests/garage/torch/optimizers/test_torch_conjugate_gradient_optimizer.py
Due: check-pylint-normal, check-pylint-unit-tests

Add meta-test and per-task logging
  src/garage/__init__.py
  src/garage/_functions.py
  src/garage/envs/task_id_wrapper.py
  src/garage/experiment/__init__.py
  src/garage/experiment/meta_evaluator.py
  src/garage/experiment/offline_meta_test_helper.py
  src/garage/experiment/snapshotter.py
  src/garage/experiment/task_sampler.py
  src/garage/torch/algos/_utils.py
  src/garage/torch/algos/maml.py
  src/garage/torch/policies/base.py
  tests/garage/experiment/test_snapshotter.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/test_functions.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/misc/test_algo_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Add meta-testing example
  examples/torch/maml_trpo_ml10_meta_test.py
  src/garage/experiment/offline_meta_test_helper.py
Due: check-pylint-normal

Torch utils for GPU ussage
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/utils.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Torch utils for GPU ussage (#1182)
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/utils.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Move rl2env under rl2 module
  src/garage/envs/__init__.py
  src/garage/tf/algos/rl2/__init__.py
  src/garage/tf/algos/rl2/rl2env.py
  tests/garage/envs/test_rl2_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Env wrapper for rl2
  src/garage/envs/__init__.py
  src/garage/envs/rl2_env.py
  tests/garage/envs/test_rl2_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Uses akro.Box
  src/garage/envs/rl2_env.py
Due: check-pylint-normal

Env wrapper for RL2 (#1175)
  src/garage/tf/algos/rl2/__init__.py
  src/garage/tf/algos/rl2/rl2env.py
  tests/garage/envs/test_rl2_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Tanh Gaussian policy for torch RLas
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/gaussian_mlp_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Tanh Gaussian policy for torch RLas (#1176)
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/gaussian_mlp_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Make wrap_experiment archive the launcher repo
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Make wrap_experiment archive the launcher repo (#1160)
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests
