Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Add tests for long running examples
  Makefile
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/trpo_cubecrash.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add tests for long running examples (#1079)
  Makefile
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/trpo_cubecrash.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add tests for long running examples (#1079)
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/trpo_cubecrash.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Update VERSION
  VERSION
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Remove tag
  docs/user/implement_algo_basic.rst
  setup.cfg
  src/garage/np/baselines/linear_feature_baseline.py
  src/garage/np/regressors/product_regressor.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  src/garage/tf/policies/base.py
  src/garage/tf/policies/uniform_control_policy.py
  src/garage/tf/regressors/base.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/fixtures/policies/dummy_recurrent_policy.py
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
Due: check-pylint-normal

Add docstrings
  src/garage/np/baselines/base.py
  src/garage/np/baselines/linear_feature_baseline.py
  src/garage/np/regressors/product_regressor.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  src/garage/tf/policies/base.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/regressors/base.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/fixtures/policies/dummy_recurrent_policy.py
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
  tests/garage/tf/baselines/test_baselines.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix setup.cfg
  setup.cfg
Due: none

Fix pylint
  src/garage/np/baselines/linear_feature_baseline.py
Due: check-pylint-normal

Cache parameters shape and values without tag (#1092)
  docs/user/implement_algo_basic.rst
  src/garage/np/baselines/base.py
  src/garage/np/baselines/linear_feature_baseline.py
  src/garage/np/regressors/product_regressor.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  src/garage/tf/policies/base.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/uniform_control_policy.py
  src/garage/tf/regressors/base.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/fixtures/policies/dummy_recurrent_policy.py
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
  tests/garage/tf/baselines/test_baselines.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor n_epoch_cycles
  examples/np/cem_cartpole.py
  examples/np/cma_es_cartpole.py
  examples/tf/ddpg_pendulum.py
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  examples/tf/her_ddpg_fetchreach.py
  examples/tf/td3_pendulum.py
  examples/torch/ddpg_pendulum.py
  src/garage/experiment/local_runner.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/benchmarks/garage/tf/algos/test_benchmark_td3.py
  tests/benchmarks/garage/tf/policies/test_benchmark_continuous_mlp_policy.py
  tests/benchmarks/garage/tf/q_functions/test_benchmark_continuous_mlp_q_function.py
  tests/garage/experiment/test_resume.py
  tests/garage/np/algos/test_cem.py
  tests/garage/np/algos/test_cma_es.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/torch/algos/test_ddpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor n_epoch_cycles (#1093)
  examples/np/cem_cartpole.py
  examples/np/cma_es_cartpole.py
  examples/tf/ddpg_pendulum.py
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  examples/tf/her_ddpg_fetchreach.py
  examples/tf/td3_pendulum.py
  examples/torch/ddpg_pendulum.py
  src/garage/experiment/local_runner.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/benchmarks/garage/tf/algos/test_benchmark_td3.py
  tests/benchmarks/garage/tf/policies/test_benchmark_continuous_mlp_policy.py
  tests/benchmarks/garage/tf/q_functions/test_benchmark_continuous_mlp_q_function.py
  tests/garage/experiment/test_resume.py
  tests/garage/np/algos/test_cem.py
  tests/garage/np/algos/test_cma_es.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/torch/algos/test_ddpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Added replay buffer that follows spinning up implementation
  examples/torch/sac_half_cheetah.py
  src/garage/replay_buffer/__init__.py
  src/garage/replay_buffer/sac_replay_buffer.py
Due: check-pylint-normal

Update off policy sampler add transitions rewards
  src/garage/sampler/off_policy_vectorized_sampler.py
Due: check-pylint-normal

Implemented MAML in PyTorch
  examples/torch/maml_half_cheetah.py
  src/garage/experiment/deterministic.py
  src/garage/experiment/local_runner.py
  src/garage/np/baselines/__init__.py
  src/garage/np/baselines/multi_task_baseline.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/envs/__init__.py
  src/garage/torch/envs/half_cheetah.py
  src/garage/torch/optimizers/__init__.py
  src/garage/torch/optimizers/differentiable_sgd.py
  src/garage/torch/utils.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
Due: check-pylint-normal, check-pylint-unit-tests

Speed-up MAML, Fix `set_task`
  src/garage/torch/algos/maml.py
  src/garage/torch/modules/gaussian_mlp_module.py
  tests/benchmarks/garage/torch/algos/test_benchmark_maml.py
Due: check-pylint-normal

TEMP: Disable xdist to see CI errors
  setup.cfg
Due: none

Refactor Code
  examples/torch/maml_half_cheetah.py
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/envs/__init__.py
  src/garage/envs/half_cheetah_vel.py
  src/garage/experiment/deterministic.py
  src/garage/experiment/local_runner.py
  src/garage/np/baselines/__init__.py
  src/garage/np/baselines/multi_task_baseline.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/envs/__init__.py
  src/garage/torch/optimizers/differentiable_sgd.py
  src/garage/torch/utils.py
  tests/benchmarks/garage/torch/algos/test_benchmark_maml.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
Due: check-pylint-normal, check-pylint-unit-tests

Eliminate unnecessary worker startup
  examples/tf/dqn_pong.py
  src/garage/experiment/experiment_wrapper.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/base.py
  src/garage/sampler/batch_sampler.py
  src/garage/sampler/is_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/tf/experiment/local_tf_runner.py
  src/garage/tf/samplers/batch_sampler.py
  tests/garage/sampler/test_is_sampler.py
  tests/garage/sampler/test_sampler.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/samplers/test_tf_batch_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Eliminate unnecessary worker startup (#1006)
  examples/tf/dqn_pong.py
  src/garage/experiment/experiment_wrapper.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/base.py
  src/garage/sampler/batch_sampler.py
  src/garage/sampler/is_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/tf/experiment/local_tf_runner.py
  src/garage/tf/samplers/batch_sampler.py
  tests/garage/sampler/test_is_sampler.py
  tests/garage/sampler/test_sampler.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/samplers/test_tf_batch_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Add a special Docker build stage to nightlies
  .travis.yml
Due: none

Add a special Docker build stage to nightlies (#1103)
  .travis.yml
Due: none

Fix trpo flaky test
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Make policy stateless
  examples/tf/trpo_pendulum_recurrent.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/tf/policies/base.py
  src/garage/tf/policies/gaussian_gru_policy.py
Due: check-pylint-normal

Address comment
  src/garage/np/policies/base.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/algos/npo.py
  src/garage/tf/policies/base.py
  src/garage/tf/policies/gaussian_gru_policy.py
Due: check-pylint-normal

Fix trpo flaky test (#1105)
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Update gym to 0.15.4
  setup.py
  src/garage/envs/base.py
Due: check-pylint-normal

Add tests for GarageEnv
  tests/garage/envs/test_garage_env.py
Due: check-pylint-unit-tests

Update gym to 0.15.4 (#1098)
  setup.py
  src/garage/envs/base.py
  tests/garage/envs/test_garage_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Propose new Sampler API and port Ray Sampler
  .pylintrc
  src/garage/sampler/__init__.py
  src/garage/sampler/batch_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/sampler.py
  src/garage/sampler/utils.py
  src/garage/sampler/worker.py
  src/garage/sampler/worker_factory.py
  src/garage/tf/samplers/batch_sampler.py
  src/garage/tf/samplers/ray_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Propose new Sampler API and port Ray Sampler (#881)
  .pylintrc
  src/garage/sampler/__init__.py
  src/garage/sampler/batch_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/sampler.py
  src/garage/sampler/utils.py
  src/garage/sampler/worker.py
  src/garage/sampler/worker_factory.py
  src/garage/tf/samplers/batch_sampler.py
  src/garage/tf/samplers/ray_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add HalfCheetah meta envs
  src/garage/envs/half_cheetah_dir_env.py
  src/garage/envs/half_cheetah_env_meta_base.py
  src/garage/envs/half_cheetah_vel_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-normal, check-pylint-unit-tests

Add HalfCheetah meta envs (#1108)
  src/garage/envs/half_cheetah_dir_env.py
  src/garage/envs/half_cheetah_env_meta_base.py
  src/garage/envs/half_cheetah_vel_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-normal, check-pylint-unit-tests

Needs review
  src/garage/_dtypes.py
Due: check-pylint-normal

Sample data type
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Added support Sample and SamplesBatch dtypes
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove entropy calculation in torch/vpg
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal
