Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

New hparams ml1 PEARL
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
Due: check-pylint-normal

Add progressbar to LocalSampler
  src/garage/sampler/local_sampler.py
Due: check-pylint-normal

Possible sac fix
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Fixed sac to and added test
  .github/workflows/ci.yml
  setup.cfg
  src/garage/torch/algos/sac.py
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-normal, check-pylint-unit-tests

Sac to bugfixes and tests
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/sac.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Add notes
  tests/garage/torch/test_functions.py
Due: check-pylint-unit-tests

Bugfixes
  src/garage/torch/__init__.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Fixes and retry
  tests/garage/torch/test_functions.py
Due: check-pylint-unit-tests

Use old version of docutils
  docs/requirements.txt
Due: none

Improve documentation of torch.GaussianMLPValueF
  src/garage/torch/value_functions/gaussian_mlp_value_function.py
  tests/garage/torch/value_functions/test_gaussian_mlp_value_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Preserve sac log alpha when moving between CPU and GPU (#2260)
  .github/workflows/ci.yml
  docs/requirements.txt
  setup.cfg
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/sac.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix SetTaskEnvUpdate when new env is a supertype
  src/garage/sampler/env_update.py
  tests/garage/sampler/test_env_update.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix SetTaskEnvUpdate when new env is a supertype (#2264)
  src/garage/sampler/env_update.py
  tests/garage/sampler/test_env_update.py
Due: check-pylint-normal, check-pylint-unit-tests

Setup for round 3 PPO, round 2 SAC
  metaworld_launchers/launch-instances-ppo.py
  metaworld_launchers/launch-instances-sac.py
  metaworld_launchers/launchers/launch-experiment.sh
  setup.py
Due: check-pylint-normal

Optimize garage.torch
  benchmarks/src/garage_benchmarks/run_benchmarks.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/optimizers/differentiable_sgd.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/garage/torch/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Optimize garage.torch (#2170)
  benchmarks/src/garage_benchmarks/run_benchmarks.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/optimizers/differentiable_sgd.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/garage/torch/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Fixing test flakiness (#2242)
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Add gpu pickleable module to torch
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/policies/policy.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix LocalSampler
  src/garage/sampler/local_sampler.py
Due: check-pylint-normal

Add progressbar to OptimizerWrapper
  src/garage/torch/optimizers/optimizer_wrapper.py
Due: check-pylint-normal

PEARL ML1 with kate's recommendations
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Fixed MAML ML45
  metaworld_launchers/ml45/maml_trpo_metaworld_ml45.py
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Update PEARL sampling params
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  metaworld_launchers/ml10/pearl_metaworld_ml10.py
  metaworld_launchers/ml45/pearl_metaworld_ml45.py
Due: check-pylint-normal

Update dowel
  setup.py
Due: check-pylint-normal

Update version
  VERSION
Due: none

WIP BC2 and ReplayBufferSampler
  src/garage/sampler/replay_buffer_sampler.py
  src/garage/torch/algos/bc2.py
  tests/garage/sampler/test_replay_buffer_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Add NoisyMetaworldScriptedPolicy
  src/garage/np/policies/noisy_metaworld_scripted_policy.py
Due: check-pylint-normal

Update to sample new tasks after a certain number of epochs
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
  metaworld_launchers/launchers-mt50/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt50/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt50/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt50/launch-instances-te.py
  metaworld_launchers/mt10/mtppo_metaworld_mt10.py
  metaworld_launchers/mt10/mtsac_metaworld_mt10.py
  metaworld_launchers/mt10/mttrpo_metaworld_mt10.py
  metaworld_launchers/mt10/te_ppo_metaworld_mt10.py
  metaworld_launchers/mt50/mtppo_metaworld_mt50.py
  metaworld_launchers/mt50/mtsac_metaworld_mt50.py
  metaworld_launchers/mt50/mttrpo_metaworld_mt50.py
  metaworld_launchers/mt50/te_ppo_metaworld_mt50.py
  src/garage/sampler/__init__.py
  src/garage/sampler/evaluation_worker.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/te_ppo.py
  src/garage/tf/algos/trpo.py
  src/garage/torch/algos/mtsac.py
Due: check-pylint-normal

Handle RaySampler pickling
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Add use_neg_logli_entropy to torch VPG,PPO
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal

Round 8 MTTRPO MTPPO update to address task sampling not happening
  metaworld_launchers/mt10/mtppo_metaworld_mt10.py
  metaworld_launchers/mt10/mttrpo_metaworld_mt10.py
  metaworld_launchers/mt50/mtppo_metaworld_mt50.py
  metaworld_launchers/mt50/mttrpo_metaworld_mt50.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/trpo.py
Due: check-pylint-normal

Remove tensorflow import for module
  src/garage/trainer.py
Due: check-pylint-normal

Fix import
  src/garage/trainer.py
Due: check-pylint-normal

Change tf trainer import (#2271)
  src/garage/trainer.py
Due: check-pylint-normal

Move tests
  tests/garage/experiment/test_torch_resume.py
  tests/garage/torch/algos/test_torch_resume.py
Due: check-pylint-unit-tests

Add torch save and tests
  src/garage/experiment/snapshotter.py
  tests/fixtures/__init__.py
  tests/fixtures/fixtures.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/algos/test_td3.py
  tests/garage/torch/algos/test_torch_resume.py
Due: check-pylint-normal, check-pylint-unit-tests

Disable new zipfile serialization
  src/garage/experiment/snapshotter.py
Due: check-pylint-normal
