Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Fix naming conventions
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  metaworld_launchers/single_task_launchers/sac_metaworld.py
Due: check-pylint-normal

Fix naming conventions and env_name info
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  metaworld_launchers/single_task_launchers/sac_metaworld.py
Due: check-pylint-normal

Add caching to torch GaussianMLPPolicy
  src/garage/torch/policies/gaussian_mlp_policy.py
Due: check-pylint-normal

Remove redundant CI files/lines
  .github/workflows/ci-release-2020.06.yml
  .github/workflows/ci.yml
  Makefile
  scripts/ci/check_docs_only.sh
  scripts/ci/check_no_deps_changed.sh
  scripts/ci/check_precommit.sh
Due: none

Update release CI to remove redundancy (#2237)
  .github/workflows/ci-release-2020.06.yml
  Makefile
  scripts/ci/check_precommit.sh
Due: none

Remove redundant CI files/lines (#2234)
  .github/workflows/ci-release-2020.06.yml
  .github/workflows/ci.yml
  Makefile
  scripts/ci/check_docs_only.sh
  scripts/ci/check_no_deps_changed.sh
  scripts/ci/check_precommit.sh
Due: none

Fix pre-commit conditional for fork PRs
  .github/workflows/ci.yml
Due: none

Fix pre-commit conditional for fork PRs (#2239)
  .github/workflows/ci.yml
Due: none

Test running ci in containers
  .github/workflows/ci.yml
Due: none

Fix precommit dependency
  .github/workflows/ci-release-2020.06.yml
Due: none

Update for bin-picking solo mission
  metaworld_launchers/launch-instances-sac.py
  metaworld_launchers/launchers/launch-experiment.sh
  setup.py
Due: check-pylint-normal

Test ci in container
  .github/workflows/ci-containers-TEST.yml
Due: none

Update for disassemble solo mission
  metaworld_launchers/launch-instances-sac.py
  metaworld_launchers/launchers/launch-experiment.sh
  setup.py
Due: check-pylint-normal

Fix precommit dependency (#2241)
  .github/workflows/ci-release-2020.06.yml
Due: none

Ready for ml1 launches
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/single_task_launchers/ppo_metaworld.py
Due: check-pylint-normal

Figure out directories
  .github/workflows/ci-containers-TEST.yml
Due: none

Added newline char to script
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
  metaworld_launchers/single_task_launchers/ppo_metaworld.py
  metaworld_launchers/single_task_launchers/sac_metaworld.py
Due: check-pylint-normal

not 10
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
Due: check-pylint-normal

Fixed Oversights in Launch Script
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
Due: check-pylint-normal

Renamed Experiment instances
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
Due: check-pylint-normal

moved mujoco key to .folder
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
Due: check-pylint-normal

Update for hammer
  metaworld_launchers/launch-instances-sac.py
  metaworld_launchers/launchers/launch-experiment.sh
  setup.py
Due: check-pylint-normal

Fixing test flakiness
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Added proper commit hash to setup.py
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
  setup.py
Due: check-pylint-normal

Launchers round3
  metaworld_launchers/launchers-ml10/launch-instances-maml.py
  metaworld_launchers/launchers-ml10/launch-instances-rl2.py
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
  setup.py
Due: check-pylint-normal

Updated door envs in metaworld for ML10 environments
  metaworld_launchers/launchers-ml10/launch-instances-pearl.py
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
  setup.py
Due: check-pylint-normal

Fix PR_COMMIT_RANGE on CI for PRs from forks
  .github/workflows/ci.yml
Due: none

Updated Scripts for the Push-V2 runs of ML1
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
  metaworld_launchers/single_task_launchers/ppo_metaworld.py
Due: check-pylint-normal

Updated CPU Region
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
Due: check-pylint-normal

Updated ML1 Scripts for Pick-Place Experiments
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
Due: check-pylint-normal

Fix PR_COMMIT_RANGE on CI for PRs from forks (#2244)
  .github/workflows/ci.yml
Due: none

Solve #2204
  src/garage/np/algos/cem.py
Due: check-pylint-normal

Update max resource usage docs for new EnvSpec
  docs/user/max_resource_usage.md
Due: none

Final ML10 MT10 Launchers used for the Paper
  metaworld_launchers/launchers-ml10/launch-instances-maml.py
  metaworld_launchers/launchers-ml10/launch-instances-pearl.py
  metaworld_launchers/launchers-ml10/launch-instances-rl2.py
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/mt1/maml_ppo_metaworld_mt1.py
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
  metaworld_launchers/mt1/mtppo_metaworld_mt1.py
  metaworld_launchers/mt1/rl2_ppo_metaworld_mt1.py
Due: check-pylint-normal

Initial Commit MT1 launchers
  metaworld_launchers/launchers-mt1/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt1/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt1/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt1/launch-instances-te.py
  metaworld_launchers/mt1/mtsac_metaworld_mt1.py
  metaworld_launchers/mt1/mttrpo_metaworld_mt1.py
  metaworld_launchers/mt1/te_ppo_metaworld_mt1.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
