Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Add value function for torch
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  examples/torch/ppo_pendulum.py
  examples/torch/trpo_pendulum.py
  examples/torch/trpo_pendulum_ray_sampler.py
  examples/torch/vpg_pendulum.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/optimizers/__init__.py
  src/garage/torch/optimizers/optimizer_wrapper.py
  src/garage/torch/value_functions/__init__.py
  src/garage/torch/value_functions/base.py
  src/garage/torch/value_functions/gaussian_mlp_value_function.py
  tests/benchmarks/auto/auto_benchmark_ppo.py
  tests/benchmarks/auto/auto_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_vpg.py
  tests/garage/experiment/test_local_runner.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/algos/test_ppo.py
  tests/garage/torch/algos/test_trpo.py
  tests/garage/torch/algos/test_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Add value function for torch (#1317)
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  examples/torch/ppo_pendulum.py
  examples/torch/trpo_pendulum.py
  examples/torch/trpo_pendulum_ray_sampler.py
  examples/torch/vpg_pendulum.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/optimizers/__init__.py
  src/garage/torch/optimizers/optimizer_wrapper.py
  src/garage/torch/value_functions/__init__.py
  src/garage/torch/value_functions/base.py
  src/garage/torch/value_functions/gaussian_mlp_value_function.py
  tests/benchmarks/auto/auto_benchmark_ppo.py
  tests/benchmarks/auto/auto_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/benchmark_vpg.py
  tests/garage/experiment/test_local_runner.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/algos/test_ppo.py
  tests/garage/torch/algos/test_trpo.py
  tests/garage/torch/algos/test_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Add DeprecationWarnings to old-style samplers
  src/garage/sampler/batch_sampler.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/parallel_vec_env_executor.py
  src/garage/sampler/vec_env_executor.py
Due: check-pylint-normal

Add DeprecationWarnings to old-style samplers (#1369)
  src/garage/sampler/batch_sampler.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/parallel_vec_env_executor.py
  src/garage/sampler/vec_env_executor.py
Due: check-pylint-normal

Add DeprecationWarning to run_experiment
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Add DeprecationWarning to run_experiment (#1370)
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Modified tests
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/models/test_categorical_gru_model.py
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_categorical_mlp_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy2.py
  tests/garage/tf/policies/test_categorical_gru_policy2.py
  tests/garage/tf/policies/test_categorical_lstm_policy2.py
  tests/garage/tf/policies/test_categorical_mlp_policy2.py
Due: check-pylint-unit-tests

Fix comment
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/policies/categorical_gru_policy2.py
  src/garage/tf/policies/categorical_lstm_policy2.py
  src/garage/tf/policies/categorical_mlp_policy2.py
Due: check-pylint-normal

Normalize prob
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
Due: check-pylint-normal

Fix test
  tests/garage/tf/models/test_categorical_gru_model.py
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_categorical_mlp_model.py
Due: check-pylint-unit-tests

Fix names
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
Due: check-pylint-normal

Fix test
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
Due: check-pylint-normal

Add test
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  tests/garage/tf/models/test_categorical_gru_model.py
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_categorical_mlp_model.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix categorical primitives distribution argument
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/policies/categorical_cnn_policy2.py
  src/garage/tf/policies/categorical_mlp_policy2.py
Due: check-pylint-normal

Add more tests
  tests/garage/tf/models/test_categorical_gru_model.py
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_categorical_mlp_model.py
Due: check-pylint-unit-tests

Fix categorical primitives distribution argument (#1357)
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/policies/categorical_cnn_policy2.py
  src/garage/tf/policies/categorical_gru_policy2.py
  src/garage/tf/policies/categorical_lstm_policy2.py
  src/garage/tf/policies/categorical_mlp_policy2.py
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/models/test_categorical_gru_model.py
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_categorical_mlp_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy2.py
  tests/garage/tf/policies/test_categorical_gru_policy2.py
  tests/garage/tf/policies/test_categorical_lstm_policy2.py
  tests/garage/tf/policies/test_categorical_mlp_policy2.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix PEARL.adapt_policy
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Fix PEARL.adapt_policy (#1374)
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

NPO with tfp
  examples/tf/ppo_pendulum2.py
  examples/tf/trpo_cartpole2.py
  examples/tf/trpo_cartpole_recurrent2.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/algos/npo2.py
  src/garage/tf/algos/ppo2.py
  src/garage/tf/algos/trpo2.py
Due: check-pylint-normal

Separate benchmark experiments into files
  tests/benchmark_helper.py
  tests/benchmarks/auto/auto_benchmark_ddpg.py
  tests/benchmarks/auto/auto_benchmark_ppo.py
  tests/benchmarks/auto/auto_benchmark_td3.py
  tests/benchmarks/auto/auto_benchmark_trpo.py
  tests/benchmarks/auto/auto_benchmark_vpg.py
  tests/benchmarks/auto/benchmarks.py
  tests/benchmarks/auto/experiments/__init__.py
  tests/benchmarks/auto/experiments/ddpg_garage_tf.py
  tests/benchmarks/auto/experiments/ppo_garage_pytorch.py
  tests/benchmarks/auto/experiments/ppo_garage_tf.py
  tests/benchmarks/auto/experiments/td3_garage_tf.py
  tests/benchmarks/auto/experiments/trpo_garage_pytorch.py
  tests/benchmarks/auto/experiments/trpo_garage_tf.py
  tests/benchmarks/auto/experiments/vpg_garage_pytorch.py
  tests/benchmarks/auto/experiments/vpg_garage_tf.py
  tests/benchmarks/auto/helper.py
Due: check-pylint-normal

Separate benchmark experiments into files (#1368)
  tests/benchmark_helper.py
  tests/benchmarks/auto/auto_benchmark_ddpg.py
  tests/benchmarks/auto/auto_benchmark_ppo.py
  tests/benchmarks/auto/auto_benchmark_td3.py
  tests/benchmarks/auto/auto_benchmark_trpo.py
  tests/benchmarks/auto/auto_benchmark_vpg.py
  tests/benchmarks/auto/benchmarks.py
  tests/benchmarks/auto/experiments/__init__.py
  tests/benchmarks/auto/experiments/ddpg_garage_tf.py
  tests/benchmarks/auto/experiments/ppo_garage_pytorch.py
  tests/benchmarks/auto/experiments/ppo_garage_tf.py
  tests/benchmarks/auto/experiments/td3_garage_tf.py
  tests/benchmarks/auto/experiments/trpo_garage_pytorch.py
  tests/benchmarks/auto/experiments/trpo_garage_tf.py
  tests/benchmarks/auto/experiments/vpg_garage_pytorch.py
  tests/benchmarks/auto/experiments/vpg_garage_tf.py
  tests/benchmarks/auto/helper.py
Due: check-pylint-normal

Revert "Downgrade sphinx version (#1284)"
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Revert "Downgrade sphinx version (#1284)" (#1378)
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

MTSAC and examples
  examples/torch/mtsac_metaworld_ML1_pick_place.py
  examples/torch/mtsac_metaworld_MT10.py
  examples/torch/mtsac_metaworld_MT50.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/_functions.py
  src/garage/envs/multi_env_wrapper.py
  src/garage/replay_buffer/base.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/garage/envs/test_multi_env_wrapper.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_sac.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Revert "Downgrade sphinx version (#1284) (#1286)"
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Revert "Downgrade sphinx version (#1284) (#1286)" (#1382)
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

MTSAC and examples (#1332)
  examples/torch/mtsac_metaworld_ML1_pick_place.py
  examples/torch/mtsac_metaworld_MT10.py
  examples/torch/mtsac_metaworld_MT50.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/_functions.py
  src/garage/envs/multi_env_wrapper.py
  src/garage/replay_buffer/base.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/garage/envs/test_multi_env_wrapper.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_sac.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add new algorithms to README.md
  README.md
Due: none

Add new algorithms to README.md (#1387)
  README.md
Due: none

Fix PEARL example default num tasks
  examples/torch/pearl_ml10.py
  examples/torch/pearl_ml45.py
Due: check-pylint-normal

Fix PEARL example default num tasks (#1373)
  examples/torch/pearl_ml10.py
  examples/torch/pearl_ml45.py
Due: check-pylint-normal

Fix pickling after HalfCheetahEnvMetaBase.set_task
  src/garage/envs/mujoco/half_cheetah_dir_env.py
  src/garage/envs/mujoco/half_cheetah_env_meta_base.py
  src/garage/envs/mujoco/half_cheetah_vel_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix pickling after HalfCheetahEnvMetaBase.set_task (#1385)
  src/garage/envs/mujoco/half_cheetah_dir_env.py
  src/garage/envs/mujoco/half_cheetah_env_meta_base.py
  src/garage/envs/mujoco/half_cheetah_vel_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-normal, check-pylint-unit-tests

Build docs with Python 3.7
  readthedocs.yml
Due: none

Make docs deps match package deps
  docs/conf.py
  docs/requirements.txt
Due: check-pylint-normal

Update dependencies for docs (#1383)
  docs/conf.py
  docs/requirements.txt
  readthedocs.yml
Due: check-pylint-normal

Refactor plotting for benchmarking
  tests/benchmarks/auto/benchmarks.py
  tests/benchmarks/auto/helper.py
Due: check-pylint-normal

Add max_eval_path_length to off-policy algorithms
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Refactor plotting for benchmarking (#1380)
  tests/benchmarks/auto/benchmarks.py
  tests/benchmarks/auto/helper.py
Due: check-pylint-normal

Add max_eval_path_length to off-policy algorithms (#1384)
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
