Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Fix qf_derived_policy variable_scope
  src/garage/tf/policies/discrete_qf_derived_policy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix qf_derived_policy variable_scope (#1791)
  src/garage/tf/policies/discrete_qf_derived_policy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Test normal tests
  .github/workflows/ci.yml
Due: none

Add git workflow doc
  docs/index.md
  docs/user/git_workflow.md
Due: none

Pin TF to workaround #1819
  setup.py
Due: check-pylint-normal

Add git workflow doc (#1814)
  docs/index.md
  docs/user/git_workflow.md
Due: none

Pin TF to workaround #1819 (#1834)
  setup.py
Due: check-pylint-normal

Use cudnn7-runtime for run-nvidia
  Makefile
  docker/hooks/build
  docs/user/docker.md
Due: none

Use cudnn7-runtime for run-nvidia (#1807)
  Makefile
  docker/hooks/build
  docs/user/docker.md
Due: none

Add visualize() and updatae pickle documentation
  src/garage/envs/environment.py
Due: check-pylint-normal

Define garage.Environment API
  src/garage/_dtypes.py
  src/garage/envs/environment.py
Due: check-pylint-normal

Add max_episode_length to EnvSpec
  src/garage/_environment.py
  src/garage/envs/dm_control/dm_control_env.py
  src/garage/envs/env_spec.py
  tests/garage/envs/test_env_spec.py
Due: check-pylint-normal, check-pylint-unit-tests

Use abstract properties
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_environment.py
  src/garage/envs/environment.py
Due: check-pylint-normal

Define garage.Environment API (#1775)
  src/garage/__init__.py
  src/garage/_environment.py
  src/garage/envs/dm_control/dm_control_env.py
  src/garage/envs/env_spec.py
  tests/garage/envs/test_env_spec.py
Due: check-pylint-normal, check-pylint-unit-tests

Add modules + policy tests
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  tests/garage/torch/modules/test_categorical_cnn_module.py
  tests/garage/torch/modules/test_cnn_module.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor torch policies
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Add cnn module test
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/multi_headed_mlp_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/categorical_cnn_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/garage/torch/modules/__init__.py
  tests/garage/torch/modules/test_categorical_cnn_module.py
  tests/garage/torch/modules/test_cnn_module.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add torch categorical policy and modules
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/multi_headed_mlp_module.py
  src/garage/torch/policies/categorical_cnn_policy.py
Due: check-pylint-normal

Add CNNCategoricalPolicy tests + refactor
  src/garage/torch/_functions.py
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/categorical_cnn_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/discrete_policy.py
  tests/garage/torch/modules/test_categorical_cnn_module.py
  tests/garage/torch/modules/test_cnn_module.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Clean code
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/multi_headed_mlp_module.py
  src/garage/torch/policies/categorical_cnn_policy.py
  src/garage/torch/policies/discrete_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/garage/torch/modules/test_cnn_module.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Torch discrete CNN policy (#1605)
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/multi_headed_mlp_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/categorical_cnn_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/garage/torch/modules/__init__.py
  tests/garage/torch/modules/test_categorical_cnn_module.py
  tests/garage/torch/modules/test_cnn_module.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix rendering mujoco to pixels in docker (#1808)
  docker/Dockerfile
Due: none

Deflake test
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
Due: check-pylint-unit-tests

Fix rendering mujoco to pixels in docker (#1808) (#1835)
  docker/Dockerfile
Due: none

Add StepType and remove terminal
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix TrajectoryBatch and TimeStepBatch usage
  src/garage/_dtypes.py
  src/garage/_functions.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/sampler/_dtypes.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/fragment_worker.py
  src/garage/sampler/vec_worker.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/te.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  tests/garage/sampler/test_fragment_worker.py
  tests/garage/test_dtypes.py
  tests/garage/test_functions.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add StepType and remove terminal (#1786)
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_functions.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/sampler/_dtypes.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/fragment_worker.py
  src/garage/sampler/vec_worker.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/te.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  tests/garage/sampler/test_fragment_worker.py
  tests/garage/test_dtypes.py
  tests/garage/test_functions.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Use cudnn7-runtime for run-nvidia (#1807)
  Makefile
  docker/hooks/build
Due: none

Fix TimeLimit inconsistency
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/garage_env.py
Due: check-pylint-normal

Fix error
  tests/garage/sampler/test_fragment_worker.py
Due: check-pylint-unit-tests

Fix gathering env_infos
  src/garage/sampler/vec_worker.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
