Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Make gym dependency optional (#1985)
  setup.py
  src/garage/_environment.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/tf/plotter/plotter.py
  src/garage/torch/_functions.py
  tests/fixtures/envs/dummy/dummy_box_env.py
  tests/garage/test_environment.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Move garage.misc.tensor_utils to garage.np
  .dockerignore
  docs/index.md
  docs/user/implement_algo.md
  docs/user/reuse_garage_policy.md
  examples/np/tutorial_cem.py
  examples/sim_policy.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_functions.py
  src/garage/misc/__init__.py
  src/garage/misc/tensor_utils.py
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/plotter/plotter.py
  src/garage/sampler/utils.py
  src/garage/tf/_functions.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/models/module.py
  src/garage/tf/plotter/plotter.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/optimizers/conjugate_gradient_optimizer.py
  tests/garage/misc/__init__.py
  tests/garage/misc/test_tensor_utils.py
  tests/garage/np/test_functions.py
  tests/garage/sampler/test_utils.py
  tests/garage/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Move garage.misc.tensor_utils to garage.np (#1810)
  .dockerignore
  docs/index.md
  docs/user/implement_algo.md
  docs/user/reuse_garage_policy.md
  examples/np/tutorial_cem.py
  examples/sim_policy.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_functions.py
  src/garage/misc/__init__.py
  src/garage/misc/tensor_utils.py
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/plotter/plotter.py
  src/garage/sampler/utils.py
  src/garage/tf/_functions.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/models/module.py
  src/garage/tf/plotter/plotter.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/optimizers/conjugate_gradient_optimizer.py
  tests/garage/misc/__init__.py
  tests/garage/misc/test_tensor_utils.py
  tests/garage/np/test_functions.py
  tests/garage/sampler/test_utils.py
  tests/garage/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Move garage.tf.misc.tensor_utils to garage.tf
  src/garage/tf/__init__.py
  src/garage/tf/_functions.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/misc/__init__.py
  src/garage/tf/misc/tensor_utils.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  tests/garage/tf/misc/__init__.py
  tests/garage/tf/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Move garage.tf.misc.tensor_utils to garage.tf (#1811)
  src/garage/tf/__init__.py
  src/garage/tf/_functions.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/misc/__init__.py
  src/garage/tf/misc/tensor_utils.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  tests/garage/tf/misc/__init__.py
  tests/garage/tf/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Flatten observations in policies if needed(#1812)
  docs/user/implement_algo.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  src/garage/sampler/utils.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/fixtures/envs/dummy/dummy_dict_env.py
  tests/fixtures/q_functions/simple_q_function.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/sampler/test_utils.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_continuous_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
  tests/garage/torch/policies/test_deterministic_mlp_policy.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Pin mujoco-py to fix gcc error
  setup.py
Due: check-pylint-normal

Update setup.py
  setup.py
Due: check-pylint-normal

Pin mujoco-py to fix gcc error (#1996)
  setup.py
Due: check-pylint-normal

Add test cases
  examples/torch/td3_halfcheetah.py
  src/garage/torch/algos/td3.py
  tests/garage/torch/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Add TD3 pytorch
  src/garage/torch/algos/td3.py
Due: check-pylint-normal

Add penddulum example
  .pylintrc
  examples/torch/td3_pendulum.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/td3.py
  tests/garage/torch/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Add random policy
  src/garage/np/policies/uniform_random_policy.py
Due: check-pylint-normal

Add benchmark
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/__init__.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_pytorch.py
  examples/torch/td3_halfcheetah.py
  examples/torch/td3_pendulum.py
  src/garage/np/policies/__init__.py
  src/garage/np/policies/uniform_random_policy.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/td3.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  tests/garage/torch/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

update experiments
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Add github actions to codecov
  .codecov.yml
Due: none

Narrow mujoco-py constraint
  setup.py
Due: check-pylint-normal

Backport #1996 to release-2020.06
  setup.py
Due: check-pylint-normal

Backport Various SAC and MTSAC Bug Fixes
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-normal, check-pylint-unit-tests

Narrow mujoco-py constraint (#1998)
  setup.py
Due: check-pylint-normal

Fix flaky RL2 test
  examples/tf/rl2_ppo_metaworld_ml10_meta_test.py
Due: check-pylint-normal

Fix flaky RL2 test (#2005)
  examples/tf/rl2_ppo_metaworld_ml10_meta_test.py
Due: check-pylint-normal

Remove unused garage.sampler.utils module
  src/garage/sampler/utils.py
  tests/garage/sampler/test_sampler.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove unused garage.sampler.utils module (#2020)
  src/garage/sampler/utils.py
  tests/garage/sampler/test_sampler.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Add torch DiscreteCNNModule & DiscreteCNNQFunction
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/q_functions/__init__.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  tests/garage/torch/modules/test_discrete_cnn_module.py
  tests/garage/torch/q_functions/test_discrete_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Add two torch primitives
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/discrete_qf_derived_policy.py
  src/garage/torch/q_functions/__init__.py
  src/garage/torch/q_functions/discrete_mlp_q_function.py
  tests/garage/torch/policies/test_discrete_qf_derived_policy.py
  tests/garage/torch/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Add torch DQN
  benchmarks/src/garage_benchmarks/parameters.py
  examples/torch/dqn_cartpole.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove garage.tf.optimizers.utils
  .pylintrc
  examples/tf/rl2_trpo_halfcheetah.py
  examples/tf/trpo_cartpole_recurrent.py
  src/garage/tf/algos/erwr.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2trpo.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/trpo.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/optimizers/__init__.py
  src/garage/tf/optimizers/_dtypes.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  src/garage/tf/optimizers/utils.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/optimizers/test_conjugate_gradient_optimizer.py
  tests/garage/tf/policies/test_categorical_policies.py
  tests/garage/tf/policies/test_gaussian_policies.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove garage.tf.optimizers.utils (#2021)
  .pylintrc
  examples/tf/rl2_trpo_halfcheetah.py
  examples/tf/trpo_cartpole_recurrent.py
  src/garage/tf/algos/erwr.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2trpo.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/trpo.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/optimizers/__init__.py
  src/garage/tf/optimizers/_dtypes.py
  src/garage/tf/optimizers/conjugate_gradient_optimizer.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  src/garage/tf/optimizers/utils.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/optimizers/test_conjugate_gradient_optimizer.py
  tests/garage/tf/policies/test_categorical_policies.py
  tests/garage/tf/policies/test_gaussian_policies.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix wrong argument name in ppo benchmark
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
Due: check-pylint-unit-tests

Fix wrong argument name in ppo benchmark (#2025)
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
Due: check-pylint-unit-tests

Remove dependency on openai/baselines
  benchmarks/setup.py
  benchmarks/src/garage_benchmarks/benchmarks.py
  benchmarks/src/garage_benchmarks/parameters.py
Due: check-pylint-unit-tests

Remove dependency on openai/baselines (#2026)
  benchmarks/setup.py
  benchmarks/src/garage_benchmarks/benchmarks.py
  benchmarks/src/garage_benchmarks/parameters.py
Due: check-pylint-unit-tests

Add docs for sac
  docs/index.md
  docs/user/algo_sac.md
  docs/user/references.bib
Due: none

Update doc
  docs/user/algo_sac.md
Due: none

Add pong
  examples/torch/dqn_pong.py
  src/garage/envs/wrappers/max_and_skip.py
  src/garage/envs/wrappers/stack_frames.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/policies/discrete_qf_derived_policy.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
Due: check-pylint-normal

Correct links in the table
  docs/user/algo_sac.md
Due: none

Add docs for SAC (#2027)
  docs/index.md
  docs/user/algo_sac.md
  docs/user/references.bib
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
