Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Record total_env_steps in samplers
  src/garage/sampler/local_sampler.py
  src/garage/sampler/multiprocessing_sampler.py
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Working PPO pick-place
  examples/sim_policy_generate_video.py
  examples/torch/pick-place-v2/ppo-regular-pick-up-puck/ppo_metaworld.py
  examples/torch/pick-place-v2/ppo_metaworld.py
Due: check-pylint-normal

Add GymEnv check for obs shape
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Add mt-trpo docs
  docs/index.md
  docs/user/algo_mttrpo.md
Due: none

Add mt-trpo docs (#2086)
  docs/index.md
  docs/user/algo_mttrpo.md
Due: none

Add ddpg doc
  docs/index.md
  docs/user/algo_ddpg.md
  docs/user/references.bib
Due: none

Add ddpg doc (#2088)
  docs/index.md
  docs/user/algo_ddpg.md
  docs/user/references.bib
Due: none

Add env_spec to path_buffer's param
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/replay_buffer/path_buffer.py
Due: check-pylint-normal

Make terminals as property of TimeStepBatch
  src/garage/_dtypes.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Add sample_timesteps to PathBuffer
  src/garage/replay_buffer/path_buffer.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Use TimeStepBatch in off-policy algos in tf
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
Due: check-pylint-normal

Test rewards' shape in TimeStepBatch
  tests/garage/test_dtypes.py
Due: check-pylint-unit-tests

Change the dimension of rewards in TimeStepBatch
  src/garage/_dtypes.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Use TimeStepBatch in off policy algos in tf (#2070)
  src/garage/_dtypes.py
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix algo doc
  docs/user/algo_bc.md
  docs/user/algo_ddpg.md
  docs/user/algo_mtppo.md
  docs/user/algo_mttrpo.md
  docs/user/algo_pearl.md
  docs/user/algo_ppo.md
  docs/user/algo_rl2.md
  docs/user/algo_sac.md
  docs/user/algo_td3.md
  docs/user/algo_trpo.md
  docs/user/algo_vpg.md
Due: none

Check obs space contains observation
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Fix algo doc (#2090)
  docs/user/algo_bc.md
  docs/user/algo_ddpg.md
  docs/user/algo_mtppo.md
  docs/user/algo_mttrpo.md
  docs/user/algo_pearl.md
  docs/user/algo_ppo.md
  docs/user/algo_rl2.md
  docs/user/algo_sac.md
  docs/user/algo_td3.md
  docs/user/algo_trpo.md
  docs/user/algo_vpg.md
Due: none

Add torch DQN
  benchmarks/src/garage_benchmarks/parameters.py
  examples/sim_policy.py
  examples/torch/dqn_atari.py
  examples/torch/dqn_cartpole.py
  examples/torch/watch_atari.py
  src/garage/_functions.py
  src/garage/envs/wrappers/fire_reset.py
  src/garage/envs/wrappers/max_and_skip.py
  src/garage/envs/wrappers/stack_frames.py
  src/garage/experiment/snapshotter.py
  src/garage/plotter/plotter.py
  src/garage/tf/plotter/plotter.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  tests/garage/envs/wrappers/test_fire_reset.py
  tests/garage/envs/wrappers/test_stack_frames_env.py
  tests/garage/experiment/test_snapshotter.py
  tests/garage/torch/algos/test_dqn.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add torch DQN
  examples/torch/watch_atari.py
  src/garage/_functions.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  tests/garage/torch/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

plot confidence interval
  benchmarks/src/garage_benchmarks/plotter.py
Due: check-pylint-unit-tests

Add Double DQN
  examples/torch/dqn_atari.py
  examples/torch/watch_atari.py
  src/garage/_functions.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/torch/algos/dqn.py
Due: check-pylint-normal

Fix pre-commit
  src/garage/envs/gym_env.py
  tests/garage/envs/test_gym_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix pickling GymEnv
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Add test for pickling GymEnv
  tests/garage/envs/test_gym_env.py
Due: check-pylint-unit-tests

Fix pickling GymEnv (#2096)
  src/garage/envs/gym_env.py
  tests/garage/envs/test_gym_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Add EpisodeBatch doc
  docs/user/data_structures.md
Due: none

Add data structures doc
  docs/user/data_structures.md
Due: none

Add ERWR doc
  docs/index.md
  docs/user/algo_erwr.md
  docs/user/references.bib
Due: none

Minor changes to ERWR doc
  docs/user/algo_erwr.md
Due: none

Add ERWR doc (#2092)
  docs/index.md
  docs/user/algo_erwr.md
  docs/user/references.bib
Due: none

Fix pickling GymEnv
  tests/garage/tf/algos/test_npo.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Pad tensors in EpisodeBatch
  src/garage/_dtypes.py
  src/garage/np/baselines/linear_feature_baseline.py
  src/garage/tf/algos/npo.py
  tests/garage/test_dtypes.py
  tests/garage/tf/algos/test_npo.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor RL2 to adapt new npo method
  src/garage/_dtypes.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Use episode batch in tf/npo (#2081)
  src/garage/_dtypes.py
  src/garage/np/baselines/linear_feature_baseline.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/rl2.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Dueling DQN
  examples/torch/dqn_atari.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  tests/garage/torch/modules/test_discrete_cnn_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Add MAML doc
  docs/index.md
  docs/user/algo_maml.md
  docs/user/references.bib
Due: none

Add MAML doc (#2093)
  docs/index.md
  docs/user/algo_maml.md
  docs/user/references.bib
Due: none

Make snapshot_config optional in benchmarks
  benchmarks/src/garage_benchmarks/benchmark_auto.py
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-unit-tests

Make snapshot_config optional in benchmarks (#2085)
  benchmarks/src/garage_benchmarks/benchmark_auto.py
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-unit-tests

Fix pre-commit
  tests/garage/envs/test_gym_env.py
Due: check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
