Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Update doc
  docs/user/sampling.md
Due: none

Update index of docs
  docs/index.md
Due: none

Add doc for sampling (#1762)
  docs/index.md
  docs/user/sampling.md
Due: none

VecWorker env_info fix
  src/garage/sampler/vec_worker.py
Due: check-pylint-normal

Add max_alpha option to SAC
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Fix TimeLimit inconsistency
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/garage_env.py
Due: check-pylint-normal

Fix gathering env_infos
  src/garage/sampler/vec_worker.py
Due: check-pylint-normal

Use boolean
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/garage_env.py
  src/garage/sampler/vec_worker.py
Due: check-pylint-normal

AddExpertActions exploration policy
  src/garage/np/exploration_policies/add_expert_actions.py
Due: check-pylint-normal

Clip expert actions in AddExpertActions
  src/garage/np/exploration_policies/add_expert_actions.py
Due: check-pylint-normal

Add FragmentWorker for Off-Policy RL
  src/garage/experiment/local_runner.py
  src/garage/experiment/local_tf_runner.py
  src/garage/sampler/__init__.py
  src/garage/sampler/_dtypes.py
  src/garage/sampler/_functions.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/fragment_worker.py
  src/garage/sampler/vec_worker.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/sac.py
  tests/garage/sampler/test_fragment_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Fixes for add_gaussian_noise and frag_worker
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/sampler/_dtypes.py
Due: check-pylint-normal

Pin TF to workaround #1819
  setup.py
Due: check-pylint-normal

Pin torch and torchvision to workaround #1823
  setup.py
Due: check-pylint-normal

Mark some multiproc sampler tests as flaky (#1824)
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Pin TF and torch to workaound #1819 & #1823 (#1820)
  setup.py
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Fixes frag_worker
  src/garage/sampler/_dtypes.py
Due: check-pylint-normal

Fix bug in AddGaussianNoise
  src/garage/np/exploration_policies/add_gaussian_noise.py
Due: check-pylint-normal

Fix precommit
  tests/garage/sampler/test_fragment_worker.py
Due: check-pylint-unit-tests

Add FragmentWorker for Off-Policy RL (#1626)
  src/garage/experiment/local_runner.py
  src/garage/experiment/local_tf_runner.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/sampler/__init__.py
  src/garage/sampler/_dtypes.py
  src/garage/sampler/_functions.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/fragment_worker.py
  src/garage/sampler/vec_worker.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/sac.py
  tests/garage/sampler/test_fragment_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Rename docker image after pull from registry
  .github/workflows/ci.yml
Due: none

Test getting version id
  .github/workflows/ci.yml
Due: none

Fix env variable usage
  .github/workflows/ci.yml
Due: none

Test actions workflow with delete
  .github/workflows/ci.yml
Due: none

Remove Dockerfile.ci
  .github/workflows/ci.yml
  docker/Dockerfile.ci
Due: none

Fetch all git history in CI
  .github/workflows/ci.yml
Due: none

Use garage-ci as package registry repo
  .github/workflows/ci.yml
Due: none

Test workflow
  .github/workflows/ci.yml
Due: none

Test Delete Docker Container
  .github/workflows/ci.yml
Due: none

Create minimal GitHub Actions workflow
  .github/workflows/ci.yml
  docker/Dockerfile.ci
Due: none

Wrap qf instead
  src/garage/tf/policies/discrete_qf_derived_policy.py
Due: check-pylint-normal
