Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Refactor tf.q_function (#1779)
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/tf/models/module.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/q_functions/__init__.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_dueling_q_function.py
  src/garage/tf/q_functions/q_function.py
  tests/fixtures/q_functions/simple_q_function.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/tf/policies/test_qf_derived_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_dueling_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Change link ending from .md to .html
  docs/user/installation.rst
Due: none

Change link ending from .md to .html (#1781)
  docs/user/installation.rst
Due: none

Nvidia Docker Headless
  Makefile
  docs/user/docker.md
Due: none

Nvidia Docker Headless (#1778)
  Makefile
  docs/user/docker.md
Due: none

Make TanhNormal.log_prob(1.0) != -inf
  src/garage/torch/distributions/tanh_normal.py
Due: check-pylint-normal

Check for min docker version in Makefile
  Makefile
Due: none

Decrease evaluation steps in BC
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Check for min docker version in Makefile (#1783)
  Makefile
Due: none

Try to get parameters from the exploration_policy
  src/garage/experiment/local_runner.py
Due: check-pylint-normal

Extend exploration_policy API
  src/garage/np/exploration_policies/exploration_policy.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Hack: fix obtain_evaluation_samples
  src/garage/sampler/utils.py
Due: check-pylint-normal

Add FragmentWorker for Off-Policy RL
  src/garage/experiment/local_runner.py
  src/garage/experiment/local_tf_runner.py
  src/garage/sampler/__init__.py
  src/garage/sampler/_dtypes.py
  src/garage/sampler/_functions.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/fragment_worker.py
  src/garage/sampler/vec_worker.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/sac.py
  tests/garage/sampler/test_fragment_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Update docker docs
  docs/user/docker.md
Due: none

Update docker docs (#1777)
  docs/user/docker.md
Due: none

a policy simulation script that works with snapshotted policies
  examples/simulate_policy.py
Due: check-pylint-normal

Unpin dm_control
  setup.py
Due: check-pylint-normal

Unpin dm_control (#1784)
  setup.py
Due: check-pylint-normal

Add image
  docs/user/algo_bc.md
  docs/user/images/bc_meanLoss.png
  docs/user/images/bc_stdLoss.png
  docs/user/images/pytorch.png
  docs/user/images/tensorflow.png
Due: none

Add bibtex citations support to docs
  docs/conf.py
  docs/requirements.txt
  docs/user/algo_bc.md
  docs/user/references.bib
  setup.py
Due: check-pylint-normal

Documentation on BC algo
  docs/images/pytorch.png
  docs/images/tensorflow.png
  docs/index.md
  docs/user/algo_bc.md
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Documentation on BC algorithm (#1765)
  docs/conf.py
  docs/index.md
  docs/requirements.txt
  docs/user/algo_bc.md
  docs/user/images/bc_meanLoss.png
  docs/user/images/bc_stdLoss.png
  docs/user/images/pytorch.png
  docs/user/images/tensorflow.png
  docs/user/references.bib
  setup.py
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Documentation on BC algo
  docs/images/pytorch.png
  docs/images/tensorflow.png
Due: none

Add bibtex citations support to docs
  docs/user/algo_bc.md
Due: none

Add image
  docs/images/pytorch.png
  docs/images/tensorflow.png
  docs/user/algo_bc.md
Due: none

Fix broken image for bc doc (#1789)
  docs/user/algo_bc.md
Due: none

Fix spacing and clean up files
  Makefile
  docs/Makefile
  docs/user/implement_algo.rst
Due: none

Add doctest for ci and doctest sample files
  Makefile
  docs/Makefile
  docs/conf.py
  docs/user/experiments.rst
  docs/user/implement_algo.rst
  docs/user/implement_env.rst
  src/garage/misc/tensor_utils.py
Due: check-pylint-normal

Fix mentioned issues
  docs/Makefile
  docs/conf.py
  docs/user/experiments.rst
  docs/user/implement_algo.rst
  docs/user/implement_env.rst
Due: check-pylint-normal

Add doctest for ci and doctest sample files (#1769)
  Makefile
  docs/Makefile
  docs/conf.py
  docs/user/experiments.rst
  docs/user/implement_algo.rst
  docs/user/implement_env.rst
  src/garage/misc/tensor_utils.py
Due: check-pylint-normal

Add tfp SeedStream
  src/garage/experiment/deterministic.py
Due: check-pylint-normal

Fix CI
  tests/garage/experiment/test_deterministic.py
Due: check-pylint-unit-tests

Add test
  src/garage/experiment/deterministic.py
  tests/garage/experiment/test_deterministic.py
Due: check-pylint-normal, check-pylint-unit-tests

Initialize seed when needed
  src/garage/experiment/deterministic.py
Due: check-pylint-normal

Introduce SeedStream for TF tree
  src/garage/tf/algos/te_npo.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline_model.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline_model.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/models/gaussian_gru_model.py
  src/garage/tf/models/gaussian_lstm_model.py
  src/garage/tf/models/gaussian_mlp_model.py
  src/garage/tf/models/gru_model.py
  src/garage/tf/models/lstm_model.py
  src/garage/tf/models/mlp.py
  src/garage/tf/models/mlp_dueling_model.py
  src/garage/tf/models/mlp_merge_model.py
  src/garage/tf/models/mlp_model.py
  src/garage/tf/models/normalized_input_mlp_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
Due: check-pylint-normal

Fix dependency
  src/garage/tf/q_functions/discrete_mlp_q_function.py
Due: check-pylint-normal

Add doc for sampling
  docs/user/sampling.md
Due: none

Update doc
  docs/user/sampling.md
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
