Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Mark test_multiprocessing_sampler_flaky
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Mark test_multiprocessing_sampler_flaky (#2066)
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Create get-started doc
  docs/index.md
  docs/user/algo_bc.md
  docs/user/get_started.md
Due: none

Update doc
  docs/user/get_started.md
Due: none

Add get-started doc (#1883)
  docs/index.md
  docs/user/algo_bc.md
  docs/user/get_started.md
Due: none

Update MTSAC examples and MW version
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  setup.py
Due: check-pylint-normal

Update MTSAC examples and MW version (#2073)
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  setup.py
Due: check-pylint-normal

Add MTPPO Doc
  docs/index.md
  docs/user/algo_bc.md
  docs/user/algo_mtppo.md
  docs/user/references.bib
Due: none

Add MTPPO Doc (#2045)
  docs/index.md
  docs/user/algo_bc.md
  docs/user/algo_mtppo.md
  docs/user/references.bib
Due: none

Add REINFORCE doc
  docs/index.md
  docs/user/algo_vpg.md
Due: none

Add REINFORCE doc (#2061)
  docs/index.md
  docs/user/algo_vpg.md
Due: none

Bugfix docker run
  .github/workflows/ci.yml
Due: none

Add doctests to github actions
  .github/workflows/ci.yml
Due: none

Add doctest in docker
  .github/workflows/ci.yml
Due: none

Run doctest using bash
  .github/workflows/ci.yml
Due: none

Add doctests to github actions (#2062)
  .github/workflows/ci.yml
Due: none

Add TRPO doc
  docs/index.md
  docs/user/algo_trpo.md
  docs/user/references.bib
Due: none

Add TRPO doc (#2059)
  docs/index.md
  docs/user/algo_trpo.md
  docs/user/references.bib
Due: none

Add TD3 pytorch
  src/garage/torch/algos/td3.py
Due: check-pylint-normal

Add penddulum example
  .pylintrc
  docs/index.md
  docs/user/algo_bc.md
  docs/user/algo_td3.md
  docs/user/images/td3_tf_HalfCheetah-v2.png
  docs/user/images/td3_tf_Hopper-v2.png
  docs/user/images/td3_tf_InvertedDoublePendulum-v2.png
  docs/user/images/td3_tf_InvertedPendulum-v2.png
  docs/user/images/td3_tf_Swimmer-v2.png
  docs/user/images/tf.png
  docs/user/references.bib
  src/garage/torch/algos/td3.py
Due: check-pylint-normal

Add td3 changes remotely
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/src/garage_benchmarks/helper.py
  benchmarks/src/garage_benchmarks/parameters.py
  benchmarks/src/garage_benchmarks/plotter.py
  benchmarks/src/garage_benchmarks/run_benchmarks.py
  benchmarks/src/garage_benchmarks/td3-garage-benchmark.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Documentation on TD3 (#1893)
  .pylintrc
  docs/index.md
  docs/user/algo_bc.md
  docs/user/algo_td3.md
  docs/user/images/td3_tf_HalfCheetah-v2.png
  docs/user/images/td3_tf_Hopper-v2.png
  docs/user/images/td3_tf_InvertedDoublePendulum-v2.png
  docs/user/images/td3_tf_InvertedPendulum-v2.png
  docs/user/images/td3_tf_Swimmer-v2.png
  docs/user/images/tf.png
  docs/user/references.bib
Due: none

Add examples/watch.py
  examples/torch/watch.py
  src/garage/_functions.py
Due: check-pylint-normal

Add env concept doc
  docs/index.md
  docs/user/environment.md
Due: none

Update wording
  docs/user/environment.md
Due: none

Add environments concept documentation (#2042)
  docs/index.md
  docs/user/environment.md
Due: none

Replace DMControlViewer with built-in DM viewer
  src/garage/envs/dm_control/dm_control_env.py
Due: check-pylint-normal

Resolve merge conflict
  src/garage/envs/dm_control/dm_control_env.py
Due: check-pylint-normal

Add GymEnv check for env_info consistency
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Update GymEnv reset() for env_info
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Fix pre-commit
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Fix pylin issues
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Add ray 1.0 support
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  tests/fixtures/sampler/ray_fixtures.py
Due: check-pylint-normal

Add data structures doc
  docs/index.md
  docs/user/data_structures.md
Due: none

Add test for env_info inconsistency
  src/garage/envs/gym_env.py
  tests/garage/envs/test_gym_env.py
Due: check-pylint-normal, check-pylint-unit-tests

WIP
  examples/sim_policy_generate_plot.py
  examples/sim_policy_generate_video.py
  examples/torch/pick-place-v2/ppo-regular-pick-up-puck/ppo_metaworld.py
  examples/torch/pick-place-v2/ppo_metaworld_reach.py
  examples/torch/sac_metaworld.py
  src/garage/_functions.py
Due: check-pylint-normal

Add ray 1.0 support (#2084)
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  tests/fixtures/sampler/ray_fixtures.py
Due: check-pylint-normal

Make LocalSampler constructor more ergonomic
  src/garage/sampler/local_sampler.py
Due: check-pylint-normal

Allow setting total_env_steps
  src/garage/experiment/local_runner.py
Due: check-pylint-normal
