Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Add meta tesing to test
  src/garage/torch/algos/maml.py
  tests/garage/torch/algos/test_maml_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix experiment 'name' scope
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Fix format
  tests/garage/torch/algos/test_maml_vpg.py
Due: check-pylint-unit-tests

Add meta-testing to MAML (#1234)
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  examples/torch/pearl_ml1_push.py
  setup.py
  src/garage/experiment/__init__.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix experiment 'name' scope (#1258)
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Unpin torch+torchvision
  setup.py
Due: check-pylint-normal

Unpin torch+torchvision (#1254)
  setup.py
Due: check-pylint-normal

Install dm_control from PyPI
  setup.py
  src/garage/envs/dm_control/dm_control_env.py
Due: check-pylint-normal

Unpin TF
  setup.py
Due: check-pylint-normal

Update setup.py
  setup.py
Due: check-pylint-normal

Update setup.cfg
  setup.cfg
  src/garage/tf/algos/ppo.py
Due: check-pylint-normal

Install dm_control from PyPI (#1247)
  setup.py
  src/garage/envs/dm_control/dm_control_env.py
Due: check-pylint-normal

Fix missing test markers
  setup.cfg
  tests/garage/envs/test_half_cheetah_meta_envs.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_npo.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/tf/algos/test_tnpg.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/torch/algos/test_ddpg.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove mujoco key for normal and large tests
  Makefile
Due: none

Exclude flaky tests from MuJoCo test job
  Makefile
Due: none

Remove MuJoCo key for normal and large test jobs (#1257)
  Makefile
  setup.cfg
  tests/garage/envs/test_half_cheetah_meta_envs.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_npo.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/tf/algos/test_tnpg.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/torch/algos/test_ddpg.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix examples
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_trpo_halfcheetah.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add test for observation padding
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
Due: check-pylint-unit-tests

Fix formatting
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix Travis
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add test
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-unit-tests

RL2 meta-test
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/rl2ppo.py
  src/garage/tf/algos/rl2trpo.py
Due: check-pylint-normal

Address comments
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Fix Travis
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_trpo_halfcheetah.py
  src/garage/experiment/local_runner.py
  src/garage/tf/experiment/local_tf_runner.py
  tests/garage/experiment/test_deterministic.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix comment
  src/garage/tf/algos/rl2.py
  tests/garage/envs/test_rl2_env.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

RL2 meta-test (#1231)
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  examples/tf/rl2_trpo_halfcheetah.py
  src/garage/experiment/local_runner.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/rl2ppo.py
  src/garage/tf/algos/rl2trpo.py
  src/garage/tf/experiment/local_tf_runner.py
  tests/garage/envs/test_rl2_env.py
  tests/garage/experiment/test_deterministic.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add support and exapmles for ML10/45
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_ppo_ml45.py
Due: check-pylint-normal

Logging multitask
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_ppo_ml45.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Fix metaworld version
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_ppo_ml45.py
Due: check-pylint-normal

Address comment
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Add examples
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_ppo_ml10_meta_test.py
  src/garage/tf/algos/rl2.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Increase example timeout
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Use test envs for meta test
  examples/tf/rl2_ppo_ml10_meta_test.py
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-normal, check-pylint-unit-tests

Debug Travis
  setup.cfg
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Import Metaworld inside test
  setup.cfg
  src/garage/tf/algos/rl2.py
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-normal, check-pylint-unit-tests

Add RL2 support and examples for ML10/45 (#1232)
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_ppo_ml10_meta_test.py
  examples/tf/rl2_ppo_ml45.py
  src/garage/tf/algos/rl2.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add more PEARL examples
  examples/torch/pearl_half_cheetah_vel.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add test to test_examples.py
  examples/torch/pearl_half_cheetah_vel.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix HalfCheetahVelEnv import
  examples/torch/pearl_half_cheetah_vel.py
Due: check-pylint-normal

Add more PEARL examples (#1241)
  examples/torch/pearl_half_cheetah_vel.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal
