Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

new a2c
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_pytorch.py
  examples/torch/a2c_pendulum.py
  src/garage/torch/algos/a2c_2.py
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Testing github actions for forks
  .github/workflows/ci.yml
Due: none

Add current branch to pull_request
  .github/workflows/ci.yml
Due: none

Try pull_request_target
  .github/workflows/ci.yml
Due: none

Added minor change
  src/garage/experiment/deterministic.py
Due: check-pylint-normal

Add broken test
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Set docker memory limit to 6.5gb (#1965)
  .github/workflows/ci.yml
Due: none

Use GH Actions as the only blocking CI on master
  .mergify.yml
Due: none

Use GH Actions as the only blocking CI on master (#1976)
  .mergify.yml
Due: none

Remove upper constraint for torchvision version
  setup.py
Due: check-pylint-normal

Remove upper constraint for torchvision version (#1964)
  setup.py
Due: check-pylint-normal

update MultiEnvWrapper and test
  src/garage/envs/multi_env_wrapper.py
  tests/garage/envs/test_multi_env_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Rename max_episode_length in FirstOrderOptimizer
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/baselines/continuous_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_mlp_policy.py
  docs/user/meta_multi_task_rl_exp.md
  examples/tf/multi_env_ppo.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/ppo_pendulum.py
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  examples/tf/rl2_ppo_metaworld_ml10.py
  examples/tf/rl2_ppo_metaworld_ml10_meta_test.py
  examples/tf/rl2_ppo_metaworld_ml1_push.py
  examples/tf/rl2_ppo_metaworld_ml45.py
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
  examples/tf/te_ppo_point.py
  src/garage/tf/algos/te_ppo.py
  src/garage/tf/algos/vpg.py
  src/garage/tf/optimizers/first_order_optimizer.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_te.py
Due: check-pylint-normal, check-pylint-unit-tests

Rename max_episode_length in FirstOrderOptimizer (#1977)
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/baselines/continuous_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_mlp_policy.py
  docs/user/meta_multi_task_rl_exp.md
  examples/tf/multi_env_ppo.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/ppo_pendulum.py
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  examples/tf/rl2_ppo_metaworld_ml10.py
  examples/tf/rl2_ppo_metaworld_ml10_meta_test.py
  examples/tf/rl2_ppo_metaworld_ml1_push.py
  examples/tf/rl2_ppo_metaworld_ml45.py
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
  examples/tf/te_ppo_point.py
  src/garage/tf/algos/te_ppo.py
  src/garage/tf/algos/vpg.py
  src/garage/tf/optimizers/first_order_optimizer.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_te.py
Due: check-pylint-normal, check-pylint-unit-tests

Various MTSAC bug fixes
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-normal, check-pylint-unit-tests

Various MTSAC bug fixes (#1975)
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-normal, check-pylint-unit-tests

subplotter
  benchmarks/src/garage_benchmarks/plotter.py
Due: check-pylint-unit-tests

Backport (#1942) for release-2020.06
  src/garage/experiment/local_runner.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Backport #1942 for release-2020.06
  src/garage/experiment/local_runner.py
Due: check-pylint-normal

Backport (#1942) for release-2020.06 (#1984)
  src/garage/experiment/local_runner.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Fix testing env pickleable
  tests/helpers.py
Due: check-pylint-normal

edit quotes
  src/garage/envs/multi_env_wrapper.py
Due: check-pylint-normal

Convert to markdown
  docs/user/implement_env.md
  docs/user/implement_env.rst
Due: none

Update implement env doc
  docs/user/implement_env.rst
Due: none

Add class link and table
  docs/conf.py
  docs/user/implement_env.md
Due: check-pylint-normal

Update implement env doc (#1875)
  docs/conf.py
  docs/user/implement_env.md
  docs/user/implement_env.rst
Due: check-pylint-normal

Fix testing env pickleable (#1986)
  tests/helpers.py
Due: check-pylint-normal

Override max episode length for algo tests
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_npo.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/torch/algos/test_ddpg.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_ppo.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/algos/test_trpo.py
  tests/garage/torch/algos/test_vpg.py
Due: check-pylint-unit-tests

Make samplers interchangeable
  src/garage/experiment/local_runner.py
  src/garage/tf/algos/dqn.py
Due: check-pylint-normal

Increase the number of samples obtained
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Remove upper constraint for torchvision version (#1980)
  setup.py
Due: check-pylint-normal

Increase the number of samples obtained (#1979)
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Fix up test return types
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/torch/_functions.py
  tests/fixtures/envs/dummy/dummy_box_env.py
  tests/garage/test_environment.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove gym usages outside of garage.envs
  setup.py
  src/garage/_environment.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/tf/plotter/plotter.py
  src/garage/torch/_functions.py
Due: check-pylint-normal
