Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Add empty mjkey.txt to non-MuJoCo test jobs
  Makefile
Due: none

Use akro v0.0.7 to normalize pixel obses (#1236)
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  src/garage/envs/base.py
  src/garage/misc/tensor_utils.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/envs/base.py
  src/garage/tf/misc/tensor_utils.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  tests/garage/misc/test_tensor_utils.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/misc/test_tensor_utils.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Update setup.cfg
  setup.cfg
Due: none

Refactor VPG auto benchmark script
  tests/benchmark_helper.py
  tests/benchmarks/auto/auto_benchmark_trpo.py
  tests/benchmarks/auto/auto_benchmark_vpg.py
Due: check-pylint-normal

Refactor VPG auto benchmark script (#1320)
  tests/benchmark_helper.py
  tests/benchmarks/auto/auto_benchmark_trpo.py
  tests/benchmarks/auto/auto_benchmark_vpg.py
Due: check-pylint-normal

Address comment
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/models/gaussian_gru_model2.py
  src/garage/tf/models/gaussian_lstm_model2.py
  src/garage/tf/models/gaussian_mlp_model2.py
  src/garage/tf/policies/base.py
  src/garage/tf/policies/categorical_gru_policy2.py
  src/garage/tf/policies/categorical_lstm_policy2.py
  src/garage/tf/policies/categorical_mlp_policy2.py
  src/garage/tf/policies/gaussian_gru_policy2.py
  src/garage/tf/policies/gaussian_lstm_policy2.py
  src/garage/tf/policies/gaussian_mlp_policy2.py
  tests/garage/tf/models/test_categorical_gru_model.py
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_categorical_mlp_model.py
  tests/garage/tf/models/test_gaussian_gru_model2.py
  tests/garage/tf/models/test_gaussian_lstm_model2.py
  tests/garage/tf/models/test_gaussian_mlp_model2.py
  tests/garage/tf/policies/test_categorical_gru_policy2.py
  tests/garage/tf/policies/test_categorical_lstm_policy2.py
  tests/garage/tf/policies/test_categorical_mlp_policy2.py
  tests/garage/tf/policies/test_gaussian_gru_policy2.py
  tests/garage/tf/policies/test_gaussian_lstm_policy2.py
  tests/garage/tf/policies/test_gaussian_mlp_policy2.py
Due: check-pylint-normal, check-pylint-unit-tests

New primitives for tfp
  src/garage/tf/models/__init__.py
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/models/gaussian_gru_model2.py
  src/garage/tf/models/gaussian_lstm_model2.py
  src/garage/tf/models/gaussian_mlp_model2.py
  src/garage/tf/policies/__init__.py
  src/garage/tf/policies/base.py
  src/garage/tf/policies/categorical_gru_policy2.py
  src/garage/tf/policies/categorical_lstm_policy2.py
  src/garage/tf/policies/categorical_mlp_policy2.py
  src/garage/tf/policies/gaussian_gru_policy2.py
  src/garage/tf/policies/gaussian_lstm_policy2.py
  src/garage/tf/policies/gaussian_mlp_policy2.py
  tests/fixtures/models/__init__.py
  tests/fixtures/models/simple_categorical_gru_model.py
  tests/fixtures/models/simple_categorical_lstm_model.py
  tests/fixtures/models/simple_categorical_mlp_model.py
  tests/garage/tf/models/test_categorical_gru_model.py
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_categorical_mlp_model.py
  tests/garage/tf/models/test_gaussian_gru_model2.py
  tests/garage/tf/models/test_gaussian_lstm_model2.py
  tests/garage/tf/models/test_gaussian_mlp_model2.py
  tests/garage/tf/policies/test_categorical_gru_policy2.py
  tests/garage/tf/policies/test_categorical_lstm_policy2.py
  tests/garage/tf/policies/test_categorical_mlp_policy2.py
  tests/garage/tf/policies/test_gaussian_gru_policy2.py
  tests/garage/tf/policies/test_gaussian_lstm_policy2.py
  tests/garage/tf/policies/test_gaussian_mlp_policy2.py
Due: check-pylint-normal, check-pylint-unit-tests

Address comments
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/gaussian_gru_model2.py
  src/garage/tf/models/gaussian_lstm_model2.py
  src/garage/tf/models/gaussian_mlp_model2.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/optimizers/lbfgs_optimizer.py
  src/garage/tf/optimizers/penalty_lbfgs_optimizer.py
  tests/fixtures/envs/dummy/dummy_dict_env.py
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
  tests/garage/tf/models/test_gaussian_gru_model2.py
  tests/garage/tf/models/test_gaussian_lstm_model2.py
  tests/garage/tf/models/test_gaussian_mlp_model2.py
  tests/garage/tf/policies/test_categorical_gru_policy2.py
  tests/garage/tf/policies/test_categorical_lstm_policy2.py
  tests/garage/tf/policies/test_categorical_mlp_policy2.py
  tests/garage/tf/policies/test_gaussian_gru_policy2.py
  tests/garage/tf/policies/test_gaussian_lstm_policy2.py
  tests/garage/tf/policies/test_gaussian_mlp_policy2.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix pylint
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/policies/categorical_gru_policy2.py
  src/garage/tf/policies/categorical_lstm_policy2.py
  src/garage/tf/policies/gaussian_gru_policy2.py
  src/garage/tf/policies/gaussian_lstm_policy2.py
  tests/garage/tf/policies/test_categorical_gru_policy2.py
  tests/garage/tf/policies/test_gaussian_gru_policy2.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix categorical action
  src/garage/tf/policies/categorical_mlp_policy2.py
Due: check-pylint-normal

Address comments
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/gaussian_gru_model2.py
  src/garage/tf/models/gaussian_lstm_model2.py
  src/garage/tf/policies/base.py
  src/garage/torch/distributions/tanh_normal.py
Due: check-pylint-normal

Replace tf1 functions
  src/garage/tf/models/__init__.py
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/models/gaussian_gru_model2.py
  src/garage/tf/models/gaussian_lstm_model2.py
  src/garage/tf/models/gaussian_mlp_model2.py
  src/garage/tf/policies/base.py
  src/garage/tf/policies/categorical_gru_policy2.py
  src/garage/tf/policies/categorical_lstm_policy2.py
  src/garage/tf/policies/categorical_mlp_policy2.py
  src/garage/tf/policies/gaussian_gru_policy2.py
  src/garage/tf/policies/gaussian_lstm_policy2.py
  src/garage/tf/policies/gaussian_mlp_policy2.py
Due: check-pylint-normal

Fix typo
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/models/gaussian_mlp_model2.py
Due: check-pylint-normal

Debug Travis
  setup.cfg
Due: none

Fix Tests
  setup.cfg
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_categorical_mlp_model.py
  tests/garage/tf/models/test_gaussian_mlp_model2.py
  tests/garage/tf/policies/test_gaussian_gru_policy2.py
  tests/garage/tf/policies/test_gaussian_lstm_policy2.py
Due: check-pylint-unit-tests

Fix test
  tests/garage/tf/models/test_categorical_gru_model.py
Due: check-pylint-unit-tests

Add CategoricalCNNModel and CategoricalCNNPolicy2
  src/garage/tf/models/__init__.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/categorical_gru_model.py
  src/garage/tf/models/categorical_lstm_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/policies/__init__.py
  src/garage/tf/policies/categorical_cnn_policy2.py
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy2.py
Due: check-pylint-normal, check-pylint-unit-tests

Temporarily downgrade torch
  setup.py
Due: check-pylint-normal

Temporarily downgrade torch (#1335)
  setup.py
Due: check-pylint-normal

Use pytest-cov to generate coverage xml
  Makefile
Due: none

Show durations for only top 20 expensive tests
  Makefile
Due: none

Don't run pytest in verbose mode by default on CI
  Makefile
Due: none

Don't disable output capturing for pytest
  setup.cfg
Due: none

Make pytest output less verbose (#1321)
  Makefile
  setup.cfg
Due: none

Fix off policy algo record not working
  src/garage/experiment/local_runner.py
  src/garage/np/algos/off_policy_rl_algorithm.py
Due: check-pylint-normal

Fix off-policy algo tabular record not working (#1331)
  src/garage/experiment/local_runner.py
  src/garage/np/algos/off_policy_rl_algorithm.py
Due: check-pylint-normal

Rebuild docker cache on API builds in master
  .travis.yml
Due: none

Update .travis.yml
  .travis.yml
Due: none

Rebuild docker cache on all builds (#1340)
  .travis.yml
Due: none

Unpin akro
  setup.py
  src/garage/tf/policies/__init__.py
Due: check-pylint-normal

Address comments
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/policies/task_embedding_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Implement dist_info() in encoder
  src/garage/np/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Add TaskEmbeddingPolicy
  src/garage/np/embeddings/encoder.py
  src/garage/tf/embeddings/__init__.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/models/base.py
  src/garage/tf/policies/__init__.py
  src/garage/tf/policies/gaussian_mlp_multitask_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/policies/multitask_policy.py
  src/garage/tf/policies/task_embedding_policy.py
  src/garage/torch/embeddings/mlp_encoder.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add multitask policies
  src/garage/tf/policies/gaussian_mlp_multitask_policy.py
  src/garage/tf/policies/multitask_policy.py
Due: check-pylint-normal

Primitive and Policy interfaces
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_primitives.py
  src/garage/envs/env_spec.py
Due: check-pylint-normal

Add multitask policies (#1169)
  setup.py
  src/garage/np/embeddings/encoder.py
  src/garage/tf/embeddings/__init__.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/models/base.py
  src/garage/tf/policies/__init__.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/policies/task_embedding_policy.py
  src/garage/torch/embeddings/mlp_encoder.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactoring of auto scripts
  tests/benchmark_helper.py
  tests/benchmarks/auto/auto_benchmark_ddpg.py
  tests/benchmarks/auto/auto_benchmark_td3.py
Due: check-pylint-normal

Refactoring of auto scripts (#1342)
  tests/benchmark_helper.py
  tests/benchmarks/auto/auto_benchmark_ddpg.py
  tests/benchmarks/auto/auto_benchmark_td3.py
Due: check-pylint-normal

Explicitly set codecov ci to travis-ci.com
  .codecov.yml
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
