Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Address comments
  src/garage/torch/embeddings/__init__.py
  src/garage/torch/embeddings/recurrent_encoder.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/utils.py
  tests/garage/torch/embeddings/test_recurrent_encoder.py
  tests/garage/torch/modules/test_mlp_module.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

New primitives for PEARL (#1059)
  src/garage/torch/embeddings/__init__.py
  src/garage/torch/embeddings/context_encoder.py
  src/garage/torch/embeddings/mlp_encoder.py
  src/garage/torch/modules/mlp_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/utils.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix torch compute_advantages
  src/garage/torch/algos/_utils.py
  tests/garage/torch/algos/test_torch_algo_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix torch compute_advantages (#1197)
  src/garage/torch/algos/_utils.py
  tests/garage/torch/algos/test_torch_algo_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Separate RUN_ARGS and BUILD_ARGS in Makefile
  .travis.yml
  Makefile
Due: none

Fix torch compute_advantages
  src/garage/torch/algos/loss_function_utils.py
  tests/garage/torch/algos/test_loss_function_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix torch compute_advantages (#1209)
  src/garage/torch/algos/loss_function_utils.py
  tests/garage/torch/algos/test_loss_function_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Separate RUN_ARGS and BUILD_ARGS in Makefile (#1201)
  .travis.yml
  Makefile
Due: none

Temporarily disable conda build
  Makefile
Due: none

Temporarily disable conda build (#1217)
  Makefile
Due: none

Create pytest fixtures for ray_local_mode
  conftest.py
  setup.cfg
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Update trpo_ray_sampler.py example
  examples/tf/trpo_swimmer_ray_sampler.py
Due: check-pylint-normal

Fix flaky tests for ray sampler
  conftest.py
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/experiment/test_local_tf_runner.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Convert ray_batch_sampler tests into function
  conftest.py
  setup.cfg
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/experiment/test_local_tf_runner.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix flaky tests for ray sampler (#1193)
  conftest.py
  examples/tf/trpo_swimmer_ray_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/experiment/test_local_tf_runner.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Add next_obs and terminals to paths
  src/garage/sampler/in_place_sampler.py
  src/garage/sampler/utils.py
Due: check-pylint-normal

Move PEARLWorker to PEARL file
  src/garage/sampler/__init__.py
  src/garage/torch/algos/pearl.py
  tests/garage/torch/algos/test_pearl_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Add test
  src/garage/sampler/pearl_sampler.py
  tests/garage/sampler/test_pearl_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove buffers
  src/garage/replay_buffer/__init__.py
  src/garage/replay_buffer/meta_replay_buffer.py
  src/garage/replay_buffer/multi_task_replay_buffer.py
  src/garage/sampler/pearl_sampler.py
  src/garage/sampler/utils.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  tests/garage/replay_buffer/test_meta_replay_buffer.py
  tests/garage/replay_buffer/test_multi_task_replay_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Update init file
  src/garage/sampler/__init__.py
Due: check-pylint-normal

Add replay buffers for PEARL
  src/garage/replay_buffer/__init__.py
  src/garage/replay_buffer/meta_replay_buffer.py
  src/garage/replay_buffer/multi_task_replay_buffer.py
  tests/garage/replay_buffer/test_meta_replay_buffer.py
  tests/garage/replay_buffer/test_multi_task_replay_buffer.py
  tests/garage/sampler/test_in_place_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Add PEARLWorker and remove PEARLSampler
  src/garage/sampler/__init__.py
  src/garage/sampler/pearl_sampler.py
  src/garage/sampler/pearl_worker.py
  tests/garage/sampler/test_pearl_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix rollout path
  src/garage/sampler/in_place_sampler.py
  src/garage/sampler/utils.py
Due: check-pylint-normal

Add InPlaceSample
  src/garage/sampler/__init__.py
  src/garage/sampler/in_place_sampler.py
  src/garage/sampler/utils.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  tests/garage/sampler/test_in_place_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix formatting
  src/garage/sampler/pearl_sampler.py
Due: check-pylint-normal

Move belief sampling in rollout
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Update code
  src/garage/replay_buffer/meta_replay_buffer.py
  src/garage/replay_buffer/multi_task_replay_buffer.py
  src/garage/sampler/__init__.py
  src/garage/sampler/pearl_sampler.py
  src/garage/sampler/utils.py
  tests/garage/replay_buffer/test_meta_replay_buffer.py
  tests/garage/replay_buffer/test_multi_task_replay_buffer.py
  tests/garage/sampler/test_pearl_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

New worker for PEARL (#1124)
  src/garage/sampler/__init__.py
  src/garage/torch/algos/pearl.py
  tests/garage/torch/algos/test_pearl_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix ExperimentTemplate signatures
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Revert "Temporarily disable conda build (#1217)"
  Makefile
  conftest.py
Due: check-pylint-normal

Flatten env_info
  src/garage/envs/half_cheetah_dir_env.py
  src/garage/envs/half_cheetah_vel_env.py
Due: check-pylint-normal

Flatten env_info of HalfCheetah (#1216)
  src/garage/envs/half_cheetah_dir_env.py
  src/garage/envs/half_cheetah_vel_env.py
Due: check-pylint-normal

Add more test coverage
  tests/garage/test_dtypes.py
Due: check-pylint-unit-tests

Fix Timestep error checking
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Disable too-many-branches warning
  src/garage/_dtypes.py
Due: check-pylint-normal

Add more tests
  tests/garage/test_dtypes.py
Due: check-pylint-unit-tests

Fix Timestep error checking (#1221)
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix ExperimentTemplate signatures (#1164)
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Add shebang
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_trpo_halfcheetah.py
Due: check-pylint-normal

More tests
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
Due: check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
