Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Updated launcher files ppo_metaworld
  examples/sim_policy_generate_plot.py
  examples/sim_policy_generate_video.py
  examples/tf/ppo_metaworld.py
  examples/tf/ppo_metaworld_scripted_policy.py
  examples/torch/pick-place-v2/decrease_picking_time/ppo_metaworld.py
  examples/torch/pick-place-v2/ppo_metaworld.py
  examples/torch/pick-place-v2/ppo_metaworld_reach.py
Due: check-pylint-normal

Check in GymEnv for env_info consistency (#2083)
  src/garage/envs/gym_env.py
  tests/garage/envs/test_gym_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Update examples
  benchmarks/src/garage_benchmarks/benchmark_auto.py
  examples/torch/td3_halfcheetah.py
  examples/torch/td3_pendulum.py
  tests/garage/np/policies/test_uniform_random_policy.py
  tests/garage/torch/algos/test_td3.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Change to Trainer
  examples/torch/td3_halfcheetah.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/rl2.py
  src/garage/torch/algos/td3.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

TD3 Torch (examples, benchmark, test)
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/__init__.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_pytorch.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/td3_halfcheetah.py
  examples/torch/td3_pendulum.py
  setup.cfg
  src/garage/np/policies/__init__.py
  src/garage/np/policies/uniform_random_policy.py
  src/garage/tf/algos/td3.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/td3.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  tests/garage/torch/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

TD3 implementation in pytorch (#1890)
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/benchmark_auto.py
  benchmarks/src/garage_benchmarks/experiments/algos/__init__.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_pytorch.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/td3_halfcheetah.py
  examples/torch/td3_pendulum.py
  setup.cfg
  src/garage/np/policies/__init__.py
  src/garage/np/policies/uniform_random_policy.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/td3.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/td3.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  tests/garage/np/policies/test_uniform_random_policy.py
  tests/garage/test_dtypes.py
  tests/garage/torch/algos/test_td3.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Torch TD3 and DQN to README
  README.md
Due: none

Update README.md
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Add Torch TD3 and DQN to README (#2150)
  README.md
Due: none

Fix warning regarding ABC import from collections
  tests/garage/envs/dm_control/test_dm_control_env.py
Due: check-pylint-unit-tests

Fix warning regarding ABC import from collections (#2146)
  tests/garage/envs/dm_control/test_dm_control_env.py
Due: check-pylint-unit-tests

Add torch DQN
  examples/torch/dqn_atari.py
  tests/garage/torch/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Add torch DQN
  examples/torch/watch_atari.py
  src/garage/_functions.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  tests/garage/torch/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Double DQN
  examples/torch/dqn_atari.py
  examples/torch/watch_atari.py
  src/garage/_functions.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/torch/algos/dqn.py
Due: check-pylint-normal

Add Dueling DQN
  examples/torch/dqn_atari.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  tests/garage/torch/modules/test_discrete_cnn_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Add action noise & warm up period
  examples/tf/her_ddpg_fetchreach.py
  src/garage/tf/algos/ddpg.py
Due: check-pylint-normal

Add reach-v2 experiment
  examples/torch/reach-v2/ppo_metaworld.py
Due: check-pylint-normal

Add script for hand-insert
  examples/torch/hand-insert-v2/ppo_metaworld.py
Due: check-pylint-normal

Added Shelf-Place-V2 script
  examples/torch/shelf-place-v2/ppo_metaworld.py
Due: check-pylint-normal

Init TNPG doc
  docs/index.md
  docs/user/algo_tnpg.md
Due: none

Missing format
  docs/index.md
  docs/user/algo_teppo.md
  docs/user/references.bib
Due: none

Chmod numpy.png
  docs/user/images/numpy.png
Due: none

Add cem doc fix ppo doc title
  docs/index.md
  docs/user/algo_cem.md
  docs/user/algo_ppo.md
  docs/user/images/numpy.png
Due: none

Add docs for algos/CEM (#2141)
  docs/index.md
  docs/user/algo_cem.md
  docs/user/algo_ppo.md
  docs/user/images/numpy.png
Due: none

Add docs for logging and plotting
  docs/index.md
  docs/user/logging_plotting.md
  src/garage/__init__.py
Due: check-pylint-normal

Fix grammer error
  docs/user/logging_plotting.md
Due: none

Fix isort
  src/garage/__init__.py
Due: check-pylint-normal

Add docs for logging and plotting (#2147)
  docs/index.md
  docs/user/logging_plotting.md
  src/garage/__init__.py
Due: check-pylint-normal

Refactor RL2 to use EpisodeBatch
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Fix isort
  examples/torch/maml_trpo_metaworld_ml1_push.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/te_npo.py
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Refactor RL2 to use EpisodeBatch (#2138)
  examples/torch/maml_trpo_metaworld_ml1_push.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/te_npo.py
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Combine tf Plotter and Plotter
  src/garage/plotter/plotter.py
  src/garage/tf/plotter/__init__.py
  src/garage/trainer.py
  tests/garage/tf/experiment/test_trainer.py
Due: check-pylint-normal, check-pylint-unit-tests

Complete teppo docs
  docs/user/algo_teppo.md
  docs/user/references.bib
Due: none

Add tnpg docs
  docs/user/algo_tnpg.md
  docs/user/references.bib
Due: none

Delete DMControlViewer
  src/garage/envs/dm_control/dm_control_viewer.py
Due: check-pylint-normal

Fix doc name in index
  docs/index.md
Due: none

Add docs for cluster setup
  docs/index.md
  docs/user/cluster_setup.md
Due: none

Update punctuation
  docs/user/cluster_setup.md
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
