Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Log all start info to experiment.json (#2024)
  src/garage/experiment/experiment.py
  src/garage/trainer.py
Due: check-pylint-normal

Add noisy MLP
  examples/torch/dqn_atari.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/modules/multi_headed_mlp_module.py
  src/garage/torch/modules/noisy_mlp_module.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  tests/garage/torch/algos/test_dqn.py
  tests/garage/torch/modules/test_noisy_mlp_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Add PER
  examples/torch/dqn_atari.py
  src/garage/envs/gym_env.py
  src/garage/replay_buffer/__init__.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/replay_buffer/per_replay_buffer.py
  src/garage/replay_buffer/replay_buffer.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/replay_buffer/test_per_replay_buffer.py
  tests/garage/torch/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Add python 3.8 in metadata
  setup.py
Due: check-pylint-normal

Add python 3.8 in metadata (#2165)
  setup.py
Due: check-pylint-normal

Allow setting total_env_steps
  src/garage/trainer.py
Due: check-pylint-normal

Allow setting total_env_steps (#2124)
  src/garage/trainer.py
Due: check-pylint-normal

Make TanhNormal.log_prob(1.0) != -inf
  src/garage/torch/distributions/tanh_normal.py
  tests/garage/torch/distributions/test_tanh_normal_dist.py
Due: check-pylint-normal, check-pylint-unit-tests

Make TanhNormal.log_prob(1.0) != -inf (#2129)
  src/garage/torch/distributions/tanh_normal.py
  tests/garage/torch/distributions/test_tanh_normal_dist.py
Due: check-pylint-normal, check-pylint-unit-tests

Change method name in RL2
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Fix docstring
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Change a method name in rl2 (#2160)
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Make trpo_gym_tf_cartpole_pretrained more robust
  examples/tf/trpo_gym_tf_cartpole_pretrained.py
Due: check-pylint-normal

Make trpo_gym_tf_cartpole_pretrained more robust (#2063)
  examples/tf/trpo_gym_tf_cartpole_pretrained.py
Due: check-pylint-normal

Add progressbar to obtain_evaluation_samples
  src/garage/_functions.py
Due: check-pylint-normal

Add progressbar to obtain_evaluation_samples (#2126)
  src/garage/_functions.py
Due: check-pylint-normal

Fix isort
  examples/tf/rl2_ppo_metaworld_ml10.py
  examples/tf/rl2_ppo_metaworld_ml1_push.py
  examples/tf/rl2_ppo_metaworld_ml45.py
  examples/torch/maml_trpo_metaworld_ml10.py
  examples/torch/maml_trpo_metaworld_ml45.py
  src/garage/experiment/__init__.py
  src/garage/experiment/task_sampler.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/mtsac.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/tf/policies/test_discrete_qf_argmax_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove unnecessary list comprehensions from VPG
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal

Update MAML to adapt new vpg
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Remove process_samples
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal

Remove unnecessary list comprehensions from VPG (#2043)
  examples/tf/rl2_ppo_metaworld_ml10.py
  examples/tf/rl2_ppo_metaworld_ml1_push.py
  examples/tf/rl2_ppo_metaworld_ml45.py
  examples/torch/maml_trpo_metaworld_ml10.py
  examples/torch/maml_trpo_metaworld_ml45.py
  src/garage/experiment/__init__.py
  src/garage/experiment/task_sampler.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/vpg.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/tf/policies/test_discrete_qf_argmax_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add episode_info to TimeStep
  src/garage/_dtypes.py
  src/garage/_functions.py
  src/garage/envs/point_env.py
  src/garage/np/policies/fixed_policy.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/sampler/_dtypes.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/fragment_worker.py
  src/garage/sampler/utils.py
  src/garage/sampler/vec_worker.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/te.py
  src/garage/torch/algos/pearl.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/sampler/test_fragment_worker.py
  tests/garage/test_dtypes.py
  tests/garage/test_functions.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add episode_info to TimeStep (#2031)
  src/garage/_dtypes.py
  src/garage/_functions.py
  src/garage/envs/point_env.py
  src/garage/np/policies/fixed_policy.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/sampler/_dtypes.py
  src/garage/sampler/default_worker.py
  src/garage/sampler/fragment_worker.py
  src/garage/sampler/utils.py
  src/garage/sampler/vec_worker.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/te.py
  src/garage/torch/algos/pearl.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/sampler/test_fragment_worker.py
  tests/garage/test_dtypes.py
  tests/garage/test_functions.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Delete paths_to_tensors
  examples/np/cem_cartpole.py
  examples/np/cma_es_cartpole.py
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/tf/__init__.py
  src/garage/tf/_functions.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
  tests/garage/np/algos/test_cem.py
  tests/garage/np/algos/test_cma_es.py
Due: check-pylint-normal, check-pylint-unit-tests

Delete paths_to_tensors (#2175)
  examples/np/cem_cartpole.py
  examples/np/cma_es_cartpole.py
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/tf/__init__.py
  src/garage/tf/_functions.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
  tests/garage/np/algos/test_cem.py
  tests/garage/np/algos/test_cma_es.py
Due: check-pylint-normal, check-pylint-unit-tests

Test tag conditional
  .github/workflows/ci.yml
Due: none

Change python version to 3.6
  .github/workflows/ci.yml
Due: none

Test push to tag
  .github/workflows/ci.yml
Due: none

Test deployment
  .github/workflows/ci.yml
Due: none

Test in test pypi
  .github/workflows/ci.yml
Due: none

Add PYPI deployment action
  .github/workflows/ci.yml
Due: none

Test deploy garage
  .github/workflows/ci.yml
  setup.py
Due: check-pylint-normal

Test new token
  .github/workflows/ci.yml
Due: none

Test version file update
  .github/workflows/ci.yml
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
