Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Disable nightly tests temporarily
  .travis.yml
Due: none

Disable nightly tests temporarily (#1123)
  .travis.yml
Due: none

Add evaluation interface
  src/garage/experiment/local_runner.py
  src/garage/misc/tensor_utils.py
  src/garage/np/algos/base.py
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/cma_es.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/np/exploration_strategies/epsilon_greedy_strategy.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/utils.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_td3.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_vpg.py
  tests/benchmarks/garage/tf/baselines/test_benchmark_gaussian_cnn_baseline.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_cnn_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_gru_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_lstm_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_mlp_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_continuous_mlp_policy.py
  tests/benchmarks/garage/tf/q_functions/test_benchmark_continuous_mlp_q_function.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_strategy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add evaluation interface (#1116)
  src/garage/experiment/local_runner.py
  src/garage/misc/tensor_utils.py
  src/garage/np/algos/base.py
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/cma_es.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/np/exploration_strategies/epsilon_greedy_strategy.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/utils.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_td3.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_vpg.py
  tests/benchmarks/garage/tf/baselines/test_benchmark_gaussian_cnn_baseline.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_cnn_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_gru_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_lstm_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_categorical_mlp_policy.py
  tests/benchmarks/garage/tf/policies/test_benchmark_continuous_mlp_policy.py
  tests/benchmarks/garage/tf/q_functions/test_benchmark_continuous_mlp_q_function.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_strategy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add expected action scale
  src/garage/envs/normalized_env.py
Due: check-pylint-normal

Use independent gaussian dist
  src/garage/torch/modules/gaussian_mlp_module.py
Due: check-pylint-normal

Prepare VPG and TRPO
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal

Fix CI
  src/garage/envs/normalized_env.py
Due: check-pylint-normal

Use shared evaluate_performance()
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal

Fix CI
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal

Prepare VPG and others for MAML (#1128)
  src/garage/envs/normalized_env.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/modules/gaussian_mlp_module.py
Due: check-pylint-normal

Remove self.evaluate from algorithms
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
Due: check-pylint-normal

Disable Gym Time limits by default
  src/garage/envs/base.py
  tests/garage/envs/test_garage_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Disable Gym Time limits by default (#1118)
  src/garage/envs/base.py
  tests/garage/envs/test_garage_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Add support for TimeStep Dtypes
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Add support for TimeStep Dtypes (#1114)
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Change API for halfcheetah envs
  src/garage/envs/half_cheetah_dir_env.py
  src/garage/envs/half_cheetah_vel_env.py
Due: check-pylint-normal

Fix test
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-unit-tests

Change API for halfcheetah envs (#1131)
  src/garage/envs/half_cheetah_dir_env.py
  src/garage/envs/half_cheetah_vel_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-normal, check-pylint-unit-tests

Add last_observations array to TrajectoryBatch
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

replaced pickle with cloudpickle where it made sense
  src/garage/experiment/experiment.py
  src/garage/experiment/snapshotter.py
Due: check-pylint-normal

added numpyfication to discounted return calc
  src/garage/misc/tensor_utils.py
Due: check-pylint-normal

pad to max length now also enforeces maxlength
  src/garage/torch/algos/_utils.py
Due: check-pylint-normal

use biased estimate for path variance which deals better with single value paths
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal

Refactor reward scale into OffPolicyRLAlgorithm
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/td3.py
Due: check-pylint-normal

Add last_observations array to TrajectoryBatch (#1132)
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor reward scale into OffPolicyRLAlgorithm (#1097)
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/td3.py
Due: check-pylint-normal

Convert RaySampler to use TrajectoryBatch
  src/garage/_dtypes.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/sampler.py
  src/garage/sampler/worker.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Convert RaySampler to use TrajectoryBatch (#1109)
  src/garage/_dtypes.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/sampler.py
  src/garage/sampler/worker.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Add LocalSampler, the simplest sampler
  src/garage/sampler/__init__.py
  src/garage/sampler/local_sampler.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Use WorkerFactory.n_workers
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/worker_factory.py
  src/garage/tf/samplers/ray_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Worker.shutdown
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/worker.py
Due: check-pylint-normal

Local sampler (#1133)
  src/garage/sampler/__init__.py
  src/garage/sampler/local_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/worker.py
  src/garage/sampler/worker_factory.py
  src/garage/tf/samplers/ray_sampler.py
  tests/garage/sampler/test_local_sampler.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix Ray TF sampler
  examples/tf/trpo_swimmer_ray_sampler.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/ray_sampler.py
  src/garage/tf/experiment/local_tf_runner.py
  src/garage/tf/samplers/__init__.py
  src/garage/tf/samplers/ray_sampler.py
  src/garage/tf/samplers/worker.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Convert TrajectoryBatch in LocalRunner
  src/garage/_dtypes.py
  src/garage/experiment/local_runner.py
  src/garage/tf/samplers/batch_sampler.py
Due: check-pylint-normal

Add more sampler refactor tests
  tests/garage/test_dtypes.py
  tests/garage/tf/experiment/test_local_tf_runner.py
Due: check-pylint-unit-tests

Make Ray TF Actually Work Again (#1134)
  examples/tf/trpo_swimmer_ray_sampler.py
  src/garage/_dtypes.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/ray_sampler.py
  src/garage/tf/experiment/local_tf_runner.py
  src/garage/tf/samplers/__init__.py
  src/garage/tf/samplers/batch_sampler.py
  src/garage/tf/samplers/ray_sampler.py
  src/garage/tf/samplers/worker.py
  tests/garage/test_dtypes.py
  tests/garage/tf/experiment/test_local_tf_runner.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix docstring
  src/garage/sampler/rl2_sampler.py
Due: check-pylint-normal

Address comments and add test
  src/garage/sampler/rl2_sampler.py
  tests/garage/sampler/test_rl2_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix Test
  tests/garage/sampler/test_rl2_sampler.py
Due: check-pylint-unit-tests
