Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Add example for RL2TRPO
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_trpo_halfcheetah.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Make RL2PPO and RL2TRPO private
  examples/tf/rl2_halfcheetah.py
  src/garage/experiment/local_runner.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/_rl2ppo.py
  src/garage/tf/algos/_rl2trpo.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Chmod example files
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_trpo_halfcheetah.py
  setup.cfg
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/rl2ppo.py
  src/garage/tf/algos/rl2trpo.py
Due: check-pylint-normal

Add RL2 and related classes
  examples/tf/rl2_halfcheetah.py
  src/garage/experiment/local_runner.py
  src/garage/experiment/snapshotter.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/rl2npo.py
  src/garage/tf/algos/rl2ppo.py
  src/garage/tf/experiment/local_tf_runner.py
Due: check-pylint-normal

Clean up RL2
  examples/tf/rl2_trpo_halfcheetah.py
  setup.cfg
  src/garage/misc/tensor_utils.py
  src/garage/tf/algos/rl2.py
  tests/garage/misc/test_tensor_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Add tests
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
Due: check-pylint-unit-tests

Remove algorithm total env steps logging
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Add RL2, RL2PPO and RL2TRPO (#1195)
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_trpo_halfcheetah.py
  src/garage/experiment/local_runner.py
  src/garage/experiment/snapshotter.py
  src/garage/misc/tensor_utils.py
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/rl2ppo.py
  src/garage/tf/algos/rl2trpo.py
  src/garage/tf/experiment/local_tf_runner.py
  src/garage/torch/algos/maml.py
  tests/garage/misc/test_tensor_utils.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
Due: check-pylint-normal, check-pylint-unit-tests

Add RL2 to README
  README.md
Due: none

Add RL2 to README (#1228)
  README.md
Due: none

Test examples
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Log per-task performance
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  src/garage/envs/metaworld_task_names_wrapper.py
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Allow environment without a task name
  src/garage/_functions.py
Due: check-pylint-normal

Add test
  examples/torch/maml_trpo_ml10.py
  src/garage/envs/metaworld_task_names_wrapper.py
Due: check-pylint-normal

Remove MetaworldTaskNamesWrapper
  examples/torch/maml_trpo_ml10.py
  src/garage/envs/metaworld_task_names_wrapper.py
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Fix examples
  src/garage/torch/algos/maml.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Larger timeout for ml10
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add dummy multitask env
  tests/fixtures/envs/dummy/__init__.py
  tests/fixtures/envs/dummy/dummy_multitask_box_env.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Log per-task performance in MAML (#1214)
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  src/garage/_functions.py
  src/garage/torch/algos/maml.py
  tests/fixtures/envs/dummy/__init__.py
  tests/fixtures/envs/dummy/dummy_multitask_box_env.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

MetaEval changes from paper
  src/garage/experiment/meta_evaluator.py
  src/garage/sampler/local_sampler.py
  tests/garage/experiment/test_meta_evaluator.py
Due: check-pylint-normal, check-pylint-unit-tests

MetaEval changes from paper (#1227)
  src/garage/experiment/meta_evaluator.py
  src/garage/sampler/local_sampler.py
  tests/garage/experiment/test_meta_evaluator.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove flaky marks on integration tests
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Remove flaky marks on integration tests (#1184)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix VecEnvExecutor + off-policy algorithms
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/vec_env_executor.py
  tests/garage/tf/algos/test_batch_polopt2.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix VecEnvExecutor + off-policy algorithms (#1178)
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/vec_env_executor.py
  tests/garage/tf/algos/test_batch_polopt2.py
Due: check-pylint-normal, check-pylint-unit-tests

Address documentation and style comments
  examples/torch/pearl_ml1_push.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/worker_factory.py
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Add PEARL and changes to configure MetaEvaluator
  examples/torch/pearl_ml1_push.py
  src/garage/experiment/local_runner.py
  src/garage/experiment/meta_evaluator.py
  src/garage/experiment/snapshotter.py
  src/garage/sampler/pearl_worker.py
  src/garage/sampler/worker_factory.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Make test pass
  examples/torch/pearl_ml1_push.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add env_spec methods to PEARL
  examples/torch/pearl_ml1_push.py
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/envs/env_spec.py
  src/garage/sampler/pearl_worker.py
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Add PEARL test
  README.md
  examples/torch/pearl_ml1_push.py
  src/garage/experiment/meta_evaluator.py
  tests/garage/torch/algos/test_pearl.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove example from integration test
  examples/torch/pearl_ml1_push.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Update example file
  examples/torch/pearl_ml1_push.py
Due: check-pylint-normal

Fix example file
  examples/torch/pearl_ml1_push.py
Due: check-pylint-normal

Clean up code
  examples/torch/pearl_ml1_push.py
  src/garage/experiment/local_runner.py
  src/garage/experiment/meta_evaluator.py
  src/garage/torch/algos/pearl.py
  tests/garage/torch/algos/test_pearl.py
Due: check-pylint-normal, check-pylint-unit-tests

Change example file permission
  examples/torch/pearl_ml1_push.py
Due: check-pylint-normal

Make test run faster
  examples/torch/pearl_ml1_push.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Move policy and encoder into PEARL
  examples/torch/pearl_ml1_push.py
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Add setters to EnvSpec
  src/garage/envs/env_spec.py
Due: check-pylint-normal

Leave out PEARL test
  tests/integration_tests/test_examples.py
Due: check-pylint-normal
