Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Fix duplicate window rendering
  src/garage/experiment/local_runner.py
  src/garage/tf/plotter/plotter.py
Due: check-pylint-normal

Fix duplicate window rendering (#1253)
  src/garage/experiment/local_runner.py
  src/garage/tf/plotter/plotter.py
Due: check-pylint-normal

Fix typo, which broke CI
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix typo, which broke CI (#1262)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Optionally insert parameters into exp dir names
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Optionally insert parameters into exp dir names (#1249)
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove unnecessary pg_loss option
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_ppo_ml10_meta_test.py
  examples/tf/rl2_ppo_ml45.py
  src/garage/tf/algos/erwr.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/rl2ppo.py
  src/garage/tf/algos/rl2trpo.py
  src/garage/tf/algos/tnpg.py
  src/garage/tf/algos/trpo.py
  src/garage/tf/algos/vpg.py
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove unnecessary pg_loss option (#1266)
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_ppo_halfcheetah_meta_test.py
  examples/tf/rl2_ppo_ml10.py
  examples/tf/rl2_ppo_ml10_meta_test.py
  examples/tf/rl2_ppo_ml45.py
  src/garage/tf/algos/erwr.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/rl2ppo.py
  src/garage/tf/algos/rl2trpo.py
  src/garage/tf/algos/tnpg.py
  src/garage/tf/algos/trpo.py
  src/garage/tf/algos/vpg.py
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-normal, check-pylint-unit-tests

Integrete Plotter to the codebase
  src/garage/experiment/local_runner.py
  src/garage/sampler/utils.py
  src/garage/tf/experiment/local_tf_runner.py
  tests/garage/experiment/test_local_runner.py
Due: check-pylint-normal, check-pylint-unit-tests

Integrete Plotter to the codebase (#1267)
  src/garage/experiment/local_runner.py
  src/garage/sampler/utils.py
  src/garage/tf/experiment/local_tf_runner.py
  tests/garage/experiment/test_local_runner.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove superfluous manual example tests
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Remove superfluous manual example tests (#1268)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add test to test_examples.py
  examples/torch/pearl_half_cheetah_vel.py
Due: check-pylint-normal

Add more PEARL examples
  examples/torch/pearl_half_cheetah_vel.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix typo in test_examples
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Adjust timeout
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add ML10 and 45 examples
  examples/torch/pearl_ml10.py
  examples/torch/pearl_ml45.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Move evaluator into PEARL
  examples/torch/pearl_half_cheetah_vel.py
  examples/torch/pearl_ml10.py
  examples/torch/pearl_ml1_push.py
  examples/torch/pearl_ml45.py
  src/garage/torch/algos/pearl.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Update PEARL
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Add ML10 and ML45 Pearl examples (#1265)
  examples/torch/pearl_ml10.py
  examples/torch/pearl_ml1_push.py
  examples/torch/pearl_ml45.py
  src/garage/torch/algos/pearl.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add ML1 example for RL2
  examples/tf/rl2_ppo_ml1.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Increase timeout threshold
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Remove manual example
  examples/tf/rl2_ppo_ml1.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add manual example because it takes too long
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add ML1 example for RL2 (#1263)
  examples/tf/rl2_ppo_ml1.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix TF plotter
  examples/tf/trpo_cartpole_recurrent.py
  src/garage/experiment/local_runner.py
  src/garage/tf/models/base.py
  src/garage/tf/plotter/plotter.py
  src/garage/tf/policies/categorical_lstm_policy.py
Due: check-pylint-normal

Address comments
  src/garage/tf/models/base.py
  src/garage/tf/plotter/plotter.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/samplers/worker.py
Due: check-pylint-normal

Add tests
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/samplers/test_tf_worker.py
Due: check-pylint-unit-tests

Fix TF plotter (#1270)
  examples/tf/trpo_cartpole_recurrent.py
  src/garage/experiment/local_runner.py
  src/garage/tf/models/base.py
  src/garage/tf/plotter/plotter.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/samplers/worker.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/samplers/test_tf_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove examples from exclusion list
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Remove examples from exclusion list (#1272)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Includes benchmark envs in README
  tests/benchmarks/README.md
Due: none

Add meta-RL and multitask-RL
  tests/benchmarks/README.md
Due: none

Update README.md
  README.md
Due: none

Make docs deps match package deps
  docs/conf.py
  docs/requirements.txt
Due: check-pylint-normal

Update python version to 3.7 for rtfd
  readthedocs.yml
Due: none

Update README to include environments for benchmarking (#1271)
  tests/benchmarks/README.md
Due: none

Use correct max_path_length for off-policy eval
  src/garage/np/algos/off_policy_rl_algorithm.py
Due: check-pylint-normal

Use correct max_path_length for off-policy eval (#1279)
  src/garage/np/algos/off_policy_rl_algorithm.py
Due: check-pylint-normal

Downgrade sphinx version
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
