Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Test tag conditional
  .github/workflows/ci.yml
Due: none

Test in test pypi
  .github/workflows/ci.yml
Due: none

Test version file update
  .github/workflows/ci.yml
Due: none

Test deployment
  .github/workflows/ci.yml
Due: none

Test deploy garage
  .github/workflows/ci.yml
  setup.py
Due: check-pylint-normal

Test new token
  .github/workflows/ci.yml
Due: none

Test tag regex
  .github/workflows/ci.yml
Due: none

Test upload regex
  .github/workflows/ci.yml
  .travis.yml
Due: none

Test push to tag
  .github/workflows/ci.yml
Due: none

Add PYPI deployment action
  .github/workflows/ci.yml
Due: none

Update pytorch td3 doc
  docs/user/algo_td3.md
  docs/user/images/td3_torch_HalfCheetah-v2.png
  docs/user/images/td3_torch_Hopper-v2.png
  docs/user/images/td3_torch_InvertedDoublePendulum-v2.png
  docs/user/images/td3_torch_InvertedPendulum-v2.png
  docs/user/images/td3_torch_Swimmer-v2.png
  docs/user/images/td3_torch_Walker2d-v2.png
Due: none

Update pytorch td3 doc (#2174)
  docs/user/algo_td3.md
  docs/user/images/td3_torch_HalfCheetah-v2.png
  docs/user/images/td3_torch_Hopper-v2.png
  docs/user/images/td3_torch_InvertedDoublePendulum-v2.png
  docs/user/images/td3_torch_InvertedPendulum-v2.png
  docs/user/images/td3_torch_Swimmer-v2.png
  docs/user/images/td3_torch_Walker2d-v2.png
Due: none

Improve data types
  examples/torch/dqn_atari.py
  setup.py
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_environment.py
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/bc.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/np/test_functions.py
  tests/garage/test_dtypes.py
  tests/garage/torch/algos/test_bc.py
Due: check-pylint-normal, check-pylint-unit-tests

Reorder dtypes to sensible order
  src/garage/_dtypes.py
Due: check-pylint-normal

Improve data types (#2176)
  examples/torch/dqn_atari.py
  setup.py
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_environment.py
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/bc.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/np/test_functions.py
  tests/garage/test_dtypes.py
  tests/garage/torch/algos/test_bc.py
Due: check-pylint-normal, check-pylint-unit-tests

Change line style
  docs/user/algo_td3.md
Due: none

Fix td3 docs
  docs/user/algo_td3.md
Due: none

Fix td3 doc (#2179)
  docs/user/algo_td3.md
Due: none

Add tnpg docs
  docs/user/references.bib
Due: none

Fix pre-commit
  docs/user/references.bib
Due: none

Update reference typo
  docs/user/references.bib
Due: none

Fix typo
  docs/user/algo_teppo.md
Due: none

Extend environment API to support seeding
  src/garage/_environment.py
  src/garage/envs/dm_control/dm_control_env.py
  src/garage/envs/grid_world_env.py
  src/garage/envs/gym_env.py
  src/garage/envs/metaworld_set_task_env.py
  src/garage/envs/point_env.py
Due: check-pylint-normal

Set seeds for Gym envs
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Set env seeds whenever environment is changed
  src/garage/sampler/_functions.py
Due: check-pylint-normal

Add test for determinism of LocalSampler
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-unit-tests

Fix uss of sampler
  examples/np/cma_es_cartpole.py
  examples/np/tutorial_cem.py
Due: check-pylint-normal

Fix tests
  src/garage/sampler/local_sampler.py
  src/garage/sampler/multiprocessing_sampler.py
  src/garage/sampler/ray_sampler.py
  tests/fixtures/experiment/fixture_experiment.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/np/algos/test_cma_es.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Pickling ray sampler
  src/garage/sampler/ray_sampler.py
  tests/garage/envs/dm_control/test_dm_control_tf_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix raysampler test
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-unit-tests

Fix multiprocessing sampler test
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests
