Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Refactoring CategoricalMLPRegressor with tfp (#1591)
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor_model.py
  tests/garage/tf/regressors/test_categorical_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Build encoder and policy in constructor
  src/garage/tf/algos/te_npo.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Increase std in examples
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
Due: check-pylint-normal

Update test_examples.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Log_std
  src/garage/np/embeddings/encoder.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/te_ppo.py
  tests/garage/envs/test_task_onehot_wrapper.py
  tests/garage/tf/algos/test_te.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Mark mujoco tests
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Address comments
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
  examples/tf/te_ppo_point.py
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Remove _build_optimizer
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/te_ppo.py
Due: check-pylint-normal

Fix CI
  src/garage/tf/algos/te_npo.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
  tests/garage/tf/samplers/test_task_embedding_worker.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Rename forward() to get_latent()
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
  examples/tf/te_ppo_point.py
  src/garage/np/embeddings/encoder.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/task_embedding_policy.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Clean up
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Ryan's task embeddings fixes
  examples/tf/te_ppo_point.py
  src/garage/envs/point_env.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/te_ppo.py
Due: check-pylint-normal

Remove entropy method
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
Due: check-pylint-normal

Address comments
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
  examples/tf/te_ppo_point.py
  src/garage/misc/tensor_utils.py
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Add task embedding algorithms
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
  examples/tf/te_ppo_point.py
  src/garage/envs/point_env.py
  src/garage/misc/tensor_utils.py
  src/garage/np/baselines/__init__.py
  src/garage/np/baselines/linear_multi_feature_baseline.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/te.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/te_ppo.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  tests/garage/tf/algos/test_te.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Format
  src/garage/envs/point_env.py
Due: check-pylint-normal

Fix CI
  tests/garage/tf/algos/test_te.py
Due: check-pylint-unit-tests

Skip MT50 test
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix optimizer param
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
  examples/tf/te_ppo_point.py
Due: check-pylint-normal

Fix NaN by clip early
  examples/tf/te_ppo_point.py
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Minor fix
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal

Fix CI
  src/garage/tf/algos/te_npo.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Update readme
  README.md
Due: none

[Docker] Disable wget certificate check
  docker/Dockerfile
Due: none

Suppress pylint false alarm
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Don't check roboti.us cert in Dockerfile
  docker/Dockerfile
Due: none

Add task embedding algorithms (#1171)
  README.md
  docker/Dockerfile
  examples/tf/te_ppo_metaworld_ml1_push.py
  examples/tf/te_ppo_metaworld_mt10.py
  examples/tf/te_ppo_metaworld_mt50.py
  examples/tf/te_ppo_point.py
  src/garage/envs/point_env.py
  src/garage/misc/tensor_utils.py
  src/garage/np/baselines/__init__.py
  src/garage/np/baselines/linear_multi_feature_baseline.py
  src/garage/np/embeddings/encoder.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/te.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/algos/te_ppo.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/policies/task_embedding_policy.py
  tests/garage/envs/test_task_onehot_wrapper.py
  tests/garage/tf/algos/test_te.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
  tests/garage/tf/samplers/test_task_embedding_worker.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Disable cert check for roboti.us
  docker/Dockerfile.base.18.04
Due: none

Remove cached_property dependency
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Disable cert check for roboti.us (#1595)
  docker/Dockerfile.base.18.04
Due: none

Remove cached_property dependency (#1593)
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Don't collect more than necessary in RaySampler
  src/garage/sampler/ray_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Don't collect more than necessary in RaySampler (#1583)
  src/garage/sampler/ray_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Update CHANGELOG.md for 2020.06.0 release
  CHANGELOG.md
Due: none

Update CHANGELOG.md for 2020.06.0 release (#1575)
  CHANGELOG.md
Due: none

Fix bug when calling CategoricalCNNPolicy
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
Due: check-pylint-normal

Fix bug when calling CategoricalCNNPolicy (#1597)
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
Due: check-pylint-normal

Update setup_linux to ignore purge errors
  scripts/setup_linux.sh
Due: none

Update setup_linux to ignore purge errors (#1588)
  scripts/setup_linux.sh
Due: none

Add PixelObservationWrapper
  src/garage/envs/wrappers/__init__.py
  src/garage/envs/wrappers/pixel_observation.py
  tests/garage/envs/wrappers/test_pixel_observation_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests
