Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

tune hyperparams
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_tf.py
  examples/tf/a2c_pendulum.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove merge statements in docs and examples (#1901)
  docs/user/implement_algo.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/jupyter/custom_env.ipynb
Due: none

Return unscaled action in normalize wrapper
  src/garage/envs/normalized_env.py
Due: check-pylint-normal

Return unscaled action in normalize wrapper (#1927)
  src/garage/envs/normalized_env.py
Due: check-pylint-normal

Reword test names
  .github/workflows/ci.yml
Due: none

Add previous gh-actions
  .github/workflows/ci.yml
Due: none

Add test suite with Github Actions
  .github/workflows/ci.yml
  docker/Dockerfile
  tests/garage/tf/algos/test_ppo.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Move Docker info to before login step
  .github/workflows/ci.yml
Due: none

Formatting fixes for ci.yml
  .github/workflows/ci.yml
Due: none

Run test suites with GitHub Actions (#1861)
  .github/workflows/ci.yml
  docker/Dockerfile
  tests/garage/tf/algos/test_ppo.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Relax test_ppo_pendulum_lstm
  tests/garage/tf/algos/test_ppo.py
Due: check-pylint-unit-tests

Relax test_ppo_pendulum_lstm (#1944)
  tests/garage/tf/algos/test_ppo.py
Due: check-pylint-unit-tests

Update mtsac_metaworld_mt50.py
  examples/torch/mtsac_metaworld_mt50.py
Due: check-pylint-normal

Update mtsac_metaworld_mt50.py (#1905)
  examples/torch/mtsac_metaworld_mt50.py
Due: check-pylint-normal

Update torch.full with dtype arg
  src/garage/torch/_functions.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/modules/test_gaussian_mlp_module.py
  tests/garage/torch/modules/test_multi_headed_mlp_module.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Update mergify for GitHub Actions
  .mergify.yml
Due: none

Update mergify for GitHub Actions (#1943)
  .mergify.yml
Due: none

Update torch.full with dtype arg (#1934)
  src/garage/torch/_functions.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/modules/test_gaussian_mlp_module.py
  tests/garage/torch/modules/test_multi_headed_mlp_module.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Use max episode length eval in sac evaluation
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Use max episode length eval in sac evaluation (#1908)
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Add Slack and garage-announce to README
  README.md
Due: none

Update README.md
  README.md
Due: none

Add Slack and garage-announce to README (#1951)
  README.md
Due: none

Make Adam explicit in benchmark
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_tf.py
  examples/tf/a2c_pendulum.py
Due: check-pylint-normal, check-pylint-unit-tests

Mergify: configuration update
  .mergify.yml
Due: none

Correct .mergify.yml for GH Actions
  .mergify.yml
Due: none

Bugfix pre-commit
  .github/workflows/ci.yml
  scripts/travisci/check_precommit.sh
Due: none

Potential master bug fix
  .github/workflows/ci.yml
Due: none

Add single quotes
  .github/workflows/ci.yml
Due: none

Test if bugfix works
  .github/workflows/ci.yml
Due: none

Potential fix for master bug
  .github/workflows/ci.yml
Due: none

Test potential fix
  .github/workflows/ci.yml
Due: none

Fix test dependency on pre-commit
  .github/workflows/ci.yml
Due: none

Fix test dependency on pre-commit (#1945)
  .github/workflows/ci.yml
Due: none

Add pcgrad benchmark
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/__init__.py
  benchmarks/src/garage_benchmarks/experiments/algos/pcgrad_ppo_tf.py
Due: check-pylint-unit-tests

Add RESL and USC Viterbi acks to README and docs
  .mergify.yml
  README.md
  docs/_static/resl_logo.png
  docs/_static/viterbi_logo.png
  docs/_templates/footer.html
  scripts/travisci/check_docs_only.sh
Due: none

Add RESL and USC Viterbi acks to README and docs (#1955)
  .mergify.yml
  README.md
  docs/_static/resl_logo.png
  docs/_static/viterbi_logo.png
  docs/_templates/footer.html
  scripts/travisci/check_docs_only.sh
Due: none

Add env library doc
  docs/index.md
  docs/user/environment_libraries.md
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
