Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

RL^2 algorithm
  src/garage/misc/tensor_utils.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Fix comments
  src/garage/np/algos/base.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Add example
  examples/tf/rl2_halfcheetah.py
  src/garage/envs/__init__.py
  src/garage/envs/rl2_env.py
Due: check-pylint-normal

Fix helper function
  src/garage/misc/tensor_utils.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Inherit from BatchPolopt
  examples/tf/rl2_halfcheetah.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/rl2_npo.py
  src/garage/tf/algos/rl2_ppo.py
  src/garage/tf/misc/tensor_utils.py
Due: check-pylint-normal

Inherit from NPO, PPO
  examples/tf/rl2_halfcheetah.py
  src/garage/sampler/rl2_sampler.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Cater baselines
  examples/tf/rl2_halfcheetah.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Fix examples/tf/multi_env_trpo.py
  src/garage/_dtypes.py
  src/garage/misc/tensor_utils.py
Due: check-pylint-normal

Add MetaEvaluator test
  setup.cfg
  src/garage/_functions.py
  src/garage/envs/point_env.py
  src/garage/experiment/local_runner.py
  src/garage/experiment/meta_evaluator.py
  src/garage/experiment/task_sampler.py
  src/garage/np/algos/meta_rl_algorithm.py
  src/garage/np/policies/fixed_policy.py
  src/garage/tf/experiment/local_tf_runner.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/np/policies/test_fixed_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix more tests
  src/garage/envs/point_env.py
  src/garage/np/policies/fixed_policy.py
  tests/garage/np/policies/test_fixed_policy.py
  tests/garage/sampler/test_local_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Add TaskSampler tests
  setup.py
  src/garage/experiment/task_sampler.py
  tests/garage/experiment/test_task_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Base class and utilities for Meta-RL Algorithms
  examples/torch/trpo_pendulum_ray_sampler.py
  src/garage/experiment/__init__.py
  src/garage/experiment/local_runner.py
  src/garage/experiment/meta_evaluator.py
  src/garage/experiment/task_sampler.py
  src/garage/np/algos/__init__.py
  src/garage/np/algos/meta_algorithm.py
  src/garage/sampler/env_update.py
  src/garage/sampler/worker.py
  src/garage/tf/experiment/local_tf_runner.py
  src/garage/torch/policies/base.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
Due: check-pylint-normal

Fix test_dtypes
  tests/garage/test_dtypes.py
Due: check-pylint-unit-tests

Integration tests between TaskSampler and Samplers
  src/garage/np/policies/__init__.py
  src/garage/np/policies/fixed_policy.py
  tests/garage/sampler/test_local_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Mark TaskSampler tests as large so they run on CI
  setup.py
  tests/garage/experiment/test_task_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor evaluate_performance to log_performance
  setup.cfg
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_functions.py
  src/garage/experiment/local_runner.py
  src/garage/experiment/meta_evaluator.py
  src/garage/experiment/task_sampler.py
  src/garage/np/algos/__init__.py
  src/garage/np/algos/base.py
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/np/algos/meta_rl_algorithm.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
  tests/fixtures/algos/dummy_algo.py
  tests/fixtures/tf/instrumented_npo.py
  tests/fixtures/tf/instrumented_trpo.py
  tests/fixtures/tf/trpo_pendulum_instrumented.py
  tests/garage/np/algos/test_batch_polopt.py
Due: check-pylint-normal, check-pylint-unit-tests

Base class and utilities for Meta-RL Algorithms (#1142)
  examples/torch/trpo_pendulum_ray_sampler.py
  setup.cfg
  setup.py
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/_functions.py
  src/garage/envs/point_env.py
  src/garage/experiment/__init__.py
  src/garage/experiment/local_runner.py
  src/garage/experiment/meta_evaluator.py
  src/garage/experiment/task_sampler.py
  src/garage/misc/tensor_utils.py
  src/garage/np/algos/__init__.py
  src/garage/np/algos/base.py
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/np/algos/meta_rl_algorithm.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/np/policies/__init__.py
  src/garage/np/policies/fixed_policy.py
  src/garage/sampler/env_update.py
  src/garage/sampler/worker.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/experiment/local_tf_runner.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/policies/base.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
  tests/fixtures/algos/dummy_algo.py
  tests/fixtures/tf/instrumented_npo.py
  tests/fixtures/tf/instrumented_trpo.py
  tests/fixtures/tf/trpo_pendulum_instrumented.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/np/algos/test_batch_polopt.py
  tests/garage/np/policies/test_fixed_policy.py
  tests/garage/sampler/test_local_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

new tanh dist
  src/garage/torch/distributions/tanh_normal.py
Due: check-pylint-normal

new tanh dist
  src/garage/torch/distributions/__init__.py
  src/garage/torch/distributions/tanh_normal.py
  src/garage/torch/modules/tanh_gaussian_mlp_module_2.py
Due: check-pylint-normal

tanh normal final
  src/garage/torch/algos/sac.py
  src/garage/torch/distributions/tanh_normal.py
Due: check-pylint-normal

Update README to include MAML
  README.md
Due: none

Update README to include MAML (#1146)
  README.md
Due: none

Mark test_ppo_memorize_digits as flaky
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Mark test_ppo_memorize_digits as flaky (#1148)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

temp
  src/garage/experiment/local_runner.py
  src/garage/torch/algos/sac.py
  src/garage/torch/distributions/__init__.py
  src/garage/torch/distributions/tanh_normal.py
  src/garage/torch/distributions/tanh_normal_2.py
  src/garage/torch/distributions/tanh_normal_distribution.py
  src/garage/torch/modules/tanh_gaussian_mlp_module_2.py
  tests/garage/torch/distributions/test_tanh_normal_dist.py
Due: check-pylint-normal, check-pylint-unit-tests

Mark test_trpo_cubecrash as flaky
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Mark test_update_envs_env_update as flaky
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-unit-tests

Mark some tests as flaky (#1149)
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

MetaEvaluate with multiple trajectories
  src/garage/experiment/meta_evaluator.py
  tests/garage/experiment/test_meta_evaluator.py
Due: check-pylint-normal, check-pylint-unit-tests

MetaEvaluate with multiple trajectories (#1152)
  src/garage/experiment/meta_evaluator.py
  tests/garage/experiment/test_meta_evaluator.py
Due: check-pylint-normal, check-pylint-unit-tests

temp
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Tanh Distribution for Pytorch Policies
  src/garage/torch/distributions/__init__.py
  src/garage/torch/distributions/tanh_normal.py
  tests/garage/torch/distributions/test_tanh_normal_dist.py
Due: check-pylint-normal, check-pylint-unit-tests

Tanh Distribution for Pytorch Policies (#1140)
  src/garage/torch/distributions/__init__.py
  src/garage/torch/distributions/tanh_normal.py
  tests/garage/torch/distributions/test_tanh_normal_dist.py
Due: check-pylint-normal, check-pylint-unit-tests

Make experiment_wrapper not control Plotter
  src/garage/experiment/experiment_wrapper.py
  src/garage/tf/plotter/plotter.py
Due: check-pylint-normal

Create @wrap_experiment to replace run_experiment
  src/garage/__init__.py
  src/garage/experiment/__init__.py
  src/garage/experiment/experiment.py
  src/garage/experiment/experiment_wrapper.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Allow correct-shaped observations to exceed space
  src/garage/_dtypes.py
Due: check-pylint-normal

Wrap experiment (#1100)
  src/garage/__init__.py
  src/garage/experiment/__init__.py
  src/garage/experiment/experiment.py
  src/garage/experiment/experiment_wrapper.py
  src/garage/tf/plotter/plotter.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Allow correct-shaped observations to exceed space (#1154)
  src/garage/_dtypes.py
Due: check-pylint-normal

Convert RaySampler to use cloudpickle
  src/garage/sampler/ray_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Allow passing EnvUpdate to sampler init
  src/garage/sampler/local_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/worker.py
  tests/garage/sampler/test_local_sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
