Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Enable inline caching for Docker buildkit
  Makefile
  docker/hooks/build
Due: none

Improve docs formatting
  docs/index.md
  docs/user/docker.md
  docs/user/docker_dev.md
Due: none

Update to CUDA 11.0 for TF 2.4
  Makefile
  docker/hooks/build
  docs/user/docker.md
  docs/user/docker_dev.md
Due: none

Update nvidia docker images to use CUDA 10.1
  Makefile
  docker/hooks/build
  docs/user/docker.md
  docs/user/docker_dev.md
Due: none

Address code review comments
  docs/user/docker.md
  docs/user/docker_dev.md
Due: none

Add default docker container; Update docker docs (#2142)
  .github/workflows/ci.yml
  Makefile
  docker/Dockerfile
  docker/hooks/build
  docs/index.md
  docs/user/docker.md
  docs/user/docker_dev.md
Due: none

Update examples dir path in tests
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

All MT10 Launchers
  metaworld_launchers/launch-instances-mtppo-mt10.py
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
  metaworld_launchers/mt10/mtppo_metaworld_mt10.py
  metaworld_launchers/mt10/mtsac_metaworld_mt10.py
  metaworld_launchers/mt10/mttrpo_metaworld_mt10.py
  metaworld_launchers/mt10/te_ppo_metaworld_mt10.py
  setup.py
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

TE update to log named params
  metaworld_launchers/mt10/te_ppo_metaworld_mt10.py
Due: check-pylint-normal

Update user account used for CI ops (#2225)
  .github/workflows/ci-release-2020.06.yml
Due: none

Fix wrong cuda version for TF in docker image
  Makefile
  docker/hooks/build
Due: none

Add command for running CI on PRs from forks
  .github/workflows/ci.yml
  .github/workflows/ok-to-test.yml
Due: none

Modify Pearl to add logging of train tasks
  metaworld_launchers/ml10/pearl_metaworld_ml10.py
  src/garage/torch/algos/pearl.py
Due: check-pylint-normal

Update Launchers
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
Due: check-pylint-normal

What seems like it should work
  src/garage/torch/_functions.py
  src/garage/torch/policies/categorical_cnn_policy.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Run ppo metaworld-v2
  docker_metaworld_run_cpu.py
  metaworld_launchers/launch-instances-ppo.py
  metaworld_launchers/single_task_launchers/ppo_metaworld.py
  setup.py
Due: check-pylint-normal

updated launcher scripts to burst launch, and add experiments under their own env dirs
  metaworld_launchers/launch-instances-sac.py
  metaworld_launchers/single_task_launchers/sac_metaworld.py
Due: check-pylint-normal

Metaworld v1 mt10 experiments
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
  metaworld_launchers/mt10/mtsac_metaworld_mt10.py
  metaworld_launchers/mt10/te_ppo_metaworld_mt10.py
  setup.py
Due: check-pylint-normal

Update for round 2
  metaworld_launchers/launch-instances-ppo.py
  metaworld_launchers/launchers/launch-experiment.sh
  setup.py
Due: check-pylint-normal

Documentation and template
  .github/workflows/README.md
  .github/workflows/ci-release-TEMPLATE.yml
Due: none

Modify launchers with final hparams and launching rate limiter
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
Due: check-pylint-normal

RL2 tuned for old metaworld
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
Due: check-pylint-normal

ML10 launchers for v1 environments
  metaworld_launchers/launchers-ml10/launch-instances-maml.py
  metaworld_launchers/launchers-ml10/launch-instances-pearl.py
  metaworld_launchers/launchers-ml10/launch-instances-rl2.py
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
  metaworld_launchers/ml10/maml_trpo_metaworld_mt10.py
  metaworld_launchers/ml10/mttrpo_metaworld_mt10.py
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
Due: check-pylint-normal

Update SAC launch script with my username
  metaworld_launchers/launch-instances-sac.py
Due: check-pylint-normal

ML10 old v1 launchers
  metaworld_launchers/launchers-ml10/launch-instances-maml.py
  metaworld_launchers/launchers-ml10/launch-instances-pearl.py
  metaworld_launchers/launchers-ml10/launch-instances-rl2.py
Due: check-pylint-normal

Final V2 ML10 MT10 launchers
  .gitignore
  metaworld_launchers/launchers-ml10/launch-instances-maml.py
  metaworld_launchers/launchers-ml10/launch-instances-pearl.py
  metaworld_launchers/launchers-ml10/launch-instances-rl2.py
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
  setup.py
Due: check-pylint-normal

Fix wrong cuda version for TF in docker image (#2173)
  Makefile
  docker/hooks/build
Due: none

Fix dm_env
  setup.py
Due: check-pylint-normal

Specify minimum akro version
  setup.py
Due: check-pylint-normal

Specify minimum akro version (#2233)
  setup.py
Due: check-pylint-normal

Fix dm_env (#2238)
  setup.py
Due: check-pylint-normal

Fix saving episodes
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
Due: check-pylint-normal

Update release CI to remove redundancy
  .github/workflows/ci-release-2020.06.yml
  Makefile
  scripts/ci/check_precommit.sh
Due: none

Fix saving episodes (#2235)
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
Due: check-pylint-normal

Launchers Used for final MT10 and ML10 Results
  metaworld_launchers/launchers-ml10/launch-instances-maml.py
  metaworld_launchers/launchers-ml10/launch-instances-pearl.py
  metaworld_launchers/launchers-ml10/launch-instances-rl2.py
  metaworld_launchers/launchers-mt10/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt10/launch-instances-mtsac.py
  metaworld_launchers/launchers-mt10/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt10/launch-instances-te.py
Due: check-pylint-normal

Initial Commit: Added ml1 gcp launchers
  metaworld_launchers/launchers-ml1/launch-instances-maml.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl.py
  metaworld_launchers/launchers-ml1/launch-instances-rl2.py
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
Due: check-pylint-normal

Updated Setup with newest pull
  setup.py
  src/garage/_functions.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
