Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Run all tests
  .github/workflows/ci.yml
Due: none

Also run nightly tests
  .github/workflows/ci.yml
Due: none

Fix MAML HalfCheetahDir examples
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  src/garage/envs/mujoco/half_cheetah_dir_env.py
Due: check-pylint-normal

Make the sampler field protected in algorithms (#2198)
  docs/user/implement_algo.md
  docs/user/sampling.md
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
  src/garage/torch/algos/vpg.py
  src/garage/trainer.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/experiment/test_trainer.py
Due: check-pylint-normal, check-pylint-unit-tests

Add more logging to MAML
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Pass input_dim in constructor of CNN model
  src/garage/tf/baselines/gaussian_cnn_baseline.py
Due: check-pylint-normal

Pass input_dim in constructor of CNN model
  src/garage/tf/baselines/gaussian_cnn_baseline_model.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  tests/fixtures/models/simple_cnn_model.py
  tests/fixtures/models/simple_cnn_model_with_max_pooling.py
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/garage/tf/models/test_cnn_model.py
  tests/garage/tf/models/test_gaussian_cnn_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Reshape input in tf/cnn
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
Due: check-pylint-normal

Reshape input in tf/cnn
  src/garage/tf/baselines/gaussian_cnn_baseline_model.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  tests/fixtures/models/simple_cnn_model.py
  tests/fixtures/models/simple_cnn_model_with_max_pooling.py
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/models/test_cnn.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/garage/tf/models/test_cnn_model.py
  tests/garage/tf/models/test_gaussian_cnn_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix test
  tests/garage/tf/policies/test_categorical_cnn_policy.py
Due: check-pylint-unit-tests

Make tf/categotical_cnn_policy's obs_ph flattened
  src/garage/tf/policies/categorical_cnn_policy.py
  tests/fixtures/models/simple_cnn_model.py
  tests/fixtures/models/simple_cnn_model_with_max_pooling.py
Due: check-pylint-normal

Fix precommit
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/modules/discrete_dueling_cnn_module.py
Due: check-pylint-normal

Fix compatibility with sphinxcontrib-bibtex >= 2.0
  .pre-commit-config.yaml
  docs/bibtex.json
  docs/conf.py
  docs/user/algo_bc.md
  docs/user/algo_cem.md
  docs/user/algo_ddpg.md
  docs/user/algo_erwr.md
  docs/user/algo_maml.md
  docs/user/algo_mtppo.md
  docs/user/algo_mttrpo.md
  docs/user/algo_pearl.md
  docs/user/algo_ppo.md
  docs/user/algo_rl2.md
  docs/user/algo_sac.md
  docs/user/algo_td3.md
  docs/user/algo_trpo.md
  docs/user/algo_vpg.md
  docs/user/custom_worker.md
  docs/user/implement_algo.md
Due: check-pylint-normal

Fix compatibility with sphinxcontrib-bibtex >= 2.0 (#2202)
  .pre-commit-config.yaml
  docs/bibtex.json
  docs/conf.py
  docs/user/algo_bc.md
  docs/user/algo_cem.md
  docs/user/algo_ddpg.md
  docs/user/algo_erwr.md
  docs/user/algo_maml.md
  docs/user/algo_mtppo.md
  docs/user/algo_mttrpo.md
  docs/user/algo_pearl.md
  docs/user/algo_ppo.md
  docs/user/algo_rl2.md
  docs/user/algo_sac.md
  docs/user/algo_td3.md
  docs/user/algo_trpo.md
  docs/user/algo_vpg.md
  docs/user/custom_worker.md
  docs/user/implement_algo.md
Due: check-pylint-normal

Add launcher from earlier this year for testing old commits
  examples/torch/maml_ppo_half_cheetah_dir_old.py
  src/garage/envs/mujoco/half_cheetah_dir_env2.py
Due: check-pylint-normal

Update Credits in README.md
  README.md
Due: none

Update Credits in README.md (#2203)
  README.md
Due: none

Update MAML hyper parameter
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
Due: check-pylint-normal

Reshape input in tf/cnn (#2168)
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline_model.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/modules/discrete_dueling_cnn_module.py
  tests/fixtures/models/simple_cnn_model.py
  tests/fixtures/models/simple_cnn_model_with_max_pooling.py
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/models/test_cnn.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/garage/tf/models/test_cnn_model.py
  tests/garage/tf/models/test_gaussian_cnn_model.py
Due: check-pylint-normal, check-pylint-unit-tests

Update docker launcher to allow passing of different learning rates to maml
  docker_metaworld_ml10.py
Due: check-pylint-normal

Trying inner_lr=0.5
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
Due: check-pylint-normal

Run MAML with MT10
  docker_metaworld_run_cpu.py
  examples/torch/mtppo_metaworld_mt10.py
  examples/torch/trpo_mt10.py
  metaworld_launchers/ml10/maml_trpo_metaworld_mt10.py
  metaworld_launchers/ml10/mttrpo_metaworld_mt10.py
Due: check-pylint-normal

Ammend launcher to launch python scripts
  docker_metaworld_run_cpu.py
  metaworld_launchers/ml10/maml_trpo_metaworld_mt10.py
Due: check-pylint-normal

Add named params to mttrpo launcher
  metaworld_launchers/ml10/mttrpo_metaworld_mt10.py
Due: check-pylint-normal

Add DQN doc
  docs/index.md
  docs/user/algo_dqn.md
  docs/user/images/dqn_plots.png
  docs/user/references.bib
Due: none

Add DQN doc (#2169)
  docs/index.md
  docs/user/algo_dqn.md
  docs/user/images/dqn_plots.png
  docs/user/references.bib
Due: none

Add ML1 launchers for push and pick-place
  Makefile
  docker_metaworld_run_cpu.py
  examples/torch/maml_trpo_metaworld_ml1_pick_place.py
  metaworld_launchers/launch-experiment.sh
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1_pick_place.py
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1_push.py
  metaworld_launchers/upload_folders.py
  setup.py
Due: check-pylint-normal

Working launcher
  metaworld_launchers/launch-experiment.sh
Due: none

Rl2-ppo ml1 launchers initial commit
  metaworld_launchers/launch-experiment.sh
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1.py
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1_pick_place.py
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
Due: check-pylint-normal

Add Named Params to ML1 RL2 Launcher
  metaworld_launchers/launch-experiment.sh
  metaworld_launchers/launch-instances.py
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
  metaworld_launchers/ml10/mttrpo_metaworld_mt10.py
Due: check-pylint-normal

Backport 2020.06
  setup.py
Due: check-pylint-normal

Backport 2020.06 (#2211)
  setup.py
Due: check-pylint-normal

Add utilities for launching instances
  metaworld_launchers/launch-experiment.sh
  metaworld_launchers/launch-instances.py
Due: check-pylint-normal

Remove benchmarks from dockerfile
  docker/Dockerfile
Due: none

Add launchers for MTPPO MT1
  metaworld_launchers/mt1/mtppo_metaworld_mt1.py
  setup.py
Due: check-pylint-normal

Remove benchmarks from dockerfile (#2212)
  docker/Dockerfile
Due: none

launch MAML MT1 experiments
  metaworld_launchers/mt1/maml_ppo_metaworld_mt1.py
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
Due: check-pylint-normal

Fix mt1 maml launchers
  metaworld_launchers/mt1/maml_ppo_metaworld_mt1.py
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
Due: check-pylint-normal

Make MAML mt10 use same train and test tasks
  metaworld_launchers/ml10/maml_trpo_metaworld_mt10.py
Due: check-pylint-normal

Add mjkey_path env variable to dockerfile
  docker/Dockerfile
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
