Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Force Python 3.5 in the CI (#1423)
  .dockerignore
  Makefile
  docker/Dockerfile.base.18.04
  src/garage/torch/algos/sac.py
  tests/fixtures/envs/dummy/dummy_multitask_box_env.py
  tests/garage/experiment/test_experiment.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/models/test_model.py
  tests/helpers.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Use PathBuffer in off-policy algos
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/policies/continuous_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/q_functions/continuous_mlp_q_function.py
  examples/tf/ddpg_pendulum.py
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  examples/tf/td3_pendulum.py
  examples/torch/ddpg_pendulum.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/sampler/test_off_policy_vectorized_sampler_integration.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/torch/algos/test_ddpg.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Avoid dm-tree build errors via python_requires<3.8
  setup.py
Due: check-pylint-normal

Use PathBuffer in off-policy algos (#1433)
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/policies/continuous_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/q_functions/continuous_mlp_q_function.py
  examples/tf/ddpg_pendulum.py
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  examples/tf/td3_pendulum.py
  examples/torch/ddpg_pendulum.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/sampler/test_off_policy_vectorized_sampler_integration.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/torch/algos/test_ddpg.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Sync old and current distribution at the beginning
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
Due: check-pylint-normal

Add timeout threshold for RL2PPO
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-unit-tests

Fix old and new distribution synchronization in on-policy algorithms (#1444)
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-normal, check-pylint-unit-tests

Update installation instructions for zsh users
  docs/user/installation.rst
Due: none

Update installation instructions for zsh users (#1451)
  docs/user/installation.rst
Due: none

RL2TRPO for paper
  examples/tf/rl2_trpo_metaworld_ml10.py
  src/garage/experiment/local_runner.py
  src/garage/tf/models/gaussian_gru_model.py
  src/garage/tf/models/gru.py
  src/garage/tf/policies/gaussian_gru_policy.py
Due: check-pylint-normal

Temporarily disable pipenv job
  Makefile
Due: none

Temporarily disable pipenv job (#1458)
  Makefile
Due: none

Make LocalSampler not copy ExistingEnvUpdate
  src/garage/sampler/local_sampler.py
Due: check-pylint-normal

Pin tfp to 0.8.x
  setup.py
Due: check-pylint-normal

Document using pip install --user by default
  docs/user/installation.rst
Due: none

Force -xz compression of local git repo
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Make LocalSampler not copy ExistingEnvUpdate again
  src/garage/sampler/local_sampler.py
Due: check-pylint-normal

Pin tfp to 0.8.x (#1480)
  setup.py
Due: check-pylint-normal

Force -xz compression of local git repo (#1482)
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Fix memory leak in LocalSampler with EnvPoolSampler
  src/garage/sampler/local_sampler.py
Due: check-pylint-normal

Document using pip install --user by default (#1481)
  docs/user/installation.rst
Due: none

Use pip install --user in README.md
  README.md
Due: none

Use pip install --user in README.md (#1484)
  README.md
Due: none

Remove codecov-patch condition from mergify
  .mergify.yml
Due: none

Remove codecov-patch condition from mergify (#1485)
  .mergify.yml
Due: none

Refactor np BatchPolopt
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/vpg.py
  tests/fixtures/algos/dummy_algo.py
  tests/fixtures/algos/instrumented_batch_polopt.py
  tests/fixtures/algos/instrumented_nop.py
  tests/fixtures/algos/nop_pendulum_instrumented.py
  tests/garage/np/algos/test_batch_polopt.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor np BatchPolopt (#1486)
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/vpg.py
  tests/fixtures/algos/dummy_algo.py
  tests/fixtures/algos/instrumented_batch_polopt.py
  tests/fixtures/algos/instrumented_nop.py
  tests/fixtures/algos/nop_pendulum_instrumented.py
  tests/garage/np/algos/test_batch_polopt.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove garage.np.regressors
  src/garage/np/regressors/__init__.py
  src/garage/np/regressors/product_regressor.py
Due: check-pylint-normal

Remove garage.np.regressors (#1493)
  src/garage/np/regressors/__init__.py
  src/garage/np/regressors/product_regressor.py
Due: check-pylint-normal

Delete np/batch_polopt.py
  src/garage/np/algos/__init__.py
  src/garage/np/algos/batch_polopt.py
  tests/fixtures/algos/dummy_algo.py
Due: check-pylint-normal

Delete np/batch_polopt.py (#1492)
  src/garage/np/algos/__init__.py
  src/garage/np/algos/batch_polopt.py
  tests/fixtures/algos/dummy_algo.py
Due: check-pylint-normal

Remove garage.misc.prog_bar_counter and pyprind
  setup.py
  src/garage/misc/prog_bar_counter.py
  src/garage/sampler/multiprocessing_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/stateful_pool.py
  src/garage/tf/optimizers/first_order_optimizer.py
Due: check-pylint-normal

Remove garage.misc.prog_bar_counter and pyprind (#1495)
  setup.py
  src/garage/misc/prog_bar_counter.py
  src/garage/sampler/multiprocessing_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/stateful_pool.py
  src/garage/tf/optimizers/first_order_optimizer.py
Due: check-pylint-normal

Refactor GaussianMLPBaseline to use tfp
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/models/__init__.py
  src/garage/tf/models/gaussian_mlp_model.py
  src/garage/tf/models/gaussian_mlp_model2.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor_model.py
  tests/garage/tf/models/test_gaussian_mlp_model.py
  tests/garage/tf/regressors/test_gaussian_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor GaussianMLPBaseline to use tfp (#1456)
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/models/__init__.py
  src/garage/tf/models/gaussian_mlp_model.py
  src/garage/tf/models/gaussian_mlp_model2.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor_model.py
  tests/garage/tf/models/test_gaussian_mlp_model.py
  tests/garage/tf/regressors/test_gaussian_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove tf BatchPolopt
  src/garage/tf/__init__.py
  src/garage/tf/_functions.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/tf/instrumented_batch_polopt.py
  tests/garage/tf/algos/test_batch_polopt.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove BatchPolopt
  src/garage/tf/algos/reps.py
Due: check-pylint-normal

Use canonical path
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/experiment/fixture_experiment.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests
