Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Conditionally imports BulletEnv
  src/garage/envs/garage_env.py
Due: check-pylint-normal

Conditionally imports BulletEnv (#1730)
  src/garage/envs/garage_env.py
Due: check-pylint-normal

Fix mujoco dependent imports
  tests/garage/.pylintrc
  tests/garage/envs/test_half_cheetah_meta_envs.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/torch/algos/test_bc.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
Due: check-pylint-unit-tests

Fail the build if codecov upload fails (#1719)
  Makefile
Due: none

Use a codecov upload token (#1720)
  Makefile
Due: none

Mark test_td3_pendulum as flaky
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-unit-tests

Mark test_td3_pendulum as flaky (#1731)
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-unit-tests

Mark pybullet tests as flaky
  tests/garage/envs/bullet/test_bullet_env.py
Due: check-pylint-unit-tests

Make the README less retrospective about py35
  .mdlrc
  README.md
Due: none

Unpin torch
  setup.py
Due: check-pylint-normal

Make the README less retrospective about py35 (#1733)
  .mdlrc
  README.md
Due: none

Added doc for setting up dev env
  docs/user/installation.rst
  docs/user/setting_up_your_development_environment.md
Due: none

Added doc for setting up dev env (#1627)
  docs/user/installation.rst
  docs/user/setting_up_your_development_environment.md
Due: none

Remove hardcoded bullet env list
  src/garage/envs/bullet/__init__.py
  tests/garage/envs/bullet/test_bullet_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove hardcoded bullet env list (#1737)
  src/garage/envs/bullet/__init__.py
  tests/garage/envs/bullet/test_bullet_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Add dev environment setup to TOC
  docs/index.md
Due: none

Add dev environment setup to TOC (#1738)
  docs/index.md
Due: none

Rename tf.bassline.xx_model
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline_model.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline_model.py
Due: check-pylint-normal

Remove regressors in tests
  tests/fixtures/regressors/__init__.py
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
Due: check-pylint-normal

Remove regressors
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_cnn_regressor_model.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/baselines/gaussian_mlp_regressor_model.py
  src/garage/tf/regressors/__init__.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor_model.py
  src/garage/tf/regressors/regressor.py
  tests/garage/tf/regressors/__init__.py
  tests/garage/tf/regressors/test_bernoulli_mlp_regressor.py
  tests/garage/tf/regressors/test_categorical_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix typo in docstring
  src/garage/tf/baselines/gaussian_mlp_baseline.py
Due: check-pylint-normal

Remove garage.tf.regressors (#1727)
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline_model.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline_model.py
  src/garage/tf/regressors/__init__.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor_model.py
  src/garage/tf/regressors/regressor.py
  tests/fixtures/regressors/__init__.py
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
  tests/garage/tf/regressors/__init__.py
  tests/garage/tf/regressors/test_bernoulli_mlp_regressor.py
  tests/garage/tf/regressors/test_categorical_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Resolve PointEnv yapf issues
  docs/user/ensure_your_experiments_are_reproducible.md
  src/garage/envs/point_env.py
Due: check-pylint-normal

Create ensure_your_experiments_are_reproducible.md
  docs/index.md
  docs/user/ensure_your_experiments_are_reproducible.md
Due: none

Create ensure_your_experiments_are_reproducible.md (#1639)
  docs/index.md
  docs/user/ensure_your_experiments_are_reproducible.md
  src/garage/envs/point_env.py
Due: check-pylint-normal

Unpin PyTorch
  setup.py
Due: check-pylint-normal

Unpin PyTorch (#1734)
  setup.py
Due: check-pylint-normal

Rename CompletionRate to TerminationRate
  docs/user/experiments.rst
  docs/user/save_load_resume_exp.md
  docs/user/training_a_policy.md
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
  src/garage/_functions.py
  src/garage/tf/algos/te_npo.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Relax DQN test last_avg_reg
  tests/garage/tf/algos/test_dqn.py
Due: check-pylint-unit-tests

Rename CompletionRate to TerminationRate (#1728)
  docs/user/experiments.rst
  docs/user/save_load_resume_exp.md
  docs/user/training_a_policy.md
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
  src/garage/_functions.py
  src/garage/tf/algos/te_npo.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Relax DQN test last_avg_reg (#1744)
  tests/garage/tf/algos/test_dqn.py
Due: check-pylint-unit-tests

Update md
  docs/user/reuse_garage_policy.md
Due: none

Update md (#1747)
  docs/user/reuse_garage_policy.md
Due: none

Fix codecov retry loop
  Makefile
Due: none

Fix codecov retry loop (#1746)
  Makefile
Due: none

Relax threshold for flake SAC test
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-unit-tests

Relax threshold for flake SAC test (#1748)
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-unit-tests
