Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Add tests for deterministic policy eval
  tests/fixtures/policies/dummy_policy.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix deterministic policy evaluation
  src/garage/sampler/utils.py
Due: check-pylint-normal

Fix a typo to allow evaluating algos deterministically (#1617)
  src/garage/sampler/utils.py
  tests/fixtures/policies/dummy_policy.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Add build hooks for DockerHub
  docker/hooks/build
Due: none

Add build hooks for DockerHub (#1711)
  docker/hooks/build
Due: none

Add isort to pre-commit
  .pre-commit-config.yaml
  .pylintrc
  setup.cfg
  setup.py
  src/garage/envs/dm_control/__init__.py
  src/garage/experiment/experiment.py
  src/garage/experiment/local_runner.py
  src/garage/tf/q_functions/__init__.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/value_functions/__init__.py
  tests/garage/.pylintrc
  tests/garage/torch/algos/test_pearl.py
Due: check-pylint-normal, check-pylint-unit-tests

Add isort to pre-commit (#1707)
  .pre-commit-config.yaml
  .pylintrc
  setup.cfg
  setup.py
  src/garage/envs/dm_control/__init__.py
  src/garage/experiment/experiment.py
  src/garage/experiment/local_runner.py
  src/garage/tf/q_functions/__init__.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/value_functions/__init__.py
  tests/garage/.pylintrc
  tests/garage/torch/algos/test_pearl.py
Due: check-pylint-normal, check-pylint-unit-tests

Third draft
  docs/index.md
  docs/user/pretrained_network_experiment.md
  docs/user/save_load_resume_exp.md
  examples/jupyter/pretrained_trpo_gym_tf_cartpole.ipynb
Due: none

Second draft
  docs/user/pretrained_network_experiment.md
Due: none

Add pretrain example
  docs/user/pretrained_network_experiment.md
  examples/jupyter/pretrained_trpo_gym_tf_cartpole.ipynb
Due: none

First draft on pre-training doc
  docs/user/pretrained_network_experiment.md
Due: none

Update code syntax
  docs/index.md
  docs/user/save_load_resume_exp.md
Due: none

Hack for unpickling TanhGaussianMLPPolicy
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
Due: check-pylint-normal

Fix a typo to allow evaluating algos deterministically (#1617) (#1714)
  src/garage/sampler/utils.py
  tests/fixtures/policies/dummy_policy.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Update code syntax in save, load, resume experiment (#1692)
  docs/user/save_load_resume_exp.md
Due: none

Update docker gpu support to use the --gpus option
  Makefile
Due: none

Update docker gpu support to use the --gpus option (#1706)
  Makefile
Due: none

Use a codecov upload token
  Makefile
Due: none

Use a codecov upload token (#1720)
  Makefile
Due: none

Fail the build if codecov upload fails
  Makefile
Due: none

Fail the build if codecov upload fails (#1719)
  Makefile
Due: none

Fix check_commit_message
  scripts/check_commit_message
Due: none

Fix pipenv dependency resolution
  setup.py
Due: check-pylint-normal

Fix pipenv dependency resolution (#1721)
  setup.py
Due: check-pylint-normal

Fix isort
  tests/garage/tf/algos/test_npo.py
Due: check-pylint-unit-tests

Fix conflict between isort and yapf
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Fix isort
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_mlp_policy.py
  tests/fixtures/policies/dummy_policy.py
  tests/garage/envs/bullet/test_bullet_env.py
  tests/garage/sampler/test_utils.py
  tests/garage/tf/baselines/test_gaussian_mlp_baseline.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor GaussianMLPBaseline
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_mlp_policy.py
  examples/tf/ppo_pendulum.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/regressors/__init__.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/garage/tf/algos/test_npo.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/baselines/test_gaussian_mlp_baseline.py
  tests/garage/tf/regressors/test_gaussian_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor GaussianMLPBaseline (#1705)
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_mlp_policy.py
  examples/tf/ppo_pendulum.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/regressors/__init__.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/fixtures/policies/dummy_policy.py
  tests/garage/envs/bullet/test_bullet_env.py
  tests/garage/sampler/test_utils.py
  tests/garage/tf/algos/test_npo.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/baselines/test_gaussian_mlp_baseline.py
  tests/garage/tf/regressors/test_gaussian_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix branch regex to prevent duplicate builds
  .travis.yml
Due: none

Update docker documentation; fix derps
  Makefile
  docs/user/docker.md
Due: none

Fix branch regex to prevent duplicate builds (#1726)
  .travis.yml
Due: none

Fix branch regex to prevent duplicate builds (#1725)
  .travis.yml
Due: none

Update docker documentation; fix derps (#1702)
  Makefile
  docs/user/docker.md
Due: none

Added doc for using trained policy
  docs/index.md
  docs/user/reuse_garage_policy.md
Due: none

Added doc for using trained policy (#1642)
  docs/index.md
  docs/user/reuse_garage_policy.md
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
