Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Add docs for cluster setup (#2067)
  docs/index.md
  docs/user/cluster_setup.md
Due: none

Update LocalTFRunner to TFTrainer in garage script
  scripts/garage
Due: none

Update LocalTFRunner to TFTrainer in garage script (#2156)
  scripts/garage
Due: none

Also run nightly tests
  .github/workflows/ci.yml
Due: none

Run all tests
  .github/workflows/ci.yml
Due: none

Test on python 3.8
  .github/workflows/ci.yml
  docker/Dockerfile
Due: none

Test on Python 3.9
  .github/workflows/ci.yml
  docker/Dockerfile
Due: none

Fix processing Tensor
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Flatten input in premitives
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Unflatten images
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Flatten input in torch/policies/get_action
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/garage/torch/policies/test_deterministic_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Unflatten images
  src/garage/torch/policies/deterministic_mlp_policy.py
Due: check-pylint-normal

Flatten obs if dimention greater then 1
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Add tests
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/torch/policies/test_deterministic_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Flatten input in primitives
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Add testcases
  tests/garage/tf/baselines/test_continuous_mlp_baseline.py
  tests/garage/tf/baselines/test_gaussian_mlp_baseline.py
Due: check-pylint-unit-tests

Change testcases' name
  tests/garage/tf/baselines/test_continuous_mlp_baseline.py
  tests/garage/tf/baselines/test_gaussian_mlp_baseline.py
Due: check-pylint-unit-tests

Flatten input in primitives (#2153)
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/garage/tf/baselines/test_continuous_mlp_baseline.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/baselines/test_gaussian_mlp_baseline.py
  tests/garage/torch/policies/test_deterministic_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix pre-commit
  docs/index.md
  docs/user/algo_tnpg.md
  docs/user/references.bib
Due: none

Fix pre-commit
  docs/index.md
Due: none

Make the default NPO optimizer ADAM
  src/garage/tf/algos/npo.py
Due: check-pylint-normal

Make the default NPO optimizer ADAM (#2158)
  src/garage/tf/algos/npo.py
Due: check-pylint-normal

Blacklist KellyCoinflip from nightly tests
  tests/garage/tf/envs/test_gym_base.py
Due: check-pylint-unit-tests

Blacklist KellyCoinflip from nightly tests (#2157)
  tests/garage/tf/envs/test_gym_base.py
Due: check-pylint-unit-tests

Alphabetize algos and title case all pages
  docs/user/setting_up_your_development_environment.md
Due: none

Update title case
  docs/user/custom_worker.md
Due: none

Alphabetize algos and title case all pages
  docs/index.md
  docs/user/algo_bc.md
  docs/user/algo_cem.md
  docs/user/algo_ddpg.md
  docs/user/algo_erwr.md
  docs/user/algo_maml.md
  docs/user/algo_mtppo.md
  docs/user/algo_mtsac.md
  docs/user/algo_mttrpo.md
  docs/user/algo_ppo.md
  docs/user/algo_sac.md
  docs/user/algo_trpo.md
  docs/user/algo_vpg.md
  docs/user/cluster_setup.md
  docs/user/custom_worker.md
  docs/user/ensure_your_experiments_are_reproducible.md
  docs/user/logging_plotting.md
  docs/user/max_resource_usage.md
  docs/user/save_load_resume_exp.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
Due: none

Organize algos and title case all pages (#2164)
  docs/index.md
  docs/user/algo_bc.md
  docs/user/algo_cem.md
  docs/user/algo_ddpg.md
  docs/user/algo_erwr.md
  docs/user/algo_maml.md
  docs/user/algo_mtppo.md
  docs/user/algo_mtsac.md
  docs/user/algo_mttrpo.md
  docs/user/algo_ppo.md
  docs/user/algo_sac.md
  docs/user/algo_trpo.md
  docs/user/algo_vpg.md
  docs/user/cluster_setup.md
  docs/user/custom_worker.md
  docs/user/ensure_your_experiments_are_reproducible.md
  docs/user/logging_plotting.md
  docs/user/max_resource_usage.md
  docs/user/save_load_resume_exp.md
  docs/user/setting_up_your_development_environment.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
Due: none

Fix pre-commit
  docs/user/algo_teppo.md
Due: none

Fix env_infos in HalfCheetah
  src/garage/envs/mujoco/half_cheetah_dir_env.py
  src/garage/envs/mujoco/half_cheetah_vel_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix task_name error
  src/garage/envs/mujoco/half_cheetah_dir_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-normal, check-pylint-unit-tests

Change env_infos from float to nparray (#2082)
  src/garage/envs/mujoco/half_cheetah_dir_env.py
  src/garage/envs/mujoco/half_cheetah_vel_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
Due: check-pylint-normal, check-pylint-unit-tests

Update reference typo
  docs/user/references.bib
Due: none

Add Double DQN
  README.md
  examples/torch/dqn_atari.py
  src/garage/torch/algos/dqn.py
  tests/garage/torch/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Double DQN (#2148)
  README.md
  examples/torch/dqn_atari.py
  src/garage/torch/algos/dqn.py
  tests/garage/torch/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Add vanilla gru
  .mdlrc
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/gru_module.py
  tests/garage/torch/modules/test_gru_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Add gaussian gru policy
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/gaussian_gru_module.py
  src/garage/torch/modules/gru_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/gaussian_gru_policy.py
  tests/garage/torch/modules/test_gru_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Add PPO & TRPO exampls
  examples/torch/ppo_pendulum_gru.py
  examples/torch/trpo_pendulum_gru.py
  src/garage/torch/modules/gaussian_gru_module.py
  src/garage/torch/modules/gru_module.py
  src/garage/torch/policies/gaussian_gru_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
Due: check-pylint-normal

Add torch RNN support
  examples/torch/ppo_pendulum_gru.py
  examples/torch/trpo_pendulum.py
  examples/torch/trpo_pendulum_gru.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/gaussian_gru_module.py
  src/garage/torch/modules/gru_module.py
  src/garage/torch/policies/gaussian_gru_policy.py
  tests/garage/torch/modules/test_gru_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Log all start info to experiment.json
  src/garage/experiment/experiment.py
  src/garage/trainer.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
