Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Add docs for evaluation
  docs/index.md
  docs/user/evaluation.md
Due: none

Update docs
  docs/user/evaluation.md
Due: none

Pin pip to 20.2
  docker/Dockerfile
Due: none

Pin pip to 20.2.4
  docker/Dockerfile
Due: none

Resolve conflict between mujoco-py and gym
  docker/Dockerfile
  setup.py
Due: check-pylint-normal

Add comments
  setup.py
Due: check-pylint-normal

Resolve conflicts between mujoco-py and gym temporarily (#2188)
  setup.py
Due: check-pylint-normal

Add Dueling DQN
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/discrete_dueling_cnn_module.py
  src/garage/torch/q_functions/__init__.py
  src/garage/torch/q_functions/discrete_dueling_cnn_q_function.py
  tests/garage/torch/modules/test_discrete_dueling_cnn_module.py
  tests/garage/torch/q_functions/test_discrete_dueling_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Dueling DQN (#2097)
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/discrete_dueling_cnn_module.py
  src/garage/torch/q_functions/__init__.py
  src/garage/torch/q_functions/discrete_dueling_cnn_q_function.py
  tests/garage/torch/modules/test_discrete_dueling_cnn_module.py
  tests/garage/torch/q_functions/test_discrete_dueling_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Initial commit
  docker_metaworld_py.py
  metaworld_launchers/single_task_launchers/ppo_metaworld.py
  metaworld_launchers/single_task_launchers/sac_metaworld.py
  setup.py
Due: check-pylint-normal

Initial commit
  docker_metaworld_py.py
  pipinstall.py
Due: check-pylint-normal

allow enabling of cudnn benchmarks for CNN
  src/garage/torch/algos/pearl.py
  src/garage/torch/modules/cnn_module.py
Due: check-pylint-normal

use `from_numpy` for np to tensor conversion
  src/garage/torch/algos/pearl.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

remove `torch.tensor` in tensor conversion
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

add custom zero_grad optimizer function
  src/garage/torch/_functions.py
Due: check-pylint-normal

use common functon to convert data to tensors
  src/garage/torch/_functions.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Address pre-commit issues
  src/garage/torch/_functions.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Add discrete CNN policy
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/discrete_cnn_policy.py
  tests/garage/torch/policies/test_discrete_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add test cases
  src/garage/torch/policies/discrete_cnn_policy.py
  tests/garage/torch/policies/test_discrete_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Discrete CNN policy (#2183)
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/discrete_cnn_policy.py
  tests/garage/torch/policies/test_discrete_cnn_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Test tag conditional
  .github/workflows/ci.yml
Due: none

Test deployment
  .github/workflows/ci.yml
Due: none

Test tag regex
  .github/workflows/ci.yml
Due: none

Add PYPI deployment action
  .github/workflows/ci.yml
Due: none

Add pypi token
  .github/workflows/ci.yml
Due: none

Test version file update
  .github/workflows/ci.yml
Due: none

Change Python version and regex
  .github/workflows/ci.yml
Due: none

Test upload regex
  .github/workflows/ci.yml
  .travis.yml
Due: none

Test push to tag
  .github/workflows/ci.yml
Due: none

Test in test pypi
  .github/workflows/ci.yml
Due: none

Test deploy garage
  .github/workflows/ci.yml
  setup.py
Due: check-pylint-normal
