Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Add TimeStepBatch (#1529)
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor torch policies
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
  src/garage/torch/policies/policy.py
  src/garage/torch/policies/stochastic_policy.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor torch policies (#1528)
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
  src/garage/torch/policies/policy.py
  src/garage/torch/policies/stochastic_policy.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Pin TensorFlow to >=1.14
  setup.py
Due: check-pylint-normal

Pin TensorFlow to >=1.14 (#1563)
  setup.py
Due: check-pylint-normal

Move to multi-stage docker builds
  .dockerignore
  .travis.yml
  Makefile
  docker/Dockerfile
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  docker/entrypoint-headless.sh
  docker/entrypoint-runtime.sh
Due: none

Move to multi-stage docker builds (#1424)
  .dockerignore
  .travis.yml
  Makefile
  docker/Dockerfile
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  docker/entrypoint-headless.sh
  docker/entrypoint-runtime.sh
Due: none

Handle non-deterministic mode in sampler workers
  src/garage/sampler/default_worker.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Handle non-deterministic mode in sampler workers (#1567)
  src/garage/sampler/default_worker.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor out OffPolicyRLAlgorithm
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/np/algos/__init__.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor out OffPolicyRLAlgorithm (#1552)
  src/garage/np/__init__.py
  src/garage/np/_functions.py
  src/garage/np/algos/__init__.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-normal, check-pylint-unit-tests

Uses tensors returned from build
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal

Fix log std
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal

Return log std in agent_info (#1569)
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal

Fix dones bug in VecEnvExecutor
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/vec_env_executor.py
Due: check-pylint-normal

Fix dones bug in VecEnvExecutor (#1570)
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/vec_env_executor.py
Due: check-pylint-normal

Fix + update jupyter examples
  .gitignore
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
Due: none

Fix + update jupyter examples (#1579)
  .gitignore
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
Due: none

Lower MTSAC Reward Threshold
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-unit-tests

Fix VecEnvExecutor + off-policy algorithms (#1178)
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/vec_env_executor.py
Due: check-pylint-normal

Lower MTSAC Reward Threshold (#1577)
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-unit-tests

Backdrop jupyter examples release-2019.10
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
Due: none

Fix CI
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/td3.py
  src/garage/tf/models/sequential.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
Due: check-pylint-normal

Fix tests
  src/garage/sampler/parallel_sampler.py
  src/garage/tf/algos/npo.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
Due: check-pylint-normal

Policy build in constructor and __setstate__
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/sampler/parallel_sampler.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/models/gaussian_lstm_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/policies/test_policies.py
Due: check-pylint-normal, check-pylint-unit-tests

Address comments
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/categorical_mlp_model.py
  src/garage/tf/models/model.py
  src/garage/tf/plotter/plotter.py
  src/garage/tf/samplers/worker.py
Due: check-pylint-normal

Fix CI
  tests/garage/tf/policies/test_continuous_mlp_policy.py
Due: check-pylint-unit-tests

Make model.networks private
  src/garage/tf/models/model.py
  src/garage/tf/models/sequential.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/fixtures/q_functions/simple_q_function.py
  tests/fixtures/regressors/simple_gaussian_cnn_regressor.py
  tests/fixtures/regressors/simple_gaussian_mlp_regressor.py
  tests/fixtures/regressors/simple_mlp_regressor.py
  tests/garage/tf/models/test_categorical_gru_model.py
  tests/garage/tf/models/test_categorical_lstm_model.py
  tests/garage/tf/models/test_gaussian_lstm_model.py
  tests/garage/tf/models/test_gru_model.py
  tests/garage/tf/models/test_lstm_model.py
  tests/garage/tf/models/test_model.py
  tests/garage/tf/regressors/test_bernoulli_mlp_regressor.py
  tests/garage/tf/regressors/test_categorical_mlp_regressor.py
  tests/garage/tf/regressors/test_continuous_mlp_regressor.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
  tests/garage/tf/regressors/test_gaussian_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Backdrop jupyter examples release-2019.10 (#1584)
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
Due: none

Backport VecEnvExecutor bug fix (#1581)
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/vec_env_executor.py
Due: check-pylint-normal

Delete old Dockerfiles
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  docker/Dockerfile.headless
  docker/Dockerfile.nvidia
  docker/Dockerfile.runtime
  docker/docker-compose-ci.yml
  docker/docker-compose-headless.yml
  docker/docker-compose-nvidia.yml
Due: none

Delete old Dockerfiles (#1582)
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  docker/Dockerfile.headless
  docker/Dockerfile.nvidia
  docker/Dockerfile.runtime
  docker/docker-compose-ci.yml
  docker/docker-compose-headless.yml
  docker/docker-compose-nvidia.yml
Due: none

Add isort hook
  .isort.cfg
  .pre-commit-config.yaml
  setup.cfg
Due: none

Add markdownlint precommit hook
  .editorconfig
  .pre-commit-config.yaml
Due: none

Refactoring categorical mlp regressor with tfp
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor_model.py
  tests/garage/tf/regressors/test_categorical_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Change network spec key, add test case
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor_model.py
  tests/garage/tf/regressors/test_categorical_mlp_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests
