Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Add doc for MTSAC algorithm (#2041)
  docs/index.md
  docs/user/algo_mtsac.md
Due: none

Fix pre-commit
  tests/garage/envs/test_gym_env.py
Due: check-pylint-unit-tests

Allow setting x-axis in wrap_experiment
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Make plotting plot the learner in BC
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Add progressbar to obtain_evaluation_samples
  src/garage/_functions.py
Due: check-pylint-normal

Make TanhNormal.log_prob(1.0) != -inf
  src/garage/torch/distributions/tanh_normal.py
Due: check-pylint-normal

Decrease evaluation steps in BC
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Record total_env_steps in samplers
  src/garage/sampler/local_sampler.py
  src/garage/sampler/multiprocessing_sampler.py
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Make LocalSampler constructor more ergonomic
  src/garage/sampler/local_sampler.py
Due: check-pylint-normal

Allow setting total_env_steps
  src/garage/trainer.py
Due: check-pylint-normal

Fix #2131
  tests/garage/envs/test_normalized_gym.py
Due: check-pylint-unit-tests

Fix #2131 (#2132)
  tests/garage/envs/test_normalized_gym.py
Due: check-pylint-unit-tests

Allow setting x-axis in wrap_experiment (#2128)
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Record total_env_steps in samplers (#2125)
  src/garage/sampler/local_sampler.py
  src/garage/sampler/multiprocessing_sampler.py
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Rerun failed tests automatically once on CI
  .github/workflows/ci.yml
  Makefile
  setup.py
Due: check-pylint-normal

Rerun failed tests automatically once on CI (#2094)
  .github/workflows/ci.yml
  Makefile
  setup.py
Due: check-pylint-normal

Unpin cloudpickle
  setup.py
Due: check-pylint-normal

Unpin cloudpickle (#2133)
  setup.py
Due: check-pylint-normal

Check observation shape conforms to observation_space (#2089)
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Remove include_dashboard arg so that doctests pass
  docs/requirements.txt
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Remove include_dashboard arg so that doctests pass (#2140)
  docs/requirements.txt
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Make plotting plot the learner in BC (#2127)
  src/garage/torch/algos/bc.py
Due: check-pylint-normal

Refactor reps to use episode batch
  src/garage/tf/algos/reps.py
Due: check-pylint-normal

Refactor reps to use episode batch (#2123)
  src/garage/tf/algos/reps.py
Due: check-pylint-normal

Add launcher files and tools for mwv2 experiments
  Makefile
  examples/sim_policy_generate_plot.py
  examples/sim_policy_generate_video.py
  examples/tf/metaworld_launcher.py
  examples/tf/ppo_metaworld.py
  examples/tf/ppo_metaworld_scripted_policy.py
  examples/torch/peg-insert-side-v2/ppo_metaworld.py
  examples/torch/pick-place-v2/decrease_picking_time/ppo_metaworld.py
  examples/torch/pick-place-v2/ppo-regular-pick-up-puck/ppo_metaworld.py
  examples/torch/pick-place-v2/ppo_metaworld.py
  examples/torch/pick-place-v2/ppo_metaworld_reach.py
  examples/torch/sac_metaworld.py
  examples/torch/sac_metaworld_scripted_policy.py
  examples/torch/sac_metaworld_winning_pick_place_arrangement.py
  src/garage/_functions.py
  src/garage/envs/wrappers/MW_scripted_reward.py
  src/garage/envs/wrappers/__init__.py
  src/garage/torch/algos/sac.py
  src/garage/trainer.py
Due: check-pylint-normal

Move check below timelimit check
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Make mujoco test run a few minutes faster
  examples/torch/maml_trpo_metaworld_ml1_push.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Make mujoco test run a few minutes faster (#2143)
  examples/torch/maml_trpo_metaworld_ml1_push.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add torch DQN
  benchmarks/src/garage_benchmarks/parameters.py
  examples/sim_policy.py
  examples/torch/dqn_atari.py
  examples/torch/dqn_cartpole.py
  examples/torch/watch_atari.py
  src/garage/_functions.py
  src/garage/envs/wrappers/fire_reset.py
  src/garage/envs/wrappers/max_and_skip.py
  src/garage/envs/wrappers/stack_frames.py
  src/garage/experiment/snapshotter.py
  src/garage/plotter/plotter.py
  src/garage/tf/plotter/plotter.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  src/garage/trainer.py
  tests/garage/envs/wrappers/test_fire_reset.py
  tests/garage/envs/wrappers/test_stack_frames_env.py
  tests/garage/experiment/test_snapshotter.py
  tests/garage/torch/algos/test_dqn.py
  tests/garage/torch/policies/test_discrete_qf_argmax_policy.py
  tests/garage/torch/q_functions/test_discrete_cnn_q_function.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add torch DQN (#2076)
  benchmarks/src/garage_benchmarks/parameters.py
  examples/sim_policy.py
  examples/torch/dqn_atari.py
  examples/torch/dqn_cartpole.py
  examples/torch/watch_atari.py
  src/garage/_functions.py
  src/garage/envs/wrappers/fire_reset.py
  src/garage/envs/wrappers/max_and_skip.py
  src/garage/envs/wrappers/stack_frames.py
  src/garage/experiment/snapshotter.py
  src/garage/plotter/plotter.py
  src/garage/tf/plotter/plotter.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  src/garage/trainer.py
  tests/garage/envs/wrappers/test_fire_reset.py
  tests/garage/envs/wrappers/test_stack_frames_env.py
  tests/garage/experiment/test_snapshotter.py
  tests/garage/torch/algos/test_dqn.py
  tests/garage/torch/policies/test_discrete_qf_argmax_policy.py
  tests/garage/torch/q_functions/test_discrete_cnn_q_function.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Change variable name
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Refactor te_npo to use episode batch
  src/garage/np/baselines/linear_multi_feature_baseline.py
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Refactor te_npo to use episode batch (#2137)
  src/garage/np/baselines/linear_multi_feature_baseline.py
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Fix flake of large test run under Travis
  Makefile
Due: none

Fix flake of large test run under Travis (#2145)
  Makefile
Due: none
