Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Add env library doc (#1909)
  docs/index.md
  docs/user/environment_libraries.md
Due: none

Add sample
  examples/tf/pcgrad_ppo_metaworld_mt10.py
  src/garage/tf/algos/npo.py
Due: check-pylint-normal

Use sample
  src/garage/tf/algos/npo.py
Due: check-pylint-normal

Use master branch for images in README
  README.md
Due: none

Use master branch for images in README (#1957)
  README.md
Due: none

Move "Environment Libraries" to Reference Guide
  docs/index.md
Due: none

Move "Environment Libraries" to Reference Guide (#1958)
  docs/index.md
Due: none

Make Adam explicit in benchmark
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_tf.py
  examples/tf/a2c_pendulum.py
Due: check-pylint-normal, check-pylint-unit-tests

Add continuous mlp for torch
  examples/torch/a2c_pendulum.py
  src/garage/torch/value_functions/__init__.py
  src/garage/torch/value_functions/continuous_mlp_value_function.py
Due: check-pylint-normal

Fix test env pickleable
  tests/garage/tf/envs/test_base.py
Due: check-pylint-unit-tests

Fix test env pickleable (#1960)
  tests/garage/tf/envs/test_base.py
Due: check-pylint-unit-tests

Fix footer images in docs
  docs/_templates/footer.html
Due: none

Fix footer images in docs (#1959)
  docs/_templates/footer.html
Due: none

Remove upper constraint for torch version
  setup.py
Due: check-pylint-normal

Update params
  examples/tf/pcgrad_ppo_metaworld_mt10.py
  examples/torch/mtppo_metaworld_mt10.py
  src/garage/tf/algos/npo.py
Due: check-pylint-normal

Use eval_max_episode lengths in evalutation
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

PPO and SAC using Scripted Policy l2 rewards
  examples/tf/ppo_metaworld_scripted_policy.py
  examples/torch/sac_metaworld_scripted_policy.py
  src/garage/envs/wrappers/MW_scripted_reward.py
  src/garage/envs/wrappers/__init__.py
Due: check-pylint-normal

PPO test metaworld v1 environments
  examples/tf/metaworld_launcher.py
  examples/tf/ppo_metaworld.py
  setup.py
Due: check-pylint-normal

Nvidia Docker Headless
  Makefile
Due: none

WIP
  examples/torch/pick-place-v2/ppo_metaworld.py
  examples/torch/sac_metaworld_winning_pick_place_arrangement.py
Due: check-pylint-normal

WIP
  examples/torch/sac_metaworld.py
  src/garage/experiment/local_runner.py
  src/garage/sampler/utils.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

WIP SAC for metaworld single task runs
  examples/sim_policy.py
  examples/torch/sac_metaworld.py
  examples/torch/sac_metaworld_scripted_policy.py
  src/garage/_functions.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Remove upper constraint for torch version (#1956)
  setup.py
Due: check-pylint-normal

Backport #1956
  setup.py
Due: check-pylint-normal

Fix localrunner always use default worker class
  src/garage/experiment/local_runner.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Backport #1956 (#1963)
  setup.py
Due: check-pylint-normal

Fix localrunner always use default worker class (#1942)
  src/garage/experiment/local_runner.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Actually suppress supressed messages
  .pylintrc
  tests/garage/.pylintrc
Due: none

Fix ddpg invocation in benchmarks
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
Due: check-pylint-unit-tests

Add entry point for auto benchmarking
  benchmarks/src/garage_benchmarks/run_benchmarks.py
Due: check-pylint-unit-tests

Fix DDPG
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
Due: check-pylint-unit-tests

Add slack notifier for auto benchmarks
  benchmarks/src/garage_benchmarks/helper.py
  benchmarks/src/garage_benchmarks/run_benchmarks.py
Due: check-pylint-unit-tests

Increase example test timeout for GH acionts
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Increase example test timeout for GH acionts (#1962)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Allow deterministic False for off-policy
  src/garage/np/_functions.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Allow deterministic False for off-policy (#1968)
  src/garage/np/_functions.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Allow deterministic False for off-policy
  src/garage/np/_functions.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Set docker memory limit to 6.5gb
  .github/workflows/ci.yml
Due: none

Change docker memory swap to 6.5gb
  .github/workflows/ci.yml
Due: none

fix eval max episodes length eval in mtsac
  src/garage/torch/algos/mtsac.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
