Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Disable validate_args
  src/garage/torch/distributions/tanh_normal.py
Due: check-pylint-normal

Allow installing only tf or torch
  setup.py
Due: check-pylint-normal

Extend RL2 MTPPO MTTRPO experiments update metaworld to master
  .gitignore
  metaworld_launchers/launchers-mt1/launch-instances-mtppo.py
  metaworld_launchers/launchers-mt1/launch-instances-mttrpo.py
  metaworld_launchers/launchers-mt1/launch-instances-te.py
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
  metaworld_launchers/mt10/mtppo_metaworld_mt10.py
  metaworld_launchers/mt10/mttrpo_metaworld_mt10.py
  setup.py
Due: check-pylint-normal

Pin torch until #2248 is fixed
  setup.py
Due: check-pylint-normal

Pin torch until #2248 is fixed (#2250)
  setup.py
Due: check-pylint-normal

Adding Newer Pearl Launcher to Launch Experiments
  examples/sim_policy_generate_video.py
  metaworld_launchers/launchers-ml1/launch-instances-pearl-updated.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
Due: check-pylint-normal

Updated Launcher for Reach PEARL Runs
  metaworld_launchers/launchers-ml1/launch-instances-pearl-updated.py
  metaworld_launchers/ml1/pearl_metaworld_ml1.py
Due: check-pylint-normal

Move readme
  docs/user/update_ci_for_release.md
Due: none

Pin torchvision version until #2248 is fixed
  setup.py
Due: check-pylint-normal

Pin torchvision version until #2248 is fixed (#2252)
  setup.py
Due: check-pylint-normal

Release 2021.03
  .github/workflows/ci-release-2020.06.yml
  .github/workflows/ci-release-2021.03.yml
  .github/workflows/ok-to-test.yml
Due: none

Update CI and README
  .github/workflows/ci-release-2021.03.yml
  README.md
Due: none

Update CI
  .github/workflows/ci-release-2020.06.yml
  .github/workflows/ci-release-2021.03.yml
Due: none

Update README and workflows for release branch
  .github/workflows/ci-release-2021.03.yml
  README.md
  VERSION
Due: none

Update CI
  .github/workflows/ci-release-2021.03.yml
Due: none

Release CI updates
  .github/workflows/ci-release-2021.03.yml
Due: none

Remove nightly dependencies
  .github/workflows/ci-release-2021.03.yml
Due: none

ML1 rl2 round2
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
  setup.py
Due: check-pylint-normal

Increase rl2 ppo ml10 steps
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
Due: check-pylint-normal

Rl2 Ml1 fixes
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
Due: check-pylint-normal

decrease ml1-rl2-ppo eval epochs
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
Due: check-pylint-normal

Reduce Logging epochs for rl2_ppo ml10
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
Due: check-pylint-normal

MT10 5e8 steps
  metaworld_launchers/mt10/mtppo_metaworld_mt10.py
  metaworld_launchers/mt10/mtsac_metaworld_mt10.py
  metaworld_launchers/mt10/mttrpo_metaworld_mt10.py
  metaworld_launchers/mt10/te_ppo_metaworld_mt10.py
Due: check-pylint-normal

Master updates for Release-2020.03 (#2255)
  .github/workflows/ci-release-2021.03.yml
  .github/workflows/ci.yml
  README.md
Due: none

Update README and workflows for release branch (#2254)
  .github/workflows/ci-release-2021.03.yml
  README.md
  VERSION
Due: none

Rework garage.torch.CNNModule
  src/garage/examples/torch/dqn_atari.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/modules/discrete_dueling_cnn_module.py
  src/garage/torch/policies/categorical_cnn_policy.py
  src/garage/torch/policies/discrete_cnn_policy.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  src/garage/torch/q_functions/discrete_dueling_cnn_q_function.py
  tests/garage/torch/algos/test_dqn.py
  tests/garage/torch/modules/test_categorical_cnn_module.py
  tests/garage/torch/modules/test_cnn_module.py
  tests/garage/torch/modules/test_discrete_cnn_module.py
  tests/garage/torch/modules/test_discrete_dueling_cnn_module.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
  tests/garage/torch/policies/test_discrete_cnn_policy.py
  tests/garage/torch/q_functions/test_discrete_cnn_q_function.py
  tests/garage/torch/q_functions/test_discrete_dueling_cnn_q_function.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Rework garage.torch.CNNModule (#2189)
  src/garage/examples/torch/dqn_atari.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/modules/discrete_dueling_cnn_module.py
  src/garage/torch/policies/categorical_cnn_policy.py
  src/garage/torch/policies/discrete_cnn_policy.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  src/garage/torch/q_functions/discrete_dueling_cnn_q_function.py
  tests/garage/torch/algos/test_dqn.py
  tests/garage/torch/modules/test_categorical_cnn_module.py
  tests/garage/torch/modules/test_cnn_module.py
  tests/garage/torch/modules/test_discrete_cnn_module.py
  tests/garage/torch/modules/test_discrete_dueling_cnn_module.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
  tests/garage/torch/policies/test_discrete_cnn_policy.py
  tests/garage/torch/q_functions/test_discrete_cnn_q_function.py
  tests/garage/torch/q_functions/test_discrete_dueling_cnn_q_function.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Rework garage.torch.CNNModule (#2259)
  src/garage/examples/torch/dqn_atari.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_cnn_module.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/modules/discrete_dueling_cnn_module.py
  src/garage/torch/policies/categorical_cnn_policy.py
  src/garage/torch/policies/discrete_cnn_policy.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/stochastic_policy.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  src/garage/torch/q_functions/discrete_dueling_cnn_q_function.py
  tests/garage/torch/algos/test_dqn.py
  tests/garage/torch/modules/test_categorical_cnn_module.py
  tests/garage/torch/modules/test_cnn_module.py
  tests/garage/torch/modules/test_discrete_cnn_module.py
  tests/garage/torch/modules/test_discrete_dueling_cnn_module.py
  tests/garage/torch/policies/test_categorical_cnn_policy.py
  tests/garage/torch/policies/test_discrete_cnn_policy.py
  tests/garage/torch/q_functions/test_discrete_cnn_q_function.py
  tests/garage/torch/q_functions/test_discrete_dueling_cnn_q_function.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Downgrade torch
  setup.py
Due: check-pylint-normal

TE PPO increase timesteps
  metaworld_launchers/mt1/mtsac_metaworld_mt1.py
  metaworld_launchers/mt10/te_ppo_metaworld_mt10.py
Due: check-pylint-normal

MT1 Experiments with fixed MT1
  metaworld_launchers/mt1/mtppo_metaworld_mt1.py
  metaworld_launchers/mt1/mttrpo_metaworld_mt1.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/ppo.py
  src/garage/tf/algos/trpo.py
Due: check-pylint-normal

Adjust TE to log all tasks
  src/garage/tf/algos/te_npo.py
Due: check-pylint-normal

Switch back to epoch cycles
  metaworld_launchers/mt1/mtsac_metaworld_mt1.py
Due: check-pylint-normal

Update MTPPO and MTTRPO params
  metaworld_launchers/mt10/mtppo_metaworld_mt10.py
  metaworld_launchers/mt10/mttrpo_metaworld_mt10.py
Due: check-pylint-normal

MTPPO MT50
  metaworld_launchers/mt50/mtppo_metaworld_mt50.py
Due: check-pylint-normal

MTTRPO MT50 launcher
  metaworld_launchers/mt50/mttrpo_metaworld_mt50.py
Due: check-pylint-normal

TE PPO MT50
  metaworld_launchers/mt50/te_ppo_metaworld_mt50.py
Due: check-pylint-normal

MTSAC MT50
  metaworld_launchers/mt50/mtsac_metaworld_mt50.py
Due: check-pylint-normal

MAML and RL2 ML45
  metaworld_launchers/ml45/maml_trpo_metaworld_ml45.py
  metaworld_launchers/ml45/rl2_ppo_metaworld_ml45.py
Due: check-pylint-normal
