Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Explicitly set codecov ci to travis-ci.com (#1329)
  .codecov.yml
Due: none

Create VecWorker
  src/garage/sampler/__init__.py
  src/garage/sampler/vec_worker.py
  tests/garage/sampler/test_vec_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Create VecWorker (#1311)
  src/garage/sampler/__init__.py
  src/garage/sampler/vec_worker.py
  tests/garage/sampler/test_vec_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Make copies of env in worker_factory
  src/garage/sampler/worker_factory.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Lower return requirement
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Don't copy agent
  src/garage/sampler/local_sampler.py
  src/garage/sampler/worker_factory.py
Due: check-pylint-normal

Move most dm_control tests to nightly
  tests/garage/envs/dm_control/test_dm_control_env.py
Due: check-pylint-unit-tests

Make copies of env in worker_factory (#1319)
  src/garage/sampler/local_sampler.py
  src/garage/sampler/worker_factory.py
  tests/garage/sampler/test_local_sampler.py
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove RL2 ML10 test
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-unit-tests

Remove RL2 ML10 test (#1347)
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-unit-tests

Don't cache docker container on forks
  .travis.yml
Due: none

Don't cache docker container on forks (#1350)
  .travis.yml
Due: none

Enhance MultiEnvWrapper
  src/garage/envs/multi_env_wrapper.py
  tests/garage/envs/test_multi_env_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Add TaskEmbeddingWorker
  src/garage/sampler/__init__.py
  src/garage/tf/algos/te.py
  tests/garage/tf/samplers/test_task_embedding_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Add test
  src/garage/envs/multi_env_wrapper.py
  tests/garage/envs/test_multi_env_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Update metaworld version
  setup.py
Due: check-pylint-normal

Add sampler features for embeddings (#1167)
  setup.py
  src/garage/envs/multi_env_wrapper.py
  src/garage/sampler/__init__.py
  src/garage/tf/algos/te.py
  tests/garage/envs/test_multi_env_wrapper.py
  tests/garage/tf/samplers/test_task_embedding_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix flake8 config in setup.cfg
  setup.cfg
Due: none

Fix flake8 config in setup.cfg (#1358)
  setup.cfg
Due: none

Pin torchvision properly
  setup.py
Due: check-pylint-normal

Pin torchvision properly (#1361)
  setup.py
Due: check-pylint-normal

Add Sphinx build action
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Add r
  src/garage/tf/models/gru.py
  src/garage/tf/models/lstm.py
Due: check-pylint-normal

Add shape in docstring
  src/garage/tf/models/gru.py
  src/garage/tf/models/lstm.py
Due: check-pylint-normal

Fix docstring
  src/garage/tf/models/gru.py
  src/garage/tf/models/lstm.py
Due: check-pylint-normal

Use tf rnn for recurrent networks
  src/garage/tf/models/gru.py
  src/garage/tf/models/lstm.py
Due: check-pylint-normal

Use tf rnn for recurrent networks (#1356)
  src/garage/tf/models/gru.py
  src/garage/tf/models/lstm.py
Due: check-pylint-normal

Fix set model param
  src/garage/tf/models/base.py
  tests/garage/tf/models/test_model.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix set model param (#1355)
  src/garage/tf/models/base.py
  tests/garage/tf/models/test_model.py
Due: check-pylint-normal, check-pylint-unit-tests

Format
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Exclude long-running examples from test
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add ML1 and ML45 examples to MAML
  examples/torch/maml_trpo_ml1_push.py
  examples/torch/maml_trpo_ml45.py
Due: check-pylint-normal

Add ML1 and ML45 examples to MAML (#1351)
  examples/torch/maml_trpo_ml1_push.py
  examples/torch/maml_trpo_ml45.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Remove conftest.py
  setup.cfg
  tests/fixtures/sampler/__init__.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/garage/.pylintrc
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/experiment/test_local_tf_runner.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove conftest.py (#1354)
  setup.cfg
  tests/fixtures/sampler/__init__.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/garage/.pylintrc
  tests/garage/sampler/test_ray_batched_sampler.py
  tests/garage/tf/experiment/test_local_tf_runner.py
  tests/garage/tf/samplers/test_ray_batched_sampler_tf.py
Due: check-pylint-normal, check-pylint-unit-tests

Adds ContinuousCNNQFunction
  src/garage/tf/models/__init__.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/q_functions/__init__.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Adds ContinuousCNNQFunction (#1326)
  src/garage/tf/models/__init__.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/q_functions/__init__.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests
