Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Update docs/user/preparing_a_pr.md
  docs/user/preparing_a_pr.md
Due: none

Minor fixes to PR doc
  docs/user/preparing_a_pr.md
Due: none

Add PR doc
  docs/index.md
  docs/user/preparing_a_pr.md
Due: none

Backport #1617 to release-2019.10 (#1715)
  examples/tf/her_ddpg_fetchreach.py
  src/garage/sampler/utils.py
  tests/fixtures/policies/dummy_policy.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Creating a PR doc (#1809)
  docs/index.md
  docs/user/preparing_a_pr.md
Due: none

Include bib file in checking docs PR
  scripts/travisci/check_docs_only.sh
Due: none

Include bib file in checking docs PR (#1857)
  scripts/travisci/check_docs_only.sh
Due: none

Add doc for custom worker
  docs/index.md
  docs/user/custom_worker.md
  docs/user/references.bib
Due: none

Update doc
  docs/user/custom_worker.md
Due: none

Update doc
  docs/user/custom_worker.md
  docs/user/references.bib
Due: none

Fix bug
  docs/user/references.bib
Due: none

Add doc for custom worker (#1817)
  docs/index.md
  docs/user/custom_worker.md
  docs/user/references.bib
Due: none

Update doc
  docs/user/max_resource_usage.md
Due: none

Link to the section
  docs/user/max_resource_usage.md
Due: none

Add doc for maximize res usage
  docs/index.md
  docs/user/max_resource_usage.md
Due: none

Add doc for maximizing resources usage (#1828)
  docs/index.md
  docs/user/max_resource_usage.md
Due: none

Normalize image observation
  src/garage/tf/baselines/gaussian_cnn_baseline.py
Due: check-pylint-normal

Add test for image input
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
Due: check-pylint-unit-tests

Use float32
  src/garage/tf/baselines/gaussian_cnn_baseline.py
Due: check-pylint-normal

Use uint8 placeholder for image
  src/garage/tf/baselines/gaussian_cnn_baseline.py
Due: check-pylint-normal

Use uint8
  src/garage/tf/baselines/gaussian_cnn_baseline.py
Due: check-pylint-normal

Normalize image observation of input in GaussianCNNBaseline. (#1844)
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport #1822
  src/garage/experiment/local_tf_runner.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  src/garage/tf/regressors/gaussian_mlp_regressor_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport #1822 (#1855)
  src/garage/experiment/local_tf_runner.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/te_npo.py
  src/garage/tf/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  src/garage/tf/regressors/gaussian_mlp_regressor_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Request review from contributors only once
  .mergify.yml
Due: none

Request review from contributors only once (#1826)
  .mergify.yml
Due: none

Test commit to see if #1826 works
  test.md
Due: none

Request contributor reviews once (#1826 follow-up)
  .mergify.yml
Due: none

Request contributor reviews once (#1826 follow-up) (#1874)
  .mergify.yml
Due: none

Print frozen deps in the CI
  Makefile
Due: none

add breaking changes
  examples/tf/dqn_cartpole.py
  src/garage/_dtypes.py
  src/garage/experiment/local_runner.py
  src/garage/np/_functions.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
Due: check-pylint-normal

Print frozen deps in the CI (#1871)
  Makefile
Due: none

Relax test trpo gru cartpole
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Relax test trpo gru cartpole (#1878)
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Docs for starting new exp with pretrained net
  docs/index.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
Due: none

Backport #1878
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Docs for starting new exp with pretrained net (#1782)
  docs/index.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
