Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

attach new WandB logger to logger in garage
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Allow dowel versions >= 0.0.3 so dowel 0.0.4 beta works
  setup.py
Due: check-pylint-normal

add video logging functionality for evaluation episodes
  src/garage/_functions.py
  src/garage/torch/algos/mtsac.py
Due: check-pylint-normal

git commit -m "handle mt1 and mt50 environments."
  src/garage/_functions.py
Due: check-pylint-normal

handle fractial gpus for ray worker
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Allow enumerating specific named experiment params
  src/garage/experiment/experiment.py
Due: check-pylint-normal

use the same device for obs as for z. This is a fix but should work for now. The GPU is utilized at nearly 100% if this is used.
  src/garage/torch/policies/context_conditioned_policy.py
Due: check-pylint-normal

Fix CI failing on commit re-runs
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Fix CI failing on commit re-runs (#2319)
  .github/workflows/ci.yml
  .mergify.yml
Due: none

remove warning
  src/garage/_dtypes.py
Due: check-pylint-normal

ignore import/value error in close visualize window
  src/garage/envs/gym_env.py
Due: check-pylint-normal

terminate rollout in default worker for timeout
  src/garage/sampler/default_worker.py
Due: check-pylint-normal

fixed int/float type error
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

add gpu support
  src/garage/torch/policies/discrete_cnn_policy.py
Due: check-pylint-normal

add gpu support to compute_advantages() function
  src/garage/torch/_functions.py
Due: check-pylint-normal

Cloudpickle MultiprocessingSampler EnvUpdates
  src/garage/sampler/multiprocessing_sampler.py
Due: check-pylint-normal

Support GPUs in RaySampler
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/sampler.py
  tests/garage/sampler/test_ray_batched_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Cloudpickle MultiprocessingSampler EnvUpdates (#2322)
  src/garage/sampler/multiprocessing_sampler.py
Due: check-pylint-normal

Fix sampler total_env_steps after pickling
  src/garage/sampler/multiprocessing_sampler.py
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Fix snapshotter ordering
  src/garage/experiment/snapshotter.py
  tests/garage/experiment/test_snapshotter.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix snapshotter ordering (#2327)
  src/garage/experiment/snapshotter.py
  tests/garage/experiment/test_snapshotter.py
Due: check-pylint-normal, check-pylint-unit-tests

Make LogEncoder more robust
  .pylintrc
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_log_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Add garage.torch.ObservationBatch
  src/garage/torch/__init__.py
  src/garage/torch/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Use ObservationBatch in StochasticPolicy
  src/garage/torch/__init__.py
  src/garage/torch/_dtypes.py
  src/garage/torch/policies/stochastic_policy.py
Due: check-pylint-normal

Implement garage.torch.GaussianLSTMPolicy
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/gaussian_lstm_policy.py
  tests/garage/torch/policies/test_gaussian_lstm_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Make garage.torch.ObservationBatch constructable
  src/garage/torch/_dtypes.py
Due: check-pylint-normal

Torch VPG rework
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_pytorch.py
  src/garage/torch/__init__.py
  src/garage/torch/_dtypes.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/td3.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/optimizers/__init__.py
  src/garage/torch/optimizers/conjugate_gradient_optimizer.py
  src/garage/torch/optimizers/optimizer_wrapper.py
  src/garage/torch/value_functions/gaussian_mlp_value_function.py
  src/garage/torch/value_functions/value_function.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Torch VPG rework
  src/garage/examples/torch/vpg_pendulum.py
  src/garage/torch/_dtypes.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/optimizers/__init__.py
  src/garage/torch/optimizers/episode_batch_optimizer.py
  src/garage/torch/optimizers/minibatch_optimizer.py
  src/garage/torch/optimizers/optimizer.py
  src/garage/torch/optimizers/single_batch_optimizer.py
  tests/garage/torch/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

render_modes compatability with gym>0.17.3
  src/garage/envs/gym_env.py
Due: check-pylint-normal

render_modes compatability with gym>0.17.3 (#2334)
  src/garage/envs/gym_env.py
Due: check-pylint-normal

Update environment_libraries.md
  docs/user/environment_libraries.md
Due: none

Deleted double repetition of self.replay_buffer
  src/garage/torch/algos/sac.py
Due: check-pylint-normal
