Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Add two torch primitives (#1993)
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  src/garage/tf/policies/__init__.py
  src/garage/tf/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/q_functions/__init__.py
  src/garage/torch/q_functions/discrete_mlp_q_function.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/policies/test_discrete_qf_argmax_policy.py
  tests/garage/torch/policies/test_discrete_qf_argmax_policy.py
  tests/garage/torch/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Update CHANGELOG for v2020.06.3
  CHANGELOG.md
Due: none

Modify test_td3
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-unit-tests

Pickle exploration policy
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  examples/tf/td3_pendulum.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/np/exploration_policies/exploration_policy.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/trainer.py
  tests/garage/np/exploration_strategies/__init__.py
  tests/garage/np/exploration_strategies/test_add_gaussian_noise.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Log noise level
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
Due: check-pylint-normal

Pickling the exploration policy (#2023)
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  examples/tf/td3_pendulum.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/np/exploration_policies/exploration_policy.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/trainer.py
  tests/garage/np/exploration_strategies/__init__.py
  tests/garage/np/exploration_strategies/test_add_gaussian_noise.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_policy.py
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Update docs
  docs/user/experiments.rst
  docs/user/implement_algo.md
  docs/user/implement_env.md
  docs/user/implement_env.rst
  docs/user/max_resource_usage.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/pixel_observations.md
  docs/user/save_load_resume_exp.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/jupyter/custom_env.ipynb
  examples/jupyter/trpo_gym_tf_cartpole.ipynb
Due: none

Fix bug for wrapping worker class
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  src/garage/trainer.py
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Add PEARL doc
  docs/index.md
  docs/user/algo_pearl.md
  docs/user/references.bib
Due: none

Add PEARL doc (#2039)
  docs/index.md
  docs/user/algo_pearl.md
  docs/user/references.bib
Due: none

Update CHANGELOG for v2020.06.3 (#2046)
  CHANGELOG.md
Due: none

Add rl2 doc
  docs/index.md
  docs/user/algo_rl2.md
Due: none

Update doc
  docs/user/algo_rl2.md
Due: none

Add RL2 doc (#2037)
  docs/index.md
  docs/user/algo_rl2.md
Due: none

add breakout
  examples/torch/dqn_breakout.py
  examples/torch/resume_training.py
  examples/torch/test_env.py
  src/garage/envs/wrappers/fire_reset.py
  src/garage/envs/wrappers/max_and_skip.py
  src/garage/torch/algos/dqn.py
Due: check-pylint-normal

Reduce num of worker
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Reduce num of worker (#2056)
  tests/garage/sampler/test_multiprocessing_sampler.py
Due: check-pylint-unit-tests

Add ppo doc
  docs/index.md
  docs/user/algo_ppo.md
  docs/user/references.bib
Due: none

Update doc
  docs/user/algo_ppo.md
  docs/user/references.bib
Due: none

Add sample_timesteps to PathBuffer
  src/garage/replay_buffer/path_buffer.py
  tests/garage/replay_buffer/test_path_buffer.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Support RaySampler + GPU
  src/garage/sampler/ray_sampler.py
Due: check-pylint-normal

Use exploration policy for eval
  examples/torch/dqn_breakout.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/torch/algos/dqn.py
Due: check-pylint-normal

Add PPO doc (#2038)
  docs/index.md
  docs/user/algo_ppo.md
  docs/user/references.bib
Due: none

Set `_max_eval_path_length` default to `max_path_length` Currently it got set to None which was interpreted as `inf`.
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Pickling exploration policy
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  examples/tf/td3_pendulum.py
  src/garage/experiment/local_runner.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/np/exploration_policies/exploration_policy.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/np/exploration_strategies/__init__.py
  tests/garage/np/exploration_strategies/test_add_gaussian_noise.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix update in exploration policy
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/np/exploration_policies/exploration_policy.py
  tests/garage/np/exploration_strategies/test_add_gaussian_noise.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix the use of AddGaussianNoise
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-unit-tests

Pickling exploration policy (backport to release-2020.06) (#2068)
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  examples/tf/td3_pendulum.py
  src/garage/experiment/local_runner.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/np/exploration_policies/exploration_policy.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/np/exploration_strategies/__init__.py
  tests/garage/np/exploration_strategies/test_add_gaussian_noise.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_policy.py
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix rl2 nightly test timeout
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

WIP
  examples/sim_policy.py
  examples/torch/pick-place-v2/ppo_metaworld.py
  examples/torch/sac_metaworld.py
  src/garage/_functions.py
Due: check-pylint-normal

Add initializer, stack frames on axis=0
  examples/torch/dqn_atari.py
  examples/torch/test.py
  examples/torch/watch.py
  src/garage/experiment/snapshotter.py
Due: check-pylint-normal

Add examples/watch.py
  examples/torch/watch.py
  src/garage/_functions.py
Due: check-pylint-normal

Fix rl2 nightly test timeout (#2074)
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Disable snapshotting for auto benchmarks
  benchmarks/src/garage_benchmarks/benchmark_auto.py
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-unit-tests

Disable snapshotting for auto benchmarks (#2072)
  benchmarks/src/garage_benchmarks/benchmark_auto.py
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-unit-tests

plot atari
  benchmarks/src/garage_benchmarks/parameters.py
  benchmarks/src/garage_benchmarks/plotter.py
Due: check-pylint-unit-tests
