Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Use Ubuntu 20.04 for Dockerfiles
  docker/Dockerfile.base.20.04
  docker/docker-compose-ci.yml
  docker/docker-compose-headless.yml
  setup.py
Due: check-pylint-normal

Update benchmark doc
  benchmarks/README.md
  tests/benchmarks/README.md
  tests/benchmarks/__init__.py
Due: check-pylint-normal

Update benchmark doc (#1416)
  benchmarks/README.md
  tests/benchmarks/README.md
  tests/benchmarks/__init__.py
Due: check-pylint-normal

Refactor GaussianMLPTaskEmbeddingPolicy
  src/garage/np/embeddings/encoder.py
  src/garage/tf/embeddings/gaussian_mlp_encoder.py
  src/garage/tf/models/__init__.py
  src/garage/tf/models/gaussian_gru_model.py
  src/garage/tf/models/gaussian_gru_model2.py
  src/garage/tf/models/gaussian_lstm_model.py
  src/garage/tf/models/gaussian_lstm_model2.py
  src/garage/tf/models/gaussian_mlp_model.py
  src/garage/tf/models/gaussian_mlp_model2.py
  src/garage/tf/models/module.py
  src/garage/tf/policies/__init__.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/policies/policy.py
  src/garage/tf/policies/task_embedding_policy.py
  tests/garage/tf/embeddings/__init__.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/models/test_gaussian_gru_model.py
  tests/garage/tf/models/test_gaussian_gru_model2.py
  tests/garage/tf/models/test_gaussian_lstm_model.py
  tests/garage/tf/models/test_gaussian_lstm_model2.py
  tests/garage/tf/models/test_gaussian_mlp_model.py
  tests/garage/tf/models/test_gaussian_mlp_model2.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix tests
  examples/tf/trpo_cartpole_batch_sampler.py
  src/garage/sampler/is_sampler.py
  src/garage/sampler/parallel_sampler.py
  src/garage/tf/policies/categorical_mlp_policy.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix RaySampler test temporarily
  src/garage/tf/models/__init__.py
  src/garage/tf/models/gaussian_mlp_model2.py
  src/garage/tf/regressors/gaussian_mlp_regressor_model.py
  src/garage/tf/samplers/worker.py
  tests/garage/tf/experiment/test_local_tf_runner.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix docstring
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/sampler/is_sampler.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/tf/regressors/gaussian_mlp_regressor_model.py
  src/garage/tf/samplers/worker.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Replace tf.dense
  src/garage/tf/models/mlp.py
Due: check-pylint-normal

TEMP - REMOVE THIS BEFORE SUBMITTING
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Fix pixel normalization in CNN Q functions
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix pixel normalization in CNN Q functions (#1419)
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Upload to GCP storage for auto benchmarking
  benchmarks/setup.py
  benchmarks/src/garage_benchmarks/helper.py
  src/garage/config.py
Due: check-pylint-normal

Upload to GCP storage for auto benchmarking
  .pylintrc
Due: none

Add script for auto benchmarking
  src/garage/config.py
Due: check-pylint-normal

Ignore benchmarks dir for pylint
  .pre-commit-config.yaml
  .pylintrc
Due: none

Add function to upload auto benchmarking result to GCP (#1414)
  .pre-commit-config.yaml
  .pylintrc
  benchmarks/setup.py
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-normal

Update installation and experiment docs
  docs/index.rst
  docs/user/experiments.rst
  docs/user/implement_algo.rst
  docs/user/implement_algo_advanced.rst
  docs/user/implement_algo_basic.rst
  docs/user/implement_env.rst
  docs/user/installation.rst
  src/garage/np/algos/rl_algorithm.py
Due: check-pylint-normal

Update installation and experiment docs (#1413)
  docs/index.rst
  docs/user/experiments.rst
  docs/user/implement_algo.rst
  docs/user/implement_algo_advanced.rst
  docs/user/implement_algo_basic.rst
  docs/user/implement_env.rst
  docs/user/installation.rst
  src/garage/np/algos/rl_algorithm.py
Due: check-pylint-normal

Make ExplorationStrategies a type of Policy
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/policies/continuous_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/q_functions/continuous_mlp_q_function.py
  examples/tf/ddpg_pendulum.py
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  examples/tf/her_ddpg_fetchreach.py
  examples/tf/td3_pendulum.py
  examples/torch/ddpg_pendulum.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/np/exploration_policies/__init__.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/np/exploration_policies/add_ornstein_uhlenbeck_noise.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/np/exploration_policies/exploration_policy.py
  src/garage/np/exploration_strategies/__init__.py
  src/garage/np/exploration_strategies/exploration_strategy.py
  src/garage/np/exploration_strategies/gaussian_strategy.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/np/exploration_strategies/__init__.py
  tests/garage/np/exploration_strategies/test_add_gaussian_noise.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_policy.py
  tests/garage/sampler/test_off_policy_vectorized_sampler_integration.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/torch/algos/test_ddpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Make ExplorationStrategies a type of Policy (#1397)
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/policies/continuous_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/q_functions/continuous_mlp_q_function.py
  examples/tf/ddpg_pendulum.py
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  examples/tf/her_ddpg_fetchreach.py
  examples/tf/td3_pendulum.py
  examples/torch/ddpg_pendulum.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/np/exploration_policies/__init__.py
  src/garage/np/exploration_policies/add_gaussian_noise.py
  src/garage/np/exploration_policies/add_ornstein_uhlenbeck_noise.py
  src/garage/np/exploration_policies/epsilon_greedy_policy.py
  src/garage/np/exploration_policies/exploration_policy.py
  src/garage/np/exploration_strategies/__init__.py
  src/garage/np/exploration_strategies/exploration_strategy.py
  src/garage/np/exploration_strategies/gaussian_strategy.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/np/exploration_strategies/__init__.py
  tests/garage/np/exploration_strategies/test_add_gaussian_noise.py
  tests/garage/np/exploration_strategies/test_epsilon_greedy_policy.py
  tests/garage/sampler/test_off_policy_vectorized_sampler_integration.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/torch/algos/test_ddpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Make `garage resume` more useful
  scripts/garage
Due: none

Make torch work (and break tf)
  scripts/garage
Due: none

Make @ahtsan owner of the TF tree
  CODEOWNERS
Due: none

Make @ahtsan owner of the TF tree (#1428)
  CODEOWNERS
Due: none

Mention OS support in README.md
  README.md
Due: none

Mention OS support in README.md (#1429)
  README.md
Due: none

Extend 2019.10 maintenance window
  README.md
Due: none

Extend 2019.10 maintenance window (#1430)
  README.md
Due: none

Fix benchmark imports
  benchmarks/src/garage_benchmarks/experiments/policies/continuous_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/q_functions/continuous_mlp_q_function.py
Due: check-pylint-normal

Fix benchmark imports (#1432)
  benchmarks/src/garage_benchmarks/experiments/policies/continuous_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/q_functions/continuous_mlp_q_function.py
Due: check-pylint-normal

Use `nproc` workers for local tests
  Makefile
Due: none

Update Makefile
  Makefile
Due: none

Use `nproc` workers for local tests (#1431)
  Makefile
Due: none

Extract long running mujoco tests in separate job
  .codecov.yml
  .travis.yml
  Makefile
  setup.cfg
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/tf/algos/test_tnpg.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/torch/algos/test_ddpg.py
Due: check-pylint-unit-tests

Extract long running mujoco tests in separate job (#1436)
  .codecov.yml
  .travis.yml
  Makefile
  setup.cfg
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/tf/algos/test_tnpg.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/torch/algos/test_ddpg.py
Due: check-pylint-unit-tests

Force Python 3.5 in the CI
  .dockerignore
  Makefile
  docker/Dockerfile.base.18.04
Due: none

Fix test that assumes dicts to be ordered
  tests/garage/tf/models/test_model.py
  tests/helpers.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport incompatible code to Python 3.5
  docker/Dockerfile.base.18.04
  src/garage/torch/algos/sac.py
  tests/fixtures/envs/dummy/dummy_multitask_box_env.py
  tests/garage/experiment/test_experiment.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/helpers.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests
