Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Better API documentation
  .gitignore
  docker/Dockerfile
  docs/autoapi_templates/python/module.rst
  docs/conf.py
  docs/index.md
  docs/requirements.txt
  scripts/setup_colab.sh
  scripts/setup_linux.sh
  scripts/setup_macos.sh
  setup.py
Due: check-pylint-normal

Don't push to latest tag on DockerHub
  .travis.yml
  Makefile
  docker/Dockerfile.base.18.04
  docker/docker-compose-ci.yml
Due: none

Better API documentation (#1663)
  .gitignore
  docker/Dockerfile
  docs/autoapi_templates/python/module.rst
  docs/conf.py
  docs/index.md
  docs/requirements.txt
  scripts/setup_colab.sh
  scripts/setup_linux.sh
  scripts/setup_macos.sh
  setup.py
Due: check-pylint-normal

Implement Behavioral Cloning
  examples/torch/bc_point.py
  examples/torch/bc_point_deterministic_policy.py
  src/garage/_dtypes.py
  src/garage/envs/point_env.py
  src/garage/experiment/local_runner.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/bc.py
  tests/garage/test_dtypes.py
  tests/garage/tf/algos/test_erwr.py
  tests/garage/torch/algos/test_bc.py
Due: check-pylint-normal, check-pylint-unit-tests

Don't push to latest tag on DockerHub (#1640)
  .travis.yml
  Makefile
  docker/Dockerfile.base.18.04
  docker/docker-compose-ci.yml
Due: none

Implement Behavioral Cloning (#1607)
  examples/torch/bc_point.py
  examples/torch/bc_point_deterministic_policy.py
  src/garage/_dtypes.py
  src/garage/envs/point_env.py
  src/garage/experiment/local_runner.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/bc.py
  tests/garage/test_dtypes.py
  tests/garage/tf/algos/test_erwr.py
  tests/garage/torch/algos/test_bc.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove remaining old-API sampler files
  src/garage/sampler/__init__.py
  src/garage/sampler/sampler_deprecated.py
  src/garage/sampler/vec_env_executor.py
Due: check-pylint-normal

Remove remaining old-API sampler files (#1666)
  src/garage/sampler/__init__.py
  src/garage/sampler/sampler_deprecated.py
  src/garage/sampler/vec_env_executor.py
Due: check-pylint-normal

Fix markdownlint error
  docs/user/training_a_policy.md
Due: none

Update doc
  docs/user/training_a_policy.md
Due: none

Fix relative link
  docs/user/benchmarking.md
  docs/user/training_a_policy.md
Due: none

Add acknowlegement
  docs/index.md
  docs/user/training_a_policy.md
Due: none

Add doc for training a policy
  docs/user/training_a_policy.md
Due: none

Relative link
  docs/user/training_a_policy.md
Due: none

Change section order
  docs/user/monitor_experiments_with_tensorboard.md
Due: none

Modify index.md
  docs/index.md
  docs/user/monitor_experiments_with_tensorboard.md
Due: none

Add how to config logger output
  docs/user/monitor_experiments_with_tensorboard.md
Due: none

Add link to other docs
  docs/user/monitor_experiments_with_tensorboard.md
Due: none

Add tensorboard log doc
  docs/user/monitor_experiments_with_tensorboard.md
Due: none

Add doc for training a policy (#1622)
  docs/index.md
  docs/user/benchmarking.md
  docs/user/training_a_policy.md
Due: none

Add meta-documentation
  docs/index.md
  docs/user/writing_documentation.md
  src/garage/envs/wrappers/pixel_observation.py
Due: check-pylint-normal

Add meta-documentation (#1616)
  docs/index.md
  docs/user/writing_documentation.md
  src/garage/envs/wrappers/pixel_observation.py
Due: check-pylint-normal

Update testing.md
  docs/user/testing.md
Due: none

Update testing.md (#1667)
  docs/user/testing.md
Due: none

Remove run_experiment
  scripts/garage
  src/garage/experiment/__init__.py
  src/garage/experiment/experiment.py
  src/garage/experiment/experiment_wrapper.py
  src/garage/experiment/local_tf_runner.py
  tests/garage/experiment/test_experiment.py
  tests/garage/experiment/test_experiment_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove run_experiment (#1660)
  scripts/garage
  src/garage/experiment/__init__.py
  src/garage/experiment/experiment.py
  src/garage/experiment/experiment_wrapper.py
  src/garage/experiment/local_tf_runner.py
  tests/garage/experiment/test_experiment.py
  tests/garage/experiment/test_experiment_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Add TensorBoard logging doc (#1606)
  docs/index.md
  docs/user/monitor_experiments_with_tensorboard.md
Due: none

Refactor GaussianCNNBaseline
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/trpo_cubecrash.py
  src/garage/np/baselines/baseline.py
  src/garage/np/baselines/linear_feature_baseline.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/regressors/__init__.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor_model.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor GaussianCNNBaseline (#1664)
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/trpo_cubecrash.py
  src/garage/np/baselines/baseline.py
  src/garage/np/baselines/linear_feature_baseline.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/baselines/continuous_mlp_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/regressors/__init__.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor_model.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
Due: check-pylint-normal, check-pylint-unit-tests

Fail the CI when codecov upload fails
  Makefile
Due: none

Remove "Subpackages" heading from API Reference
  docs/autoapi_templates/python/module.rst
Due: none

Remove "Subpackages" heading from API Reference (#1682)
  docs/autoapi_templates/python/module.rst
Due: none

More detailed mergify rules
  .mergify.yml
Due: none

Skip bullet envs in test_base
  tests/garage/tf/envs/test_base.py
Due: check-pylint-unit-tests

Hardcode bullet env name list
  src/garage/envs/bullet/__init__.py
  tests/garage/tf/envs/test_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Specify cloudpickle version for compatibility
  setup.py
Due: check-pylint-normal

Specify cloudpickle version for compatibility (#1688)
  setup.py
Due: check-pylint-normal

Add behavioral cloning to README.md
  README.md
Due: none

Third draft
  docs/index.md
  docs/user/pretrained_network_experiment.md
  docs/user/save_load_resume_exp.md
  examples/jupyter/pretrained_trpo_gym_tf_cartpole.ipynb
  examples/tf/trpo_gym_tf_cartpole_pretrained.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
