Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Downgrade sphinx version (#1284)
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Fix MAML for num_grad_update > 1
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Fix MAML for num_grad_update > 1 (#1283)
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Allow overriding wrap_experiment args
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Allow overriding wrap_experiment args (#1281)
  src/garage/experiment/experiment.py
  tests/garage/experiment/test_experiment.py
Due: check-pylint-normal, check-pylint-unit-tests

Update baselines and remove input_include_goal
  Makefile
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  examples/tf/her_ddpg_fetchreach.py
  setup.py
  src/garage/_dtypes.py
  src/garage/misc/tensor_utils.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/utils.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/fixtures/envs/dummy/dummy_dict_env.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/sampler/test_off_policy_vectorized_sampler_integration.py
  tests/garage/sampler/test_utils.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Update baselines and remove input_include_goal (#1282)
  Makefile
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  examples/tf/her_ddpg_fetchreach.py
  setup.py
  src/garage/_dtypes.py
  src/garage/misc/tensor_utils.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/utils.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ddpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/fixtures/envs/dummy/dummy_dict_env.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/sampler/test_off_policy_vectorized_sampler_integration.py
  tests/garage/sampler/test_utils.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Re-enable conda environment check in CI
  Makefile
Due: none

Re-enable conda environment check in CI (#1287)
  Makefile
Due: none

Fix TRPO, PPO benchmark
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
Due: check-pylint-normal

Fix TRPO, PPO benchmark (#1291)
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
Due: check-pylint-normal

Shutdown workers after training in resume
  src/garage/experiment/local_runner.py
Due: check-pylint-normal

Shutdown workers after training in resume (#1293)
  src/garage/experiment/local_runner.py
Due: check-pylint-normal

Backport tf.Plotter fix
  src/garage/experiment/local_runner.py
  src/garage/tf/plotter/plotter.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
Due: check-pylint-normal

Backport tf.Plotter fix (#1292)
  src/garage/experiment/local_runner.py
  src/garage/tf/plotter/plotter.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
Due: check-pylint-normal

Don't install dev extra during the conda check
  Makefile
Due: none

Delete nb_utils.py
  src/garage/experiment/nb_utils.py
Due: check-pylint-normal

Delete nb_utils.py (#1288)
  src/garage/experiment/nb_utils.py
Due: check-pylint-normal

Rename baseline to value function
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  examples/torch/ppo_pendulum.py
  examples/torch/trpo_pendulum.py
  examples/torch/trpo_pendulum_ray_sampler.py
  examples/torch/vpg_pendulum.py
  src/garage/torch/algos/_utils.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_vpg.py
  tests/garage/experiment/test_local_runner.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/algos/test_ppo.py
  tests/garage/torch/algos/test_trpo.py
  tests/garage/torch/algos/test_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Update Makefile
  Makefile
Due: none

Rename baseline to value function (#1275)
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  examples/torch/ppo_pendulum.py
  examples/torch/trpo_pendulum.py
  examples/torch/trpo_pendulum_ray_sampler.py
  examples/torch/vpg_pendulum.py
  src/garage/torch/algos/_utils.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_vpg.py
  tests/garage/experiment/test_local_runner.py
  tests/garage/torch/algos/test_maml.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/algos/test_ppo.py
  tests/garage/torch/algos/test_trpo.py
  tests/garage/torch/algos/test_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Don't install dev extra during the conda check (#1296)
  Makefile
Due: none

Make codecov wait for MuJoCo CI job
  .codecov.yml
Due: none

Backport #1253
  src/garage/experiment/local_runner.py
Due: check-pylint-normal

Backport #1253 (#1299)
  src/garage/experiment/local_runner.py
Due: check-pylint-normal

Make codecov wait for MuJoCo CI job (#1297)
  .codecov.yml
Due: none

Remove after_n_builds in codecov config
  .codecov.yml
Due: none

MultitaskMetaworldWrapper
  setup.py
  src/garage/envs/__init__.py
  src/garage/envs/multi_task_meta_world_wrapper.py
  tests/garage/envs/test_multi_task_meta_world_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove after_n_builds in codecov config (#1300)
  .codecov.yml
Due: none

Add sync_callback to LocalRunner
  src/garage/experiment/local_runner.py
Due: check-pylint-normal

Fix target names for verify-env jobs in Makefile
  Makefile
Due: none

Fix target names for verify-env jobs in Makefile (#1305)
  Makefile
Due: none

Factor MTMetaworld wrapper into MultiEnvWrapper
  src/garage/envs/__init__.py
  src/garage/envs/multi_env_wrapper.py
  src/garage/envs/multi_task_meta_world_wrapper.py
  tests/garage/envs/test_multi_env_wrapper.py
  tests/garage/envs/test_multi_task_meta_world_wrapper.py
  tests/garage/experiment/test_task_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix comment
  src/garage/envs/point_env.py
Due: check-pylint-normal

Fix PointEnv
  src/garage/envs/point_env.py
Due: check-pylint-normal

Add coverage
  src/garage/envs/point_env.py
  tests/garage/envs/test_point_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix PointEnv (#1165)
  src/garage/envs/point_env.py
  tests/garage/envs/test_point_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor PPO auto benchmark script
  Makefile
  setup.cfg
  tests/benchmark_helper.py
  tests/benchmarks/auto/__init__.py
  tests/benchmarks/auto/test_auto_benchmark_ppo.py
Due: check-pylint-normal

Refactor PPO auto benchmark script (#1307)
  Makefile
  setup.cfg
  tests/benchmark_helper.py
  tests/benchmarks/auto/__init__.py
  tests/benchmarks/auto/test_auto_benchmark_ppo.py
Due: check-pylint-normal
