Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Fix comments and add more docstrings
  src/garage/sampler/rl2_sampler.py
Due: check-pylint-normal

Sampler for rl2
  src/garage/sampler/__init__.py
  src/garage/sampler/rl2_sampler.py
Due: check-pylint-normal

Fix comments
  src/garage/sampler/__init__.py
  src/garage/sampler/rl2_sampler.py
Due: check-pylint-normal

Inherit from BaseSampler
  src/garage/sampler/rl2_sampler.py
Due: check-pylint-normal

Fix test
  tests/garage/sampler/test_rl2_sampler.py
Due: check-pylint-unit-tests

Fix test
  src/garage/sampler/rl2_sampler.py
  tests/garage/sampler/test_rl2_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Add algo and example
  examples/torch/pearl_half_cheetah_vel.py
  src/garage/torch/algos/pearl_sac.py
  src/garage/torch/utils.py
Due: check-pylint-normal

Sampler for RL2 (#1127)
  src/garage/sampler/__init__.py
  src/garage/sampler/rl2_sampler.py
  tests/garage/sampler/test_rl2_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Add MAML
  src/garage/envs/__init__.py
  src/garage/envs/normalized_env.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/maml.py
  src/garage/torch/optimizers/__init__.py
  src/garage/torch/optimizers/differentiable_sgd.py
  src/garage/torch/utils.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
Due: check-pylint-normal, check-pylint-unit-tests

Delete some notes
  src/garage/torch/optimizers/differentiable_sgd.py
Due: check-pylint-normal

Move MAML algos out of their own directory
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml/__init__.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
Due: check-pylint-normal

Update default params
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
Due: check-pylint-normal

Rename DiffSGD
  src/garage/torch/algos/maml.py
  src/garage/torch/optimizers/__init__.py
  src/garage/torch/optimizers/differentiable_sgd.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
Due: check-pylint-normal, check-pylint-unit-tests

Add examples
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_vpg_half_cheetah_dir.py
Due: check-pylint-normal

Add MAML-VPG/TRPO/PPO
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/maml/__init__.py
  src/garage/torch/algos/maml/maml_base.py
  src/garage/torch/algos/maml/maml_ppo.py
  src/garage/torch/algos/maml/maml_trpo.py
  src/garage/torch/algos/maml/maml_vpg.py
Due: check-pylint-normal

Add tests for MAML algos
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
Due: check-pylint-unit-tests

Remove episode_reward_mean
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Use single baseline
  src/garage/torch/algos/maml/maml.py
Due: check-pylint-normal

Rename MAMLBase to MAML
  src/garage/torch/algos/maml/maml.py
  src/garage/torch/algos/maml/maml_ppo.py
  src/garage/torch/algos/maml/maml_trpo.py
  src/garage/torch/algos/maml/maml_vpg.py
Due: check-pylint-normal

Remove _compute_loss
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Stack observations to compute entropy
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/vpg.py
Due: check-pylint-normal

Fix optimizer interface
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Make policy a private property
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Allow +x for examples
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_vpg_half_cheetah_dir.py
Due: check-pylint-normal

Initial commit for torch sac rewrite
  examples/torch/sac_half_cheetah_batch.py
  examples/torch/sac_half_cheetah_single_step.py
  src/garage/replay_buffer/__init__.py
  src/garage/replay_buffer/sac_replay_buffer.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/sac.py
  src/garage/torch/distributions/__init__.py
  src/garage/torch/distributions/tanh_normal_2.py
  src/garage/torch/distributions/tanh_normal_distribution.py
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/tanh_gaussian_mlp_module.py
  src/garage/torch/modules/tanh_gaussian_mlp_module_2.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy_2.py
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-normal, check-pylint-unit-tests

Simple sampler that cedes control of sample processing and adding elements to the algorithms
  src/garage/sampler/simple_sampler.py
Due: check-pylint-normal

Simple sampler without transition batch data structure
  src/garage/sampler/simple_sampler.py
Due: check-pylint-normal

Temp squash
  tests/benchmarks/garage/torch/test_benchmark_sac.py
Due: check-pylint-normal

Addition of SimpleSampler for SAC
  src/garage/sampler/__init__.py
Due: check-pylint-normal

Sac with high growth, almost too high
  examples/torch/sac_half_cheetah_batch.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/simple_sampler.py
Due: check-pylint-normal

Temp stash
  src/garage/experiment/local_runner.py
  src/garage/sampler/simple_sampler.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Temp Needs Squash
  setup.cfg
  src/garage/torch/algos/sac.py
  tests/benchmarks/garage/torch/__init__.py
  tests/benchmarks/garage/torch/test_benchmark_sac.py
  tests/helpers.py
Due: check-pylint-normal

Temp stash will be squashed
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Temp Squash
  examples/torch/sac_half_cheetah_batch.py
Due: check-pylint-normal

tanh_normal final commit
  src/garage/torch/distributions/tanh_normal_2.py
  tests/garage/torch/distributions/test_tanh_normal_dist.py
Due: check-pylint-normal, check-pylint-unit-tests

Tests for simple sampler
  tests/garage/sampler/test_simple_sampler.py
Due: check-pylint-unit-tests

Mark MAML examples as long run
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

update simple sampler and tanh_gaussian std activate output function
  src/garage/sampler/simple_sampler.py
  src/garage/torch/modules/tanh_gaussian_mlp_module_2.py
Due: check-pylint-normal

Add MAML (#1136)
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  src/garage/envs/__init__.py
  src/garage/envs/normalized_env.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/optimizers/__init__.py
  src/garage/torch/optimizers/differentiable_sgd.py
  src/garage/torch/utils.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
