Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Fix codecov retry loop again
  Makefile
Due: none

Fix codecov retry loop again (#1753)
  Makefile
Due: none

Relax last_avg_ret to deflaky test_td3
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-unit-tests

Fix codecov retry loop (bp #1743, #1756)
  Makefile
Due: none

Relax threshold for flake SAC test (#1748)
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-unit-tests

Relax last_avg_ret to deflaky test_td3 (#1745)
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-unit-tests

Update implement a env doc
  docs/user/implement_env.rst
Due: none

Update implement a env doc (#1752)
  docs/user/implement_env.rst
Due: none

Relax test_trpo_gru_cartpole
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Relax test_trpo_gru_cartpole (#1754)
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Unused code
  src/garage/tf/baselines/gaussian_mlp_baseline_model.py
Due: check-pylint-normal

Fix test_utils
  tests/fixtures/policies/dummy_policy.py
  tests/fixtures/policies/dummy_recurrent_policy.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove tf.distributions
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline_model.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/distributions/__init__.py
  src/garage/tf/distributions/bernoulli.py
  src/garage/tf/distributions/categorical.py
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/distributions/distribution.py
  src/garage/tf/distributions/recurrent_categorical.py
  src/garage/tf/distributions/recurrent_diagonal_gaussian.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/task_embedding_policy.py
  tests/fixtures/distributions/__init__.py
  tests/fixtures/distributions/dummy_distribution.py
  tests/fixtures/models/__init__.py
  tests/fixtures/models/simple_gaussian_cnn_model.py
  tests/fixtures/models/simple_gaussian_gru_model.py
  tests/fixtures/models/simple_gaussian_lstm_model.py
  tests/fixtures/models/simple_gaussian_mlp_model.py
  tests/fixtures/models/simple_mlp_merge_model.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/distributions/test_diagonal_gaussian.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Replace tf.distributions with tfp (#1750)
  src/garage/tf/baselines/gaussian_cnn_baseline.py
  src/garage/tf/baselines/gaussian_cnn_baseline_model.py
  src/garage/tf/baselines/gaussian_mlp_baseline.py
  src/garage/tf/baselines/gaussian_mlp_baseline_model.py
  src/garage/tf/distributions/__init__.py
  src/garage/tf/distributions/bernoulli.py
  src/garage/tf/distributions/categorical.py
  src/garage/tf/distributions/diagonal_gaussian.py
  src/garage/tf/distributions/distribution.py
  src/garage/tf/distributions/recurrent_categorical.py
  src/garage/tf/distributions/recurrent_diagonal_gaussian.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/task_embedding_policy.py
  tests/fixtures/distributions/__init__.py
  tests/fixtures/distributions/dummy_distribution.py
  tests/fixtures/models/__init__.py
  tests/fixtures/models/simple_gaussian_cnn_model.py
  tests/fixtures/models/simple_gaussian_gru_model.py
  tests/fixtures/models/simple_gaussian_lstm_model.py
  tests/fixtures/models/simple_gaussian_mlp_model.py
  tests/fixtures/models/simple_mlp_merge_model.py
  tests/fixtures/policies/dummy_policy.py
  tests/fixtures/policies/dummy_recurrent_policy.py
  tests/garage/sampler/test_utils.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/distributions/test_diagonal_gaussian.py
  tests/garage/tf/embeddings/test_gaussian_mlp_encoder.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Pin tfp to resolve install problems
  setup.py
Due: check-pylint-normal

Pin tfp to resolve install problems (#1759)
  setup.py
Due: check-pylint-normal

Update CHANGELOG to v2020.06.1
  CHANGELOG.md
Due: none

Update CHANGELOG to v2020.06.1 (#1760)
  CHANGELOG.md
Due: none

Improve her_ddpg_fetchreach parameters
  examples/tf/her_ddpg_fetchreach.py
Due: check-pylint-normal

Improve her_ddpg_fetchreach parameters (#1739)
  examples/tf/her_ddpg_fetchreach.py
Due: check-pylint-normal

Improve her_ddpg_fetchreach parameters (#1739) (#1764)
  examples/tf/her_ddpg_fetchreach.py
Due: check-pylint-normal

Export task samplers in garage.experiment
  src/garage/experiment/__init__.py
Due: check-pylint-normal

Export task samplers in garage.experiment (#1770)
  src/garage/experiment/__init__.py
Due: check-pylint-normal

Export EnvUpdates in garage.sampler
  src/garage/sampler/__init__.py
Due: check-pylint-normal

Export EnvUpdates in garage.sampler (#1771)
  src/garage/sampler/__init__.py
Due: check-pylint-normal

Remove old off-policy logging code
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  examples/tf/td3_pendulum.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove old off-policy logging code (#1772)
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  examples/tf/td3_pendulum.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix setup script for linux
  scripts/setup_linux.sh
Due: none

Fix setup script for linux (#1776)
  scripts/setup_linux.sh
Due: none

Refactor tf.q_function
  src/garage/tf/models/module.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/q_functions/__init__.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_dueling_q_function.py
  src/garage/tf/q_functions/q_function.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_dueling_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix CI
  src/garage/tf/q_functions/q_function.py
  tests/fixtures/q_functions/simple_q_function.py
  tests/garage/tf/policies/test_qf_derived_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add progressbar to obtain_evaluation_samples
  src/garage/np/_functions.py
Due: check-pylint-normal

Allow iterating through PathBuffer paths
  src/garage/replay_buffer/path_buffer.py
Due: check-pylint-normal

Remove debug code
  src/garage/tf/q_functions/continuous_cnn_q_function.py
Due: check-pylint-normal

Deflaky test_td3
  tests/garage/tf/algos/test_td3.py
Due: check-pylint-unit-tests

Remove tf.q_function interface
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/td3.py
  src/garage/tf/q_functions/__init__.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/q_functions/discrete_mlp_dueling_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
  src/garage/tf/q_functions/q_function.py
  tests/fixtures/q_functions/simple_q_function.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_continuous_mlp_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_dueling_q_function.py
  tests/garage/tf/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix docstring
  src/garage/tf/q_functions/discrete_mlp_dueling_q_function.py
  src/garage/tf/q_functions/discrete_mlp_q_function.py
Due: check-pylint-normal
