Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Test removing some example tests
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Leave out some example tests
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add PEARL algorithm (#1218)
  README.md
  examples/torch/pearl_ml1_push.py
  src/garage/__init__.py
  src/garage/_dtypes.py
  src/garage/envs/env_spec.py
  src/garage/experiment/meta_evaluator.py
  src/garage/experiment/snapshotter.py
  src/garage/sampler/worker_factory.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/pearl.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Soft Actor Critic and Applications
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/sac.py
  src/garage/torch/modules/gaussian_mlp_module.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-normal, check-pylint-unit-tests

Update torch/trpo_pendulum_ray_sampler.py ray init
  examples/torch/trpo_pendulum_ray_sampler.py
Due: check-pylint-normal

Update Sac_half_cheetah_batch.py for more logging
  examples/torch/sac_half_cheetah_batch.py
Due: check-pylint-normal

Soft Actor Critic and Applications (#1235)
  examples/torch/sac_half_cheetah_batch.py
  examples/torch/trpo_pendulum_ray_sampler.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/sac.py
  src/garage/torch/modules/gaussian_mlp_module.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-normal, check-pylint-unit-tests

Only write mujoco key in docker if available
  docker/entrypoint-headless.sh
  docker/entrypoint-runtime.sh
Due: none

Move mujoco based envs to separate module
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  src/garage/envs/__init__.py
  src/garage/envs/mujoco/__init__.py
  src/garage/envs/mujoco/half_cheetah_dir_env.py
  src/garage/envs/mujoco/half_cheetah_env_meta_base.py
  src/garage/envs/mujoco/half_cheetah_vel_env.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Skip dependent tests if mujoco import fails
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Make empty mujoco key file for installation tests
  Makefile
Due: none

Update baselines to latest master
  setup.py
Due: check-pylint-normal

Revert "Temporarily disable conda build (#1217)"
  Makefile
Due: none

Tag mujoco needing tests with a pytest marker
  examples/tf/rl2_ppo_halfcheetah.py
  examples/tf/rl2_trpo_halfcheetah.py
  setup.cfg
  tests/garage/envs/dm_control/test_dm_control_env.py
  tests/garage/envs/dm_control/test_dm_control_tf_policy.py
  tests/garage/envs/test_garage_env.py
  tests/garage/sampler/test_is_sampler.py
  tests/garage/sampler/test_off_policy_vectorized_sampler_integration.py
  tests/garage/tf/algos/test_ddpg.py
  tests/garage/tf/algos/test_npo.py
  tests/garage/tf/algos/test_ppo.py
  tests/garage/tf/algos/test_td3.py
  tests/garage/tf/algos/test_tnpg.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/torch/algos/test_ddpg.py
  tests/garage/torch/algos/test_ppo.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/algos/test_trpo.py
  tests/garage/torch/algos/test_vpg.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Don't run mujoco based tests on external PRs
  .travis.yml
  Makefile
Due: none

Add error messages for mujoco import failure
  .travis.yml
  tests/benchmarks/garage/tf/algos/test_benchmark_her.py
  tests/garage/envs/test_half_cheetah_meta_envs.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/algos/test_rl2ppo.py
  tests/garage/tf/algos/test_rl2trpo.py
  tests/garage/torch/algos/test_maml_ppo.py
  tests/garage/torch/algos/test_maml_trpo.py
  tests/garage/torch/algos/test_maml_vpg.py
  tests/garage/torch/algos/test_pearl.py
Due: check-pylint-normal, check-pylint-unit-tests

Split install all & dev instead of together
  Makefile
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  src/garage/torch/algos/pearl.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
Due: check-pylint-normal

Fix default X axis under wrap_experiment
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Use a GH token in the CI to retrieve packages
  .travis.yml
  Makefile
  setup.py
Due: check-pylint-normal

Disable YAPF
  setup.py
Due: check-pylint-normal

Use a GH token in the CI to retrieve packages (#1250)
  .travis.yml
  Makefile
  setup.py
Due: check-pylint-normal

Update setup_macos.sh to include macOS 10.15.2
  scripts/setup_macos.sh
Due: none

Use a GH token in the CI to retrieve packages (#1250)
  Makefile
  setup.py
Due: check-pylint-normal

Update setup_macos.sh to include macOS 10.15.2 (#1120)
  scripts/setup_macos.sh
Due: none

Add SAC to README
  README.md
Due: none

Add SAC to README (#1242)
  README.md
Due: none

Fix default X axis under wrap_experiment (#1248)
  src/garage/experiment/experiment.py
Due: check-pylint-normal

Use a GH token in the CI to retrieve packages (#1250) (#1252)
  Makefile
  setup.py
Due: check-pylint-normal

Add minibatch for VPG and PPO
  src/garage/tf/algos/ppo.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/modules/gaussian_mlp_module.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
Due: check-pylint-normal

Add minibatch for VPG and PPO (#1188)
  src/garage/tf/algos/ppo.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/modules/gaussian_mlp_module.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
Due: check-pylint-normal

Restrict test discovery to tests directory
  setup.cfg
Due: none

Restrict test discovery to tests directory (#1256)
  setup.cfg
Due: none

Update test_example.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal

Add meta-testing
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  tests/garage/torch/algos/test_maml.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix import
  tests/garage/torch/algos/test_maml.py
Due: check-pylint-unit-tests

Address comments
  examples/torch/maml_ppo_half_cheetah_dir.py
  examples/torch/maml_trpo_half_cheetah_dir.py
  examples/torch/maml_trpo_ml10.py
  examples/torch/maml_vpg_half_cheetah_dir.py
  examples/torch/pearl_ml1_push.py
  src/garage/experiment/__init__.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_ppo.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/maml_vpg.py
  tests/garage/experiment/test_meta_evaluator.py
  tests/garage/torch/algos/test_pearl.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Update metaworld version
  setup.py
Due: check-pylint-normal

Test without fixture
  tests/garage/torch/algos/test_maml.py
Due: check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
