Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Remove tf batchpolopt (#1504)
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/tf/__init__.py
  src/garage/tf/_functions.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/batch_polopt.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/experiment/fixture_experiment.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
  tests/fixtures/tf/instrumented_batch_polopt.py
  tests/garage/tf/algos/test_batch_polopt.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Ensure TF and torch are optional
  src/garage/experiment/meta_evaluator.py
  src/garage/sampler/__init__.py
  src/garage/sampler/is_sampler.py
  src/garage/sampler/parallel_sampler.py
Due: check-pylint-normal

Ensure TF and torch are optional (#1510)
  src/garage/experiment/meta_evaluator.py
  src/garage/sampler/__init__.py
  src/garage/sampler/is_sampler.py
  src/garage/sampler/parallel_sampler.py
Due: check-pylint-normal

Fix pipenv installation test
  .dockerignore
  Makefile
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-unit-tests

Fix pipenv installation test (#1460)
  .dockerignore
  Makefile
  tests/garage/tf/algos/test_rl2ppo.py
Due: check-pylint-unit-tests

Remove itr from optimize_policy()
  src/garage/np/algos/nop.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/sac.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
Due: check-pylint-normal

Remove itr from optimize_policy() (#1516)
  src/garage/np/algos/nop.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/sac.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
Due: check-pylint-normal

Update optimizer interface for tf regressor
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  src/garage/tf/regressors/categorical_mlp_regressor.py
  src/garage/tf/regressors/continuous_mlp_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_mlp_regressor.py
  tests/garage/tf/algos/test_tf_algo_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Add optimizer_args interface for tf
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/vpg_garage_tf.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/_utils.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/optimizers/first_order_optimizer.py
  tests/garage/tf/algos/test_tf_algo_utils.py
  tests/garage/tf/misc/test_tensor_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix python pickle on tf algos
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_gru_policy.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/optimizers/first_order_optimizer.py
  src/garage/tf/regressors/bernoulli_mlp_regressor.py
  tests/fixtures/experiment/fixture_experiment.py
Due: check-pylint-normal

Force python 3.5 in CI
  .dockerignore
  Makefile
  docker/Dockerfile.base.18.04
  tests/garage/tf/models/test_model.py
  tests/helpers.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Rebase and clean up codes
  src/garage/_functions.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/optimizers/optimizer_wrapper.py
Due: check-pylint-normal

Mark test_mtsac_inverted_double_pendulum as flaky
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-unit-tests

Mark test_mtsac_inverted_double_pendulum as flaky (#1521)
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-unit-tests

Force python 3.5 in CI (#1522)
  .dockerignore
  Makefile
  docker/Dockerfile.base.18.04
  tests/garage/tf/models/test_model.py
  tests/helpers.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor torch util functions
  docs/user/experiments.rst
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/pearl_half_cheetah_vel.py
  examples/torch/pearl_metaworld_ml10.py
  examples/torch/pearl_metaworld_ml1_push.py
  examples/torch/pearl_metaworld_ml45.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/_utils.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  src/garage/torch/utils.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_pearl.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/algos/test_torch_algo_utils.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Import modules in local namespace
  docs/user/experiments.rst
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/pearl_half_cheetah_vel.py
  examples/torch/pearl_metaworld_ml10.py
  examples/torch/pearl_metaworld_ml1_push.py
  examples/torch/pearl_metaworld_ml45.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/__init__.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_pearl.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove private var import
  src/garage/torch/__init__.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix bug in tf/test_cnn
  tests/garage/tf/models/test_cnn.py
Due: check-pylint-unit-tests

Modify formatting in example usage and docstring
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor_model.py
  tests/fixtures/models/simple_cnn_model.py
  tests/fixtures/models/simple_cnn_model_with_max_pooling.py
  tests/helpers.py
Due: check-pylint-normal

Change the order of parameters of filter
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/trpo_cubecrash.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor_model.py
  tests/fixtures/models/simple_cnn_model.py
  tests/fixtures/models/simple_cnn_model_with_max_pooling.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/models/test_cnn.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/garage/tf/models/test_cnn_model.py
  tests/garage/tf/models/test_gaussian_cnn_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
  tests/helpers.py
Due: check-pylint-normal, check-pylint-unit-tests

Change CNN api to use tuples for defining kernels
  tests/garage/tf/models/test_cnn_model.py
Due: check-pylint-unit-tests

Change CNN api to use tuples for defining kernels
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/trpo_cubecrash.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor_model.py
  tests/fixtures/models/simple_cnn_model.py
  tests/fixtures/models/simple_cnn_model_with_max_pooling.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/models/test_cnn.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/garage/tf/models/test_cnn_model.py
  tests/garage/tf/models/test_gaussian_cnn_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
  tests/helpers.py
Due: check-pylint-normal, check-pylint-unit-tests

Update docstring
  src/garage/tf/regressors/gaussian_cnn_regressor_model.py
  tests/helpers.py
Due: check-pylint-normal

Change CNN API to use tuples for defining kernels (#1515)
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  examples/tf/dqn_pong.py
  examples/tf/ppo_memorize_digits.py
  examples/tf/trpo_cubecrash.py
  src/garage/tf/models/categorical_cnn_model.py
  src/garage/tf/models/cnn.py
  src/garage/tf/models/cnn_mlp_merge_model.py
  src/garage/tf/models/cnn_model.py
  src/garage/tf/models/cnn_model_max_pooling.py
  src/garage/tf/models/gaussian_cnn_model.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/q_functions/continuous_cnn_q_function.py
  src/garage/tf/q_functions/discrete_cnn_q_function.py
  src/garage/tf/regressors/gaussian_cnn_regressor.py
  src/garage/tf/regressors/gaussian_cnn_regressor_model.py
  tests/fixtures/models/simple_cnn_model.py
  tests/fixtures/models/simple_cnn_model_with_max_pooling.py
  tests/garage/tf/algos/test_trpo.py
  tests/garage/tf/models/test_categorical_cnn_model.py
  tests/garage/tf/models/test_cnn.py
  tests/garage/tf/models/test_cnn_mlp_merge_model.py
  tests/garage/tf/models/test_cnn_model.py
  tests/garage/tf/models/test_gaussian_cnn_model.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/q_functions/test_continuous_cnn_q_function.py
  tests/garage/tf/q_functions/test_discrete_cnn_q_function.py
  tests/garage/tf/regressors/test_gaussian_cnn_regressor.py
  tests/helpers.py
Due: check-pylint-normal, check-pylint-unit-tests

Implement HER using PathBuffer
  examples/tf/her_ddpg_fetchreach.py
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/ddpg.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove SimpleReplayBuffer
  benchmarks/src/garage_benchmarks/experiments/algos/her_garage_tf.py
  examples/tf/her_ddpg_fetchreach.py
  src/garage/replay_buffer/__init__.py
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/replay_buffer/simple_replay_buffer.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/replay_buffer/test_replay_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove special case checks for HER
  examples/tf/her_ddpg_fetchreach.py
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Implement HER using PathBuffer (#1505)
  benchmarks/src/garage_benchmarks/experiments/algos/her_garage_tf.py
  examples/tf/her_ddpg_fetchreach.py
  src/garage/replay_buffer/__init__.py
  src/garage/replay_buffer/her_replay_buffer.py
  src/garage/replay_buffer/path_buffer.py
  src/garage/replay_buffer/simple_replay_buffer.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/td3.py
  src/garage/torch/algos/ddpg.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/replay_buffer/test_replay_buffer.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor torch utilities
  docs/user/experiments.rst
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/pearl_half_cheetah_vel.py
  examples/torch/pearl_metaworld_ml10.py
  examples/torch/pearl_metaworld_ml1_push.py
  examples/torch/pearl_metaworld_ml45.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/_utils.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  src/garage/torch/utils.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_pearl.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
  tests/garage/torch/test_functions.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor torch utilities (#1553)
  docs/user/experiments.rst
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/pearl_half_cheetah_vel.py
  examples/torch/pearl_metaworld_ml10.py
  examples/torch/pearl_metaworld_ml1_push.py
  examples/torch/pearl_metaworld_ml45.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/torch/__init__.py
  src/garage/torch/_functions.py
  src/garage/torch/_utils.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/policies/gaussian_mlp_policy.py
  src/garage/torch/policies/tanh_gaussian_mlp_policy.py
  src/garage/torch/utils.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_pearl.py
  tests/garage/torch/algos/test_sac.py
  tests/garage/torch/optimizers/test_differentiable_sgd.py
  tests/garage/torch/test_functions.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix tf plotter policy build
  src/garage/tf/plotter/plotter.py
Due: check-pylint-normal

Fix tf plotter policy build (#1554)
  src/garage/tf/plotter/plotter.py
Due: check-pylint-normal

Add SampleBatch
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Rename as TimeStepBatch
  src/garage/__init__.py
  src/garage/_dtypes.py
  tests/garage/test_dtypes.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix tf plotter
  src/garage/tf/plotter/plotter.py
Due: check-pylint-normal
