Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Modify VERSION and README for 2020.06
  README.md
  VERSION
Due: none

Add PixelObservationWrapper (#1559)
  src/garage/envs/wrappers/__init__.py
  src/garage/envs/wrappers/pixel_observation.py
  tests/garage/envs/wrappers/test_pixel_observation_wrapper.py
Due: check-pylint-normal, check-pylint-unit-tests

Export $USER in Dockerfile
  docker/Dockerfile
Due: none

Export $USER in Dockerfile (#1603)
  docker/Dockerfile
Due: none

Update README.md
  README.md
Due: none

Recursively ignore data folder in dockerignore
  .dockerignore
Due: none

Recursively ignore data folder in dockerignore (#1599)
  .dockerignore
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#1609)
  CHANGELOG.md
Due: none

Update VERSION
  VERSION
Due: none

Use pyenv for installing python
  README.md
  docker/Dockerfile
Due: none

Drop python 3.5 support
  .travis.yml
  Makefile
  README.md
  docker/Dockerfile
  docs/user/installation.rst
  setup.py
  src/garage/torch/algos/sac.py
  tests/fixtures/envs/dummy/dummy_multitask_box_env.py
  tests/garage/experiment/test_experiment.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/models/test_model.py
  tests/helpers.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Drop python 3.5 support (#1587)
  .travis.yml
  Makefile
  README.md
  docker/Dockerfile
  docs/user/installation.rst
  setup.py
  src/garage/torch/algos/sac.py
  tests/fixtures/envs/dummy/dummy_multitask_box_env.py
  tests/garage/experiment/test_experiment.py
  tests/garage/experiment/test_task_sampler.py
  tests/garage/tf/baselines/test_gaussian_cnn_baseline.py
  tests/garage/tf/models/test_model.py
  tests/helpers.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Initialise GCP bucket only when needed
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-normal

Only run test jobs if pre-commit passes
  .travis.yml
Due: none

Initialise GCP bucket only when needed (#1598)
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-normal

Unify policy interface
  src/garage/np/policies/__init__.py
  src/garage/np/policies/fixed_policy.py
  src/garage/np/policies/policy.py
  src/garage/np/policies/scripted_policy.py
  src/garage/tf/policies/policy.py
  src/garage/torch/policies/policy.py
  tests/garage/torch/policies/__init__.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix CI
  src/garage/tf/models/module.py
  tests/fixtures/policies/dummy_policy.py
  tests/garage/tf/optimizers/__init__.py
Due: check-pylint-normal, check-pylint-unit-tests

Address comment
  src/garage/np/policies/fixed_policy.py
  src/garage/np/policies/policy.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/policies/policy.py
  src/garage/torch/policies/policy.py
  tests/fixtures/policies/dummy_policy.py
Due: check-pylint-normal

Unify policy interface across the codebase (#1592)
  src/garage/np/policies/__init__.py
  src/garage/np/policies/fixed_policy.py
  src/garage/np/policies/policy.py
  src/garage/np/policies/scripted_policy.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/td3.py
  src/garage/tf/models/module.py
  src/garage/tf/policies/policy.py
  src/garage/torch/policies/policy.py
  tests/fixtures/policies/dummy_policy.py
  tests/garage/tf/optimizers/__init__.py
  tests/garage/torch/policies/__init__.py
Due: check-pylint-normal, check-pylint-unit-tests

Skip length build steps for docs-only PRs
  .travis.yml
  scripts/travisci/check_docs_only.sh
Due: none

[DO NOT SUBMIT] Testing #1612
  README.md
  docs/user/experiments.rst
  scripts/travisci/check_docs_only.sh
Due: none

Rename as BulletEnv
  examples/step_bullet_env.py
  examples/step_bullet_kuka_env.py
  examples/tf/trpo_cartpole_bullet.py
  setup.py
  src/garage/envs/bullet/__init__.py
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/pybullet/__init__.py
  tests/garage/envs/bullet/__init__.py
  tests/garage/envs/bullet/test_bullet_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Pybullet support
  examples/step_bullet_env.py
  examples/tf/trpo_cartpole_bullet.py
  setup.py
  src/garage/envs/pybullet/__init__.py
  src/garage/envs/pybullet/pybullet_env.py
  tests/garage/envs/pybullet/__init__.py
  tests/garage/envs/pybullet/test_pybullet_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Use gym.make()
  examples/step_bullet_kuka_env.py
  examples/tf/trpo_cartpole_bullet.py
  setup.py
  src/garage/envs/bullet/__init__.py
  src/garage/envs/bullet/bullet_env.py
  tests/garage/envs/bullet/test_bullet_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Add Pybullet support (#1589)
  examples/step_bullet_kuka_env.py
  examples/tf/trpo_cartpole_bullet.py
  setup.py
  src/garage/envs/bullet/__init__.py
  src/garage/envs/bullet/bullet_env.py
  tests/garage/envs/bullet/__init__.py
  tests/garage/envs/bullet/test_bullet_env.py
Due: check-pylint-normal, check-pylint-unit-tests

Only run test jobs if pre-commit passes (#1610)
  .travis.yml
Due: none

Skip length build steps for docs-only PRs (#1612)
  .travis.yml
  scripts/travisci/check_docs_only.sh
Due: none

Third draft
  docs/user/testing.md
Due: none

Second draft on testing doc
  docs/user/testing.md
Due: none

Documentation on testing
  docs/user/testing.md
Due: none

Add doc on setup + teardown method
  docs/user/testing.md
Due: none

Documentation on testing (#1578)
  docs/user/testing.md
Due: none
