Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Add log_multitask_performance
  src/garage/__init__.py
  src/garage/_functions.py
  tests/garage/test_functions.py
Due: check-pylint-normal, check-pylint-unit-tests

Create module for RL2
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/rl2/__init__.py
  src/garage/tf/algos/rl2/rl2_worker.py
  tests/garage/sampler/test_rl2_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Put RL2Worker in RL2 directory
  src/garage/sampler/__init__.py
  src/garage/tf/algos/rl2/__init__.py
  src/garage/tf/algos/rl2/rl2_worker.py
  tests/garage/sampler/test_rl2_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

RL2 Worker
  src/garage/sampler/__init__.py
  src/garage/sampler/rl2_worker.py
  tests/garage/sampler/test_rl2_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Add more description
  src/garage/sampler/rl2_worker.py
Due: check-pylint-normal

Remove RL2Sampler
  src/garage/sampler/__init__.py
  src/garage/sampler/rl2_sampler.py
  tests/garage/sampler/test_rl2_sampler.py
  tests/garage/sampler/test_rl2_worker.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix comment
  src/garage/tf/algos/rl2.py
Due: check-pylint-normal

Rename self.evaluate for off-policy algos
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/torch/algos/ddpg.py
Due: check-pylint-normal

Rename self.evaluate for off-policy algos (#1139)
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/torch/algos/ddpg.py
Due: check-pylint-normal

Remove atari-py direct dependency
  setup.py
Due: check-pylint-normal

Skip tests for Defender-* envs
  tests/garage/tf/envs/test_base.py
Due: check-pylint-unit-tests

Remove atari-py dep;Skip Defender envs in nightly tests (#1194)
  setup.py
  tests/garage/tf/envs/test_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Limit Docker memory usage
  Makefile
Due: none

Limit Docker memory usage (#1196)
  Makefile
Due: none

Put RL2Worker in RL2 directory
  src/garage/sampler/rl2_worker.py
Due: check-pylint-normal

Add test
  tests/garage/misc/test_tensor_utils.py
Due: check-pylint-unit-tests

Mark flaky test
  tests/garage/tf/algos/test_batch_polopt2.py
Due: check-pylint-unit-tests

Refactor NPO in preparation for adding RL2NPO
  src/garage/misc/tensor_utils.py
  src/garage/tf/algos/npo.py
  src/garage/tf/policies/gaussian_gru_policy.py
Due: check-pylint-normal

Fix pylint
  tests/garage/tf/algos/test_batch_polopt2.py
Due: check-pylint-unit-tests

Make valids optional
  src/garage/misc/tensor_utils.py
  tests/garage/misc/test_tensor_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

RL2 Worker
  src/garage/sampler/rl2_worker.py
Due: check-pylint-normal

Add test and fix comment
  src/garage/misc/tensor_utils.py
  tests/garage/misc/test_tensor_utils.py
  tests/garage/tf/algos/test_batch_polopt2.py
Due: check-pylint-normal, check-pylint-unit-tests

Refactor NPO (#1189)
  src/garage/misc/tensor_utils.py
  src/garage/tf/algos/npo.py
  src/garage/tf/policies/gaussian_gru_policy.py
  tests/garage/misc/test_tensor_utils.py
  tests/garage/tf/algos/test_batch_polopt2.py
Due: check-pylint-normal, check-pylint-unit-tests

Rebase
  src/garage/torch/utils.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Add more tests
  tests/garage/torch/embeddings/test_recurrent_encoder.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-unit-tests

Address comments
  src/garage/torch/policies/context_conditioned_policy.py
Due: check-pylint-normal

Address comments on logging and protected access
  src/garage/torch/modules/mlp_module.py
  src/garage/torch/policies/context_conditioned_policy.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Add ContextEncoder ABC
  src/garage/torch/embeddings/__init__.py
  src/garage/torch/embeddings/context_encoder.py
  src/garage/torch/embeddings/mlp_encoder.py
Due: check-pylint-normal

Address comments
  src/garage/torch/algos/recurrent_encoder.py
  src/garage/torch/embeddings/__init__.py
  src/garage/torch/embeddings/recurrent_encoder.py
  src/garage/torch/modules/mlp_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/context_conditioned_policy.py
  tests/garage/torch/embeddings/test_recurrent_encoder.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Revise and clean up
  src/garage/torch/embeddings/__init__.py
  src/garage/torch/embeddings/mlp_encoder.py
  src/garage/torch/embeddings/recurrent_encoder.py
  src/garage/torch/policies/context_conditioned_policy.py
  tests/garage/torch/embeddings/test_recurrent_encoder.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix formatting
  src/garage/torch/algos/pearl_inference_network.py
  src/garage/torch/algos/recurrent_encoder.py
  src/garage/torch/modules/mlp_module.py
  tests/garage/torch/algos/test_pearl_inference_network.py
  tests/garage/torch/algos/test_recurrent_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Update tests
  src/garage/torch/policies/context_conditioned_policy.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
  tests/garage/torch/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Add new modules for PEARL
  src/garage/torch/algos/pearl_inference_network.py
  src/garage/torch/algos/recurrent_encoder.py
  src/garage/torch/modules/mlp_module.py
  tests/garage/torch/algos/test_pearl_inference_network.py
  tests/garage/torch/algos/test_recurrent_encoder.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix documentation and address comments
  src/garage/torch/embeddings/context_encoder.py
  src/garage/torch/embeddings/mlp_encoder.py
  src/garage/torch/policies/context_conditioned_policy.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix MLPModule test
  tests/garage/torch/modules/test_mlp_module.py
Due: check-pylint-unit-tests

Fix documentation
  src/garage/torch/policies/context_conditioned_policy.py
  src/garage/torch/utils.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Clean up code
  src/garage/torch/modules/mlp_module.py
Due: check-pylint-normal

Address comments
  src/garage/torch/policies/context_conditioned_policy.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix pylint checks
  src/garage/torch/embeddings/recurrent_encoder.py
  src/garage/torch/policies/context_conditioned_policy.py
Due: check-pylint-normal

Path conditions:
  check-pylint-normal: any of: \.py$, but not: ^tests/garage/.*$
  check-pylint-unit-tests: any of: ^tests/garage/.*$ and \.py$
