Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Update docs
  docs/user/custom_worker.md
  docs/user/ensure_your_experiments_are_reproducible.md
  docs/user/experiments.rst
  docs/user/implement_algo.md
  docs/user/implement_env.md
  docs/user/implement_env.rst
  docs/user/max_resource_usage.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/pixel_observations.md
  docs/user/reuse_garage_policy.md
  docs/user/sampling.md
  docs/user/save_load_resume_exp.md
  docs/user/testing.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
Due: none

Fix bug
  examples/torch/dqn_cartpole.py
  examples/torch/dqn_pong.py
  examples/torch/test_env.py
  src/garage/envs/wrappers/stack_frames.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/modules/discrete_cnn_module.py
Due: check-pylint-normal

Backport #1996 to release-2020.06 (#2000)
  setup.py
Due: check-pylint-normal

Add GH Actions CI badge to README
  README.md
Due: none

Add GH Actions CI badge to README (#2032)
  README.md
Due: none

Add docs for concept experiment
  docs/index.md
  docs/user/concept_experiment.md
Due: none

Update doc
  docs/user/concept_experiment.md
Due: none

Add docs for the concept experiment (#1953)
  docs/index.md
  docs/user/concept_experiment.md
Due: none

Compare other infos when test env pickling
  src/garage/envs/env_spec.py
  tests/garage/tf/envs/test_base.py
  tests/helpers.py
Due: check-pylint-normal, check-pylint-unit-tests

Compare other infos when test env pickling (#2033)
  src/garage/envs/env_spec.py
  tests/garage/tf/envs/test_base.py
  tests/helpers.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove unused variables
  .github/workflows/ci.yml
Due: none

Fix codecov for gh-actions
  .codecov.yml
  .github/workflows/ci.yml
Due: none

Add ending quote to codecov loop
  .github/workflows/ci.yml
Due: none

Allow codecov to fail gh-actions
  .github/workflows/ci.yml
Due: none

Test codecov fix for gh-actions
  .codecov.yml
Due: none

Test codecov using codecov token
  .github/workflows/ci.yml
Due: none

Codecov bugfixes
  .github/workflows/ci.yml
Due: none

Fix CodeCov with GH Actions (#2001)
  .github/workflows/ci.yml
Due: none

Flatten observations in policies if needed(#1812)
  docs/user/implement_algo.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  src/garage/sampler/utils.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/fixtures/envs/dummy/dummy_dict_env.py
  tests/fixtures/q_functions/simple_q_function.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/sampler/test_utils.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_continuous_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
  tests/garage/torch/policies/test_deterministic_mlp_policy.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport #1812
  docs/user/implement_algo.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  setup.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport Various SAC and MTSAC Bug Fixes
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/envs/garage_env.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/garage/envs/test_garage_env.py
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-normal, check-pylint-unit-tests

Save git hash for auto benchmarking
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-unit-tests

Save git hash for auto benchmarking (#2034)
  benchmarks/src/garage_benchmarks/helper.py
Due: check-pylint-unit-tests

Improvements to SAC MTSAC
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Backport Various SAC and MTSAC Bug Fixes (#2029)
  examples/torch/mtsac_metaworld_ml1_pick_place.py
  examples/torch/mtsac_metaworld_mt10.py
  examples/torch/mtsac_metaworld_mt50.py
  examples/torch/sac_half_cheetah_batch.py
  src/garage/envs/garage_env.py
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/garage/envs/test_garage_env.py
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-normal, check-pylint-unit-tests

Improvements to SAC MTSAC (#2003)
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

Disable Ray Dashboard
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  src/garage/sampler/ray_sampler.py
  tests/fixtures/sampler/ray_fixtures.py
Due: check-pylint-normal

Disable Ray Dashboard (#2036)
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  src/garage/sampler/ray_sampler.py
  tests/fixtures/sampler/ray_fixtures.py
Due: check-pylint-normal

Add torch DiscreteCNNModule & DiscreteCNNQFunction
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/q_functions/__init__.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  tests/garage/torch/modules/test_discrete_cnn_module.py
  tests/garage/torch/q_functions/test_discrete_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Add torch DiscreteCNNModule & DiscreteCNNQFunction (#2022)
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/cnn_module.py
  src/garage/torch/modules/discrete_cnn_module.py
  src/garage/torch/q_functions/__init__.py
  src/garage/torch/q_functions/discrete_cnn_q_function.py
  tests/garage/torch/modules/test_discrete_cnn_module.py
  tests/garage/torch/q_functions/test_discrete_cnn_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

update step() function and one_hot tests
  src/garage/envs/multi_env_wrapper.py
  tests/garage/envs/test_multi_env_wrapper.py
  tests/garage/torch/algos/test_mtsac.py
Due: check-pylint-normal, check-pylint-unit-tests

Add mtsac docs
  docs/index.md
Due: none

Add mtsac doc
  docs/user/algo_mtsac.md
Due: none

Update author name
  docs/user/algo_mtsac.md
Due: none

Use EpisodeBatch in Torch SAC
  src/garage/torch/algos/mtsac.py
  src/garage/torch/algos/sac.py
  tests/garage/torch/algos/test_mtsac.py
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport #1812 to 2020.06 (#1997)
  setup.py
  src/garage/sampler/utils.py
  src/garage/tf/policies/categorical_cnn_policy.py
  src/garage/tf/policies/categorical_gru_policy.py
  src/garage/tf/policies/categorical_lstm_policy.py
  src/garage/tf/policies/categorical_mlp_policy.py
  src/garage/tf/policies/continuous_mlp_policy.py
  src/garage/tf/policies/discrete_qf_derived_policy.py
  src/garage/tf/policies/gaussian_gru_policy.py
  src/garage/tf/policies/gaussian_lstm_policy.py
  src/garage/tf/policies/gaussian_mlp_policy.py
  src/garage/tf/policies/gaussian_mlp_task_embedding_policy.py
  src/garage/torch/policies/deterministic_mlp_policy.py
  src/garage/torch/policies/stochastic_policy.py
  tests/fixtures/envs/dummy/dummy_dict_env.py
  tests/fixtures/q_functions/simple_q_function.py
  tests/garage/replay_buffer/test_her_replay_buffer.py
  tests/garage/sampler/test_utils.py
  tests/garage/tf/policies/test_categorical_cnn_policy.py
  tests/garage/tf/policies/test_categorical_gru_policy.py
  tests/garage/tf/policies/test_categorical_lstm_policy.py
  tests/garage/tf/policies/test_categorical_mlp_policy.py
  tests/garage/tf/policies/test_continuous_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_gru_policy.py
  tests/garage/tf/policies/test_gaussian_lstm_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_policy.py
  tests/garage/tf/policies/test_gaussian_mlp_task_embedding_policy.py
  tests/garage/tf/policies/test_qf_derived_policy.py
  tests/garage/torch/policies/test_context_conditioned_policy.py
  tests/garage/torch/policies/test_deterministic_mlp_policy.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
  tests/integration_tests/test_examples.py
Due: check-pylint-normal, check-pylint-unit-tests

Add two torch primitives
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/tf/dqn_cartpole.py
  examples/tf/dqn_pong.py
  src/garage/tf/policies/__init__.py
  src/garage/tf/policies/discrete_qf_argmax_policy.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/discrete_qf_argmax_policy.py
  src/garage/torch/q_functions/__init__.py
  src/garage/torch/q_functions/discrete_mlp_q_function.py
  tests/garage/tf/algos/test_dqn.py
  tests/garage/tf/policies/test_discrete_qf_argmax_policy.py
  tests/garage/torch/policies/test_discrete_qf_argmax_policy.py
  tests/garage/torch/q_functions/test_discrete_mlp_q_function.py
Due: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
