Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Backport #1878 (#1885)
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Update test_dm_control_env.py
  tests/garage/envs/dm_control/test_dm_control_env.py
Due: check-pylint-unit-tests

Suppress physics errors in dm_control tests
  tests/garage/envs/dm_control/test_dm_control_env.py
Due: check-pylint-unit-tests

Backport #1878 (#1884)
  tests/garage/tf/algos/test_trpo.py
Due: check-pylint-unit-tests

Suppress physics errors in dm_control tests (#1877)
  tests/garage/envs/dm_control/test_dm_control_env.py
Due: check-pylint-unit-tests

Unpin tf
  setup.py
Due: check-pylint-normal

Remove pyglet
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Update docs/requirements.txt
  docs/requirements.txt
Due: none

Relax test_dqn
  tests/garage/tf/algos/test_dqn.py
Due: check-pylint-unit-tests

Unpin TensorFlow (#1879)
  docs/requirements.txt
  setup.py
  tests/garage/tf/algos/test_dqn.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport #1879
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Backport #1879 (#1889)
  docs/requirements.txt
  setup.py
Due: check-pylint-normal

Fix for master bug
  .github/workflows/ci.yml
Due: none

Fix for master bug (#1888)
  .github/workflows/ci.yml
Due: none

Add torch and Tf A2C
  .pre-commit-config.yaml
  examples/tf/a2c_pendulum.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/a2c.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/a2c.py
  tests/garage/tf/algos/test_a2c.py
  tests/garage/torch/algos/test_a2c.py
Due: check-pylint-normal, check-pylint-unit-tests

Standardize around "episode" terminology (#1892)
  src/garage/sampler/utils.py
Due: check-pylint-normal

Fix EnvStep comparison and tests
  examples/tf/rl2_ppo_metaworld_ml10.py
  examples/tf/rl2_ppo_metaworld_ml10_meta_test.py
  examples/tf/rl2_ppo_metaworld_ml45.py
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  src/garage/_environment.py
  src/garage/envs/gym_env.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/garage/tf/envs/test_gym_base.py
  tests/helpers.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix EnvStep comparison and tests (#1897)
  examples/tf/rl2_ppo_metaworld_ml10.py
  examples/tf/rl2_ppo_metaworld_ml10_meta_test.py
  examples/tf/rl2_ppo_metaworld_ml45.py
  examples/tf/trpo_swimmer_ray_sampler.py
  examples/torch/trpo_pendulum_ray_sampler.py
  src/garage/_environment.py
  src/garage/envs/gym_env.py
  tests/fixtures/sampler/ray_fixtures.py
  tests/garage/tf/envs/test_gym_base.py
  tests/helpers.py
Due: check-pylint-normal, check-pylint-unit-tests

Update torch.full with dtype arg
  src/garage/torch/_functions.py
  tests/garage/torch/modules/test_gaussian_mlp_module.py
  tests/garage/torch/modules/test_multi_headed_mlp_module.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Update torch.full with dtype arg (#1899)
  src/garage/torch/_functions.py
  tests/garage/torch/modules/test_gaussian_mlp_module.py
  tests/garage/torch/modules/test_multi_headed_mlp_module.py
  tests/garage/torch/policies/test_gaussian_mlp_policy.py
  tests/garage/torch/policies/test_tanh_gaussian_mlp_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Support all bullet envs
  src/garage/envs/bullet/__init__.py
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/gym_env.py
  tests/garage/envs/bullet/test_bullet_env.py
  tests/garage/tf/envs/test_gym_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Update test_gym_base.py
  src/garage/envs/bullet/bullet_env.py
  tests/garage/tf/envs/test_gym_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Support all registered bullet gym envs (#1766)
  src/garage/envs/bullet/__init__.py
  src/garage/envs/bullet/bullet_env.py
  src/garage/envs/gym_env.py
  tests/garage/envs/bullet/test_bullet_env.py
  tests/garage/tf/envs/test_gym_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Add A2C benchmarking scripts
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/__init__.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_tf.py
  examples/tf/a2c_pendulum.py
  src/garage/tf/algos/a2c.py
  src/garage/torch/algos/a2c.py
Due: check-pylint-normal, check-pylint-unit-tests

Modify A2C hyperparams
  benchmarks/src/garage_benchmarks/benchmark_algos.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/a2c_garage_tf.py
  examples/tf/a2c_pendulum.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix nightly tests
  setup.py
  src/garage/envs/gym_env.py
  src/garage/tf/algos/rl2.py
  tests/garage/tf/envs/test_gym_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Add missing backslash
  Makefile
Due: none

Fix nightly tests (#1910)
  setup.py
  src/garage/envs/gym_env.py
  src/garage/tf/algos/rl2.py
  tests/garage/tf/envs/test_gym_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Rollout stop collecting steps upon timeout
  src/garage/sampler/utils.py
Due: check-pylint-normal
