Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

.pre-commit-config.yaml:

fail_fast: false # set to true to have pre-commit stop running hooks after the first failure.
default_stages: [commit, push]

repos:
-   repo: local
    hooks:
    -   id: check-commit-message
        stages: [commit-msg]
        name: Check commit message
        language: script
        entry: scripts/check_commit_message
    -   id: check-pylint-normal
        name: Check pylint (except unit tests)
        types: [file, python]
        exclude: ^tests/garage/.*$  # exclude unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
    -   id: check-pylint-unit-tests
        name: Check pylint for unit tests
        types: [file, python]
        files: ^tests/garage/.*$  # check only unit tests
        require_serial: true  # pylint does its own parallelism
        language: system
        entry: pylint
        args: [--rcfile=tests/garage/.pylintrc]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-added-large-files          # Prevent giant files from being committed.
    -   id: check-ast                        # Simply check whether files parse as valid python.
    -   id: check-byte-order-marker          # Forbid files which have a UTF-8 byte-order marker
    -   id: check-docstring-first            # Checks for a common error of placing code before the docstring.
    -   id: check-executables-have-shebangs  # Checks that non-binary executables have a proper shebang.
    -   id: check-json                       # Attempts to load all json files to verify syntax.
    -   id: check-merge-conflict             # Check for files that contain merge conflict strings.
    -   id: check-symlinks                   # Checks for symlinks which do not point to anything.
    -   id: check-vcs-permalinks             # Ensures that links to vcs websites are permalinks.
    -   id: check-xml                        # Attempts to load all xml files to verify syntax.
    -   id: check-yaml                       # Attempts to load all yaml files to verify syntax.
    -   id: debug-statements                 # Check for debugger imports and py37+ breakpoint() calls in python source.
    -   id: detect-private-key               # Checks for the existence of private keys.
    -   id: double-quote-string-fixer        # This hook replaces double quoted strings with single quoted strings.
    -   id: end-of-file-fixer                # Makes sure files end in a newline and only a newline.
    -   id: flake8                           # Run flake8 on your Python files
        additional_dependencies:
          -   'flake8-docstrings>=1.5.0'
          -   'flake8-import-order'
          -   'pycodestyle>=2.5.0'
          -   'pydocstyle>=4.0.0'
    -   id: forbid-new-submodules            # Prevent addition of new git submodules.
    -   id: mixed-line-ending                # Replaces or checks mixed line ending.
    -   id: pretty-format-json               # Checks that all your JSON files have keys that are sorted and indented.
    -   id: trailing-whitespace              # Trims trailing whitespace.

# First pass: check format
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Check format with yapf
        args: ['-vv', '-dpr']

# Second pass: format in-place
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.28.0
    hooks:
    -   id: yapf
        name: Format in-place with yapf
        args: ['-vv', '-ipr']

Add stats of total env steps (#1017)
  .pylintrc
  scripts/garage
  src/garage/experiment/local_runner.py
  src/garage/experiment/snapshotter.py
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/off_policy_rl_algorithm.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/tf/algos/batch_polopt.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
  tests/fixtures/tf/algos/dummy_off_policy_algo.py
  tests/garage/experiment/test_resume.py
  tests/garage/experiment/test_snapshotter_integration.py
  tests/garage/sampler/test_is_sampler.py
  tests/garage/sampler/test_on_policy_vectorized_sampler.py
  tests/garage/sampler/test_sampler.py
  tests/garage/tf/experiment/test_local_tf_runner.py
Due: check-pylint-normal, check-pylint-unit-tests

Test the package, not the repo
  Makefile
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  docker/Dockerfile.runtime
  environment.yml
Due: none

Add __init__.py to garage/torch
  src/garage/torch/__init__.py
Due: check-pylint-normal

Fix examples in tf branch (#1009)
  src/garage/envs/base.py
  src/garage/misc/tensor_utils.py
  src/garage/sampler/off_policy_vectorized_sampler.py
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/sampler/ray_sampler.py
  src/garage/sampler/utils.py
  src/garage/tf/q_functions/continuous_mlp_q_function.py
  tests/garage/misc/test_tensor_utils.py
  tests/garage/sampler/test_utils.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix torch packaging and use package in the CI (#1031)
  Makefile
  docker/Dockerfile.base.16.04
  docker/Dockerfile.base.18.04
  docker/Dockerfile.runtime
  environment.yml
  src/garage/torch/__init__.py
Due: check-pylint-normal

Support non-linearity function and module
  src/garage/torch/modules/mlp_module.py
  src/garage/torch/modules/multi_headed_mlp_module.py
  tests/garage/torch/modules/test_mlp_module.py
  tests/garage/torch/modules/test_multi_headed_mlp_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Support non-linearity function and module (#928)
  src/garage/torch/modules/mlp_module.py
  src/garage/torch/modules/multi_headed_mlp_module.py
  tests/garage/torch/modules/test_mlp_module.py
  tests/garage/torch/modules/test_multi_headed_mlp_module.py
Due: check-pylint-normal, check-pylint-unit-tests

Install script changes for macOS 10.15.1
  scripts/setup_macos.sh
Due: none

Sac now passess all loss tests
  examples/torch/sac_half_cheetah.py
  src/garage/torch/algos/sac.py
  tests/garage/torch/algos/test_sac.py
Due: check-pylint-normal, check-pylint-unit-tests

Install script changes for macOS 10.15.1 (#1043)
  scripts/setup_macos.sh
Due: none

Refactor local_runner train method
  src/garage/experiment/local_runner.py
Due: check-pylint-normal

temp stash
  examples/torch/sac_half_cheetah.py
  src/garage/torch/algos/sac.py
Due: check-pylint-normal

temp stash
  src/garage/torch/distributions/tanh_normal_distribution.py
Due: check-pylint-normal

Improvements for PyTorch TRPO
  src/garage/torch/optimizers/conjugate_gradient_optimizer.py
Due: check-pylint-normal

Improvements for PyTorch TRPO (#1053)
  src/garage/torch/optimizers/conjugate_gradient_optimizer.py
Due: check-pylint-normal

Fix garage.envs.GarageEnv
  src/garage/envs/base.py
  tests/garage/tf/envs/test_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix garage.envs.GarageEnv (#1029)
  src/garage/envs/base.py
  tests/garage/tf/envs/test_base.py
Due: check-pylint-normal, check-pylint-unit-tests

Add valids return
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/tf/algos/batch_polopt2.py
Due: check-pylint-normal

Modify BatchPolopt to flatten sample paths
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/batch_polopt2.py
Due: check-pylint-normal

Fix docstring format
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/tf/algos/batch_polopt2.py
Due: check-pylint-normal

Address comment
  src/garage/tf/algos/batch_polopt2.py
Due: check-pylint-normal

Add test
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/tf/algos/batch_polopt2.py
  tests/garage/tf/algos/test_batch_polopt2.py
Due: check-pylint-normal, check-pylint-unit-tests

Pylint
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/tf/algos/batch_polopt2.py
Due: check-pylint-normal

Add comment
  src/garage/tf/algos/batch_polopt2.py
Due: check-pylint-normal

Modify BatchPolopt to return flattened sample paths (#1023)
  src/garage/sampler/on_policy_vectorized_sampler.py
  src/garage/tf/algos/__init__.py
  src/garage/tf/algos/batch_polopt2.py
  tests/garage/tf/algos/test_batch_polopt2.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove optimizer_args from torch algos
  examples/torch/ddpg_pendulum.py
  examples/torch/ppo_pendulum.py
  examples/torch/vpg_pendulum.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/_utils.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/utils.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_vpg.py
  tests/garage/torch/algos/test_ddpg.py
  tests/garage/torch/algos/test_ppo.py
  tests/garage/torch/algos/test_torch_algo_utils.py
  tests/garage/torch/algos/test_trpo.py
  tests/garage/torch/algos/test_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Remove optimizer_args from torch algos (#1030)
  examples/torch/ddpg_pendulum.py
  examples/torch/ppo_pendulum.py
  examples/torch/vpg_pendulum.py
  src/garage/torch/algos/__init__.py
  src/garage/torch/algos/_utils.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/ppo.py
  src/garage/torch/algos/trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/utils.py
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_trpo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_vpg.py
  tests/garage/torch/algos/test_ddpg.py
  tests/garage/torch/algos/test_ppo.py
  tests/garage/torch/algos/test_torch_algo_utils.py
  tests/garage/torch/algos/test_trpo.py
  tests/garage/torch/algos/test_vpg.py
Due: check-pylint-normal, check-pylint-unit-tests

Backport v2018.10.2 (#809)
  VERSION
  docker/Dockerfile.ci
  docs/conf.py
  garage/tf/algos/npo.py
  garage/tf/misc/tensor_utils.py
  scripts/sim_policy.py
  setup.py
Due: check-pylint-normal

Doc: renamed "source activate" (#1056)
  docs/user/installation.rst
Due: none

Doc: renamed "source activate" (#1056) (#1064)
  docs/user/installation.rst
Due: none

Rename private vars as _var_name in NPO and REPS
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
Due: check-pylint-normal

Remove get_itr_snapshot()
  src/garage/np/algos/batch_polopt.py
  src/garage/np/algos/nop.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  tests/fixtures/algos/dummy_tf_algo.py
  tests/fixtures/algos/instrumented_nop.py
Due: check-pylint-normal

Fix pylint in tests
  tests/benchmarks/garage/tf/algos/test_benchmark_ppo.py
  tests/benchmarks/garage/tf/algos/test_benchmark_vpg.py
Due: check-pylint-normal

Fix __getstate__
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
Due: check-pylint-normal

Delete unnecessary raises in docstring
  src/garage/tf/algos/npo.py
  tests/fixtures/algos/dummy_tf_algo.py
Due: check-pylint-normal
