Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$

Test new token
  .github/workflows/ci.yml
Due: none

Rename pypi
  .github/workflows/ci.yml
Due: none

added check for max_episode_length
  src/garage/tf/algos/npo.py
Due: check-pylint-normal

added test
  tests/garage/tf/algos/test_npo.py
Due: check-pylint-unit-tests

Fix setup.py
  setup.py
Due: check-pylint-normal

Add extra keys to _functions logging
  examples/sim_policy.py
  metaworld_launchers/single_task_launchers/ppo_metaworld.py
  src/garage/_functions.py
Due: check-pylint-normal

moved if statement and changed double quotes to single quotes
  src/garage/tf/algos/npo.py
Due: check-pylint-normal

Add deployments to GitHub Actions (#2078)
  .github/workflows/ci.yml
  .travis.yml
Due: none

Update docs and benchmarks
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/trpo_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/trpo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/vpg_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/vpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/baselines/continuous_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/continuous_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/q_functions/continuous_mlp_q_function.py
  docs/user/custom_worker.md
  docs/user/ensure_your_experiments_are_reproducible.md
  docs/user/experiments.rst
  docs/user/get_started.md
  docs/user/implement_algo.md
  docs/user/implement_env.rst
  docs/user/max_resource_usage.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/sampling.md
  docs/user/testing.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/tf/trpo_cartpole.py
  examples/torch/trpo_pendulum.py
Due: check-pylint-normal, check-pylint-unit-tests

Add docker hub deployment
  .github/workflows/ci.yml
Due: none

Add conditions for deployment
  .github/workflows/ci.yml
Due: none

Update docs and benchmarks (#2194)
  benchmarks/src/garage_benchmarks/experiments/algos/ddpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/her_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/ppo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/td3_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/trpo_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/trpo_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/algos/vpg_garage_pytorch.py
  benchmarks/src/garage_benchmarks/experiments/algos/vpg_garage_tf.py
  benchmarks/src/garage_benchmarks/experiments/baselines/continuous_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_cnn_baseline.py
  benchmarks/src/garage_benchmarks/experiments/baselines/gaussian_mlp_baseline.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_cnn_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/categorical_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/continuous_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_gru_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_lstm_policy.py
  benchmarks/src/garage_benchmarks/experiments/policies/gaussian_mlp_policy.py
  benchmarks/src/garage_benchmarks/experiments/q_functions/continuous_mlp_q_function.py
  docs/user/custom_worker.md
  docs/user/ensure_your_experiments_are_reproducible.md
  docs/user/experiments.rst
  docs/user/get_started.md
  docs/user/implement_algo.md
  docs/user/implement_env.rst
  docs/user/max_resource_usage.md
  docs/user/meta_multi_task_rl_exp.md
  docs/user/sampling.md
  docs/user/testing.md
  docs/user/training_a_policy.md
  docs/user/use_pretrained_network_to_start_new_experiment.md
  examples/tf/trpo_cartpole.py
  examples/torch/trpo_pendulum.py
Due: check-pylint-normal, check-pylint-unit-tests

added categorical gru policy
  src/garage/torch/modules/__init__.py
  src/garage/torch/modules/categorical_gru_module.py
  src/garage/torch/modules/gru_module.py
  src/garage/torch/policies/__init__.py
  src/garage/torch/policies/categorical_gru_policy.py
  tests/garage/torch/policies/test_categorical_gru_policy.py
Due: check-pylint-normal, check-pylint-unit-tests

Set seed in env wrapper
  src/garage/_environment.py
Due: check-pylint-normal

Add seeding for dm control envs + test
  src/garage/envs/dm_control/dm_control_env.py
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-normal, check-pylint-unit-tests

Update sampling doc
  docs/user/sampling.md
Due: none

Make algos' sampler field protected
  docs/user/implement_algo.md
  examples/np/tutorial_cem.py
  examples/tf/tutorial_vpg.py
  examples/torch/tutorial_vpg.py
  src/garage/np/algos/cem.py
  src/garage/np/algos/cma_es.py
  src/garage/tf/algos/ddpg.py
  src/garage/tf/algos/dqn.py
  src/garage/tf/algos/npo.py
  src/garage/tf/algos/reps.py
  src/garage/tf/algos/rl2.py
  src/garage/tf/algos/td3.py
  src/garage/tf/algos/te_npo.py
  src/garage/torch/algos/bc.py
  src/garage/torch/algos/ddpg.py
  src/garage/torch/algos/dqn.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/pearl.py
  src/garage/torch/algos/sac.py
  src/garage/torch/algos/td3.py
  src/garage/torch/algos/vpg.py
  src/garage/trainer.py
  tests/garage/experiment/test_meta_evaluator.py
Due: check-pylint-normal, check-pylint-unit-tests

added gru module tests
  src/garage/torch/modules/gru_module.py
  tests/garage/torch/modules/test_categorical_gru_module.py
Due: check-pylint-normal, check-pylint-unit-tests

switched return to assert
  tests/garage/torch/modules/test_categorical_gru_module.py
Due: check-pylint-unit-tests

Fix CI
  src/garage/trainer.py
  tests/garage/experiment/test_trainer.py
Due: check-pylint-normal, check-pylint-unit-tests

Fix docstr
  src/garage/trainer.py
Due: check-pylint-normal

Test deployment
  .github/workflows/ci.yml
Due: none

Fix: remove script stub from test
  tests/garage/sampler/test_local_sampler.py
Due: check-pylint-unit-tests

Temp testing build and docker_launcher
  build_gcp_cpu_only.py
  build_gcp_gpu.py
  docker_metaworld_py.py
  metaworld_launchers/single_task_launchers/install.py
  metaworld_launchers/single_task_launchers/sac_metaworld.py
  setup.py
  src/garage/_dtypes.py
Due: check-pylint-normal

Update for various tiny bugs
  docker_metaworld_py.py
  download_mjkey.py
Due: check-pylint-normal

Update hyper params of meta eval for ml10 launchers
  docker/Dockerfile
  docker_metaworld_launcher.py
  docker_metaworld_ml10.py
  examples/sim_policy.py
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
  metaworld_launchers/ml10/pearl_metaworld_ml10.py
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
  metaworld_launchers/mt10/mtsac_metaworld_mt10.py
  metaworld_launchers/mt10/te_ppo_metaworld_mt10.py
  metaworld_launchers/single_task_launchers/sac_metaworld.py
Due: check-pylint-normal

ML10 MT10 final files run 1 12 10 2020
  docker/Dockerfile
  docker_metaworld_mlt10.py
  metaworld_launchers/ml10/pearl_metaworld_ml10.py
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
  setup.py
Due: check-pylint-normal

Make bug fixes to final launchers docker
  docker_metaworld_ml10.py
  docker_metaworld_mt10.py
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
Due: check-pylint-normal

Update launchers to only accept seed as hyperparam
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
Due: check-pylint-normal

Backport deployment using build matrix
  .github/workflows/nightly.yml
Due: none

Test nightly with push
  .github/workflows/nightly.yml
Due: none

Test evaluation
  .github/workflows/nightly.yml
Due: none

Test env variable workaround
  .github/workflows/nightly.yml
Due: none

Test full workflow
  .github/workflows/nightly.yml
Due: none

Test on python 3.8
  .github/workflows/ci.yml
  docker/Dockerfile
Due: none
