Repository rlworkgroup/garage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pylint-normal, check-pylint-unit-tests

check-pylint-normal:
  name: Check pylint (except unit tests and benchmarks)
  require_serial: true
  language: system
  entry: pylint

check-pylint-unit-tests:
  name: Check pylint for unit tests and benchmarks
  require_serial: true
  language: system
  entry: pylint
  args:
  - --rcfile=tests/garage/.pylintrc

Add rl2 with stddev clipping and neg log liklihood entroy and shared std and mean network
  metaworld_launchers/mt1/rl2_ppo_metaworld_mt1.py
  src/garage/tf/algos/_rl2npo.py
  src/garage/tf/algos/npo.py
Due: check-pylint-normal

launch MAML MT1 experiments
  metaworld_launchers/mt1/maml_ppo_metaworld_mt1.py
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
Due: check-pylint-normal

Working launcher
  metaworld_launchers/launch-experiment.sh
Due: none

Rl2-ppo ml1 launchers initial commit
  metaworld_launchers/launch-experiment.sh
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1.py
  metaworld_launchers/ml1/maml_trpo_metaworld_ml1_pick_place.py
  metaworld_launchers/ml1/rl2_ppo_metaworld_ml1.py
Due: check-pylint-normal

Add launchers for MTPPO MT1
  metaworld_launchers/mt1/mtppo_metaworld_mt1.py
  setup.py
Due: check-pylint-normal

Add Soft Clip to Gaussian GRU Policy and Model
  metaworld_launchers/mt1/rl2_ppo_metaworld_mt1.py
  src/garage/tf/models/gaussian_gru_model.py
Due: check-pylint-normal

Trying No Clip
  metaworld_launchers/mt1/rl2_ppo_metaworld_mt1.py
Due: check-pylint-normal

Update docker launcher to allow passing of different learning rates to maml
  docker_metaworld_ml10.py
Due: check-pylint-normal

MAML the value function and add options for policy architecture
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/policies/gaussian_mlp_policy.py
Due: check-pylint-normal

checking with different entropy coeffs
  metaworld_launchers/launch-instances-maml-mt1.py
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
Due: check-pylint-normal

Add command for testing PRs from forks
  .github/workflows/ci.yml
  .github/workflows/ok-to-test.yml
Due: none

Test CI for forks
  tests/garage/test_ci.py
Due: check-pylint-unit-tests

Linear Baseline for MAML
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
  src/garage/torch/algos/maml.py
  src/garage/torch/algos/maml_trpo.py
  src/garage/torch/algos/vpg.py
  src/garage/torch/value_functions/__init__.py
  src/garage/torch/value_functions/linear_feature_baseline.py
Due: check-pylint-normal

Test
  .github/workflows/ok-to-test.yml
Due: none

Add inner-lr hparam
  metaworld_launchers/launch-instances-maml-mt1.py
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
  src/garage/torch/algos/maml.py
Due: check-pylint-normal

Add inner_lr half-cheetah
  examples/torch/maml_trpo_half_cheetah_dir.py
Due: check-pylint-normal

Modify launchers for multiple zones
  metaworld_launchers/launch-instances-maml-halfcheetah-velocity.py
Due: check-pylint-normal

Working linear baseline maml
  metaworld_launchers/launch-instances-maml-mt1.py
  metaworld_launchers/launch-instances.py
  metaworld_launchers/mt1/maml_trpo_metaworld_mt1.py
Due: check-pylint-normal

update ml1- rl2 ppo metaworld ml10 launcher
  metaworld_launchers/launch-instances-maml-mt1.py
  metaworld_launchers/launch-instances-rl2-mt1.py
  metaworld_launchers/ml10/rl2_ppo_metaworld_ml10.py
Due: check-pylint-normal

Cleaned up gcp launcher
  metaworld_launchers/launch-instances.py
Due: check-pylint-normal

MAML ml10 launcher, with shared std_mean_network
  metaworld_launchers/launch-instances.py
  metaworld_launchers/ml10/maml_trpo_metaworld_ml10.py
  src/garage/torch/policies/gaussian_mlp_policy.py
Due: check-pylint-normal

Update status badges in README, remove 2019.10
  README.md
Due: none

Update status badges in README, remove 2019.10 (#2220)
  README.md
Due: none

Add workflow file in release branch
  .github/workflows/ci-release-2020.06.yml
Due: none

Add workflow file in release branch (#2221)
  .github/workflows/ci-release-2020.06.yml
Due: none

Fix pre-commit on release
  .github/workflows/ci-release-2020.06.yml
Due: none

Remove triggers for release PR on master
  .github/workflows/ci-release-2020.06.yml
Due: none

Remove triggers for release PR on master (#2223)
  .github/workflows/ci-release-2020.06.yml
Due: none

Fix pre-commit on release (#2222)
  .github/workflows/ci-release-2020.06.yml
Due: none

Update user account used for CI ops
  .github/workflows/ci-release-2020.06.yml
  .github/workflows/ci.yml
Due: none

Update user account used for CI ops
  .github/workflows/ci-release-2020.06.yml
Due: none

Update user account used for CI ops (#2224)
  .github/workflows/ci-release-2020.06.yml
  .github/workflows/ci.yml
Due: none

Compile mujoco extensions during docker build
  docker/Dockerfile
Due: none

Split docker docs into user and dev docs
  docs/user/docker.md
  docs/user/docker_dev.md
Due: none

Update docker target name in CI config
  .github/workflows/ci.yml
Due: none

Add docker target that installs garage from pypi
  docker/Dockerfile
Due: none

Update docker target for build-test & build-ci
  Makefile
Due: none

Use docker BuildKit on Github Actions
  .github/workflows/ci.yml
Due: none

Update hooks for Docker Hub
  docker/hooks/build
Due: none

Update Makefile to expose updated docker targets
  Makefile
Due: none

Path conditions:
  check-pylint-normal: any of: \.py$, but not: (^tests/garage/.*$|^benchmarks/)
  check-pylint-unit-tests: any of: (^tests/garage/.*$|^benchmarks/) and \.py$
